{!check_member}
<div class="contact_signup_text">We look forward to hearing from you. First we need your name and email address. Please create a new account which will provide us with that information. You can also use this account to save favorite listings and get notifications when new listings meet your requirements. </div>
<br />
{login_failed_block}<div class="redtext">Your login failed. Please try again or create a new account.</div>{/login_failed_block}
{user_email_activation_block}<div class="redtext">This site requires that you activate your new account via email to confirm the email address you provided is valid. Once you click the link provided in your email you can login and complete your inquiry.</div>{/user_email_activation_block}
{user_moderation_block}<div class="redtext">This site has member moderation turned on. You will recieve an email as soon as the site administrators activates your account, at which time you can login and complete your inquiry.</div>{/user_moderation_block}
{misc_signup_error_block}<div class="redtext">{misc_signup_error_msg}</div>{/misc_signup_error_block}
{user_captcha_failed_block}<div class="redtext">Captcha Error - Please reenter the captcha information.</div>{/user_captcha_failed_block}
<div>
	<div class="section_link_container">
		<div id="signup_section_link" class="or_std_button">Create an account</div>
		<div id="login_section_link" class="or_std_button">Already a member? Log in</div>
	</div>
	<div class="clear"></div>
	<div id="signup_section">	
		<form id="usersignup" action="#" method="POST">
		<fieldset>
		
		
		<div class="field_caption">{lang_user_name} <span class="redtext">*</span></div>
		<div class="field_element"> <input type="text" name="edit_user_name" value="{edit_user_name}" class="required"/></div>
		<div class="clear"></div>
		
		<div class="field_caption">{lang_user_password} <span class="redtext">*</span></div>
		<div class="field_element"> <input type="password" class="required" name="edit_user_pass" /></div>
		<div class="clear"></div>

		
		<div class="field_caption">{lang_user_password} ({lang_again})<span class="redtext">*</span></div>
		<div class="field_element"> <input type="password" class="required" name="edit_user_pass2" /></div>
		<div class="clear"></div>
		
		
		<div class="field_caption">{lang_user_manager_first_name}<span class="redtext">*</span></div>
		<div class="field_element"> <input type="text"  class="required" value="{user_first_name}" name="user_first_name" /></div>
		<div class="clear"></div>
		
		
		<div class="field_caption">{lang_user_manager_last_name}<span class="redtext">*</span></div>
		<div class="field_element"> <input type="text" name="user_last_name" value="{user_last_name}" class="required" /></div>
		<div class="clear"></div>
		
		<div class="field_caption">{lang_user_email}<span class="redtext">*</span><br />{email_not_displayed}</div>
		<div class="field_element"> <input type="text" name="user_email" value="{user_email}" class="{curley_open}validate:{curley_open}required:true,email:true{curley_close}{curley_close}" /></div>
		<div class="clear"></div>
		
		{captcha_display}
		
		<input class="or_std_button" type="submit" value="Next ->"/>	
		</fieldset>
		</form>
				
	</div>
	
	<div id="login_section">
		<form id="usersignup" action="#" method="POST">
		<fieldset>
			<div class="field_caption">{lang_admin_login_name}</div>
			<div class="field_element"><input type="text" name="user_name" maxlength="30" /></div>
			<div class="clear"></div>
			<div class="field_caption">{lang_admin_password}</div>
			<div class="field_element"><input type="password" name="user_pass" maxlength="30" /></div>
			<div class="clear"></div>
			<div class="field_caption">{lang_remember_me}</div>
			<div class="field_element"><input type="checkbox" name="remember" /></div>
			<div class="clear"></div>
			<input class="or_std_button" type="submit" value="Login ->"/>	
			
		</fieldset>
		</form>
	</div>
</div>
{/!check_member}
	
{check_member}

<div class="application_rounded_box">	
	
	<div class="application_rounded_box_title">Contact Form</div>

	<form name="add_feedback" id="add_feedback" action="index.php?action=contact_agent{extra_url}" method="post">
 
	<!-- don't change or delete these hidden fields -->
	<input type="hidden" name="formaction" value="create_new_lead" />    	
	{listing_contact_block}<input type="hidden" name="listingID" value="{listing_id}" />{/listing_contact_block}
	{agent_contact_block}<input type="hidden" name="agent_id" value="{agent_id}" />{/agent_contact_block}
	{user_captcha_failed_block}<div style="text-align:center;" class="redtext">Captcha Error - Please reenter the captcha information.</div>{/user_captcha_failed_block}
	
	<div style="text-align: center; padding: 5px;">
 		Items marked * are required
	</div >	
		
	<div style="float: left; padding: 5px;">
		<!-- insert Agent selection -->
		 <span style="font-size: 10pt; font-weight: bold;">Agent: </span>{listing_agent_last_name}, {listing_agent_first_name}
	</div>	
	<div id="" style="float:right; text-align: left; padding: 5px;">
	{listing_contact_block}	<span style="font-size: 10pt; font-weight: bold;">  In Regard to: </span>{listing_title}{/listing_contact_block}
	</div>
	<div class="clear"></div>
	<div>
		<p class="lead_text">In order to serve you better, please take a moment to provide us with some basic information below. 
		We look forward to answering any questions or concerns you may have regarding the entire property 
		buying and selling process here. This area is our backyard and we're happy to help! 
		</p>

	</div>
	<div>
		
			<!-- insert form elements -->
			{feedback_formelements}
			
	</div> 
			
	<br />				
{captcha_display}
	<div style="margin-left: auto; margin-right: auto; width: 100px; padding: 10px;">
		<input class="or_std_button" type="submit" value="SEND"/>	
	</div>
	
	</form>
</div>
	
{/check_member}