<!-- bof "listing_detail_default.html" -->
<div id="listing_detail_default">
{hide_printer_friendly}
	{next_prev}
{/hide_printer_friendly}
	<div id="listing_detail_default_header">
		<h3>ID: {listingid} - {listing_title}</h3>
		{show_listed_by_admin_block}
		<h4>{lang_listed_by} <a href="{listing_agent_link}">{listing_agent_first_name} {listing_agent_last_name}</a></h4>
		{/show_listed_by_admin_block}
		<h4>{headline}</h4>
{hide_printer_friendly}
		<div class="vtour_button">
			{vtour_button}
		</div>
{/hide_printer_friendly}
	</div>
	<div class="clear"></div>
	<div id="listing_detail_default_inner">
{hide_printer_friendly}
		<div id="listing_detail_default_images">
			<strong>{lang_images}</strong><br />
			<hr style="width:75%;" />
			{listing_images}
		</div>
{/hide_printer_friendly}
		<div id="listing_detail_default_fieldslinks">
			<div id="listing_detail_default_fieldslinks_inner">
				<div class="float_left_half">
					{top_left}
				</div>
				<div>
					{top_right}
				</div>
				<div class="clear">
					<br />
					{center}
				</div>
				<div class="float_left_half">
					<div class="features_ticked">
						{feature1}
					</div>
				</div>
				<div>
					<div class="features_ticked">
						{feature2}
					</div>
				</div>
				<div class="clear">&nbsp;</div>
	{hide_printer_friendly}
				<div class="float_left_half">
					<p class="bold">{lang_tools}</p>
					<p>{contact_agent_link}</p>
					<p>{link_calc}</p>
	{check_member}
					<p>{link_add_favorites}</p>
	{/check_member}
					<p>{link_printer_friendly}</p>
					<p>{link_email_friend}</p>
					<img src="{listing_qr_code_link}" />
				</div>
				<div>
					<p class="bold">{lang_neighborhood_links}</p>
					<p>{link_map}</p>
					<p>{link_yahoo_neighborhood}</p>
				</div>
				<div class="clear">&nbsp;</div>
	{/hide_printer_friendly}
				<div class="float_left_half">
					{bottom_left}
				</div>
				<div>
					{bottom_right}
				</div>
				<div class="clear">
					<hr />
					{show_listed_by_admin_block}<p class="bold">{lang_listed_by}: <a href="{listing_agent_link}" title="">{listing_agent_first_name} {listing_agent_last_name}</a></p>{/show_listed_by_admin_block}
					{listing_agent_field_phone_block}<p>{listing_agent_field_phone}</p>{/listing_agent_field_phone_block}
					{listing_agent_field_mobile_block}<p>{listing_agent_field_mobile}</p>{/listing_agent_field_mobile_block}
					{listing_agent_field_fax_block}<p>{listing_agent_field_fax}</p>{/listing_agent_field_fax_block}
					{listing_agent_field_homepage_block}<p>{listing_agent_field_homepage}</p>{/listing_agent_field_homepage_block}
					{listing_agent_field_info_block}<p>{listing_agent_field_info}</p>{/listing_agent_field_info_block}
				</div>
				<div class="clear">
					<hr />
					{lang_this_listing_has_been_viewed} <strong>{hitcount}</strong> {lang_times}.
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- eof "listing_detail_default.html" -->
