<!-- bof "listing_detail_slideshow.html" -->

	<div id="listing_detail_slideshow">
		
		{hide_printer_friendly}
			{next_prev}
		{/hide_printer_friendly}
	
		<div id="listing_detail_slideshow_inner">
			<div id="listing_detail_slideshow_header">
				<h3>{listing_title}</h3>
				{show_listed_by_admin_block}
					<h4>{lang_listed_by} <a href="{listing_agent_link}">{listing_agent_first_name} {listing_agent_last_name}</a></h4>
				{/show_listed_by_admin_block}
				<h4>{headline}</h4>
			</div>
			<div class="clear">&nbsp;</div>
		
			<div id="listing_detail_slideshow_fieldslinks">
				
			{hide_printer_friendly}
					
				<!-- begin slideshow output  -->
				
				<!-- wrapper element for the large image --> 
				<div id="image_wrap"> 
					<!-- Initially the image is a simple 1x1 pixel transparent GIF --> 
					<img src="{baseurl}/images/blank.gif" alt="" />
				</div> 
	
				<!-- "previous page" action --> 
				<a class="prev browse left"></a> 
					 
				<!-- root element for scrollable --> 
				<div class="scrollable">   
				   <!-- root element for the items --> 
				   <div class="items"> 
				   
				     {slideshow_thumbnail_group_block}
				      <div> 
				     	{slideshow_thumbnail_block} 
					      <img src="{slideshow_thumbnail}" width="{slideshow_width}" height="{slideshow_height}" alt="{slideshow_caption}" title="{slideshow_title}" />
				      	{/slideshow_thumbnail_block}
				      </div> 
				      {/slideshow_thumbnail_group_block}
				      
				   </div> 
				</div> 
					 
				<!-- "next page" action --> 
				<a class="next browse right"></a>
				 
				<div class="clear">&nbsp;</div>
				<!-- end slideshow output  -->
				
				<div class="vtour_button">{vtour_button}</div>
				
			{/hide_printer_friendly}
				
				<div class="float_left_half">
					{top_left}
				</div>
				<div>
					{top_right}
				</div>
				<div class="clear">
					{center}
				</div>
				<div class="float_left_half">
					<div class="features_ticked">
						{feature1}
					</div>
				</div>
				<div>
					<div class="features_ticked">
						{feature2}
					</div>
				</div>
				<div class="clear">&nbsp;</div>
				
			{hide_printer_friendly}
			
				<div class="float_left_half">
					<p class="bold">{lang_tools}</p>
					<p>{contact_agent_link}</p>
					<p>{link_calc}</p>
					{check_member}
						<p>{link_add_favorites}</p>
					{/check_member}
					<p>{link_printer_friendly}</p>
					<p>{link_email_friend}</p>
				</div>
				<div>
					<p class="bold">{lang_neighborhood_links}</p>
					<p>{link_map}</p>
					<p>{link_yahoo_neighborhood}</p>
				</div>
				<div class="clear">&nbsp;</div>
				
			{/hide_printer_friendly}
			
				<div class="float_left_half">
					{bottom_left}
				</div>
				
				<div>
					{bottom_right}
				</div>
				
				<div>
					<hr />
					{show_listed_by_admin_block}<p class="bold">{lang_listed_by}: <a href="{listing_agent_link}" title="">{listing_agent_first_name} {listing_agent_last_name}</a></p>{/show_listed_by_admin_block}
					{listing_agent_field_phone_block}<p>{listing_agent_field_phone}</p>{/listing_agent_field_phone_block}
					{listing_agent_field_mobile_block}<p>{listing_agent_field_mobile}</p>{/listing_agent_field_mobile_block}
					{listing_agent_field_fax_block}<p>{listing_agent_field_fax}</p>{/listing_agent_field_fax_block}
					{listing_agent_field_homepage_block}<p>{listing_agent_field_homepage}</p>{/listing_agent_field_homepage_block}
					{listing_agent_field_info_block}<p>{listing_agent_field_info}</p>{/listing_agent_field_info_block}
				</div>
				
				<div>
					<hr />
					{lang_this_listing_has_been_viewed} <strong>{hitcount}</strong> {lang_times}.
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	<!-- Slideshow javascript -->
	<script type="text/javascript" src="{baseurl}/include/class/jquery/jquery_plugins/jquery.tools.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".scrollable").scrollable();
			$(".items img").click(function() {
				// see if same thumb is being clicked
				if ($(this).hasClass("active")) { return; }
				// calclulate large image URL based on the thumbnail URL
				var url = $(this).attr("title");
				// get handle to element that wraps the image and make it semi-transparent
				var wrap = $("#image_wrap").fadeTo("medium", 0.5);
				// the large image
				var img = new Image();
				// call this function after it loads
				img.onload = function() {
					// make wrapper fully visible
					wrap.fadeTo("fast", 1);
					// change the image
					wrap.find("img").attr("src", url);
				};
				img.src = url;
				// activate item
				$(".items img").removeClass("active");
				$(this).addClass("active");
			// when page loads simulate a "click" on the first image
			}).filter(":first").click();
		});
	</script>

<!-- eof "listing_detail_slideshow.html" -->