<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
	<title>{rss_title}</title>
	<link>{rss_webroot}</link>
	<description><![CDATA[{rss_description}]]></description>
	<generator><![CDATA[Open-Realty&reg;]]></generator>
	{rss_item_block}
	<item>
		<title>{rss_item_title}</title>
		<link>{item_link}</link>
		<guid isPermaLink="false">{rss_item_guid}</guid>
		<pubDate>{rss_item_modified_date}</pubDate>
		<description><![CDATA[{rss_item_description}]]></description>
	</item>
	{/rss_item_block}
</channel>
</rss>