    <!-- This tag displays if the search has already been saved -->
    <div style="padding: 10px">{saved_search_exists}</div>

	{saved_search_block}
	
	<form action="index.php?{saved_search_guidestring}" method="post">
		<input type="hidden" name="query" value="{saved_search_query}" />
		
		<div style="padding: 10px;">
			<label for="title" style="display: block;">{lang_enter_title_for_search}</label>
			<input type="text" id ="title" name="title" />
		</div>	
		
		<div style="padding: 10px;">
			<label for="notify" style="display: block;">{lang_notify_saved_search}</label>
			{saved_search_notify}
		</div>

		<input type="submit" class="or_std_button" value="{lang_save_search}" />
	
	</form>
	
	{/saved_search_block}

			
	<div style="float: right;"> {lang_notify_saved_search_disabled}</div>	    
	
	<!-- Template tags
	
	saved_search_exists
	saved_search_block
	saved_search_guidestring
	saved_search_query	
	saved_search_notify
	
	
	-->