/* VTOUR DEFAULT AND CLASSIC SETTINGS
*******************************************************************************/
body {
	margin:0;
	padding:0;
	font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	}

.clear {clear:both;}

#vtour_default {
	width:780px;
	margin:0;
	padding:10px;
	}
.vtour_default_float_left {
	float:left;
	width:300px
	}
.vtour_default_float_right {
	float:right;
	width:480px;
	text-align:center;
	}

#desc {
	overflow:auto;
	width:80%;
	height:50px;
	margin: 0 auto 0 auto;
	text-align:left;
	color:#000000;
	background-color:#FFFFFF;
	}

h3, h4, h5 {margin:0; padding:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-align:left;}
h3 {line-height:26px; font-size:16px;}
h4 {line-height:24px; font-size:14px;}
h5 {line-height:18px; font-size:12px;}

select#tourmenu {width:200px; font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;}
