<!-- bof "listing_detail_default.html" -->
	{hide_printer_friendly}
		<!-- listing_next_prev.html will be loaded if "Show NextPrev Bar On Listing Page" is set in Site Config.  -->
		{next_prev}
	{/hide_printer_friendly}

			<div id="listing_detail_title_div">
				<div id="listing_detail_title">
					{listing_title}
				</div>
				<div id="listing_detail_rt_title">
					Price: {listing_field_price_value}
				</div>
				<div class="clear"></div>
			</div>
			
			<div>		
				<div style="float: left;">	
					{hide_printer_friendly}
					<!-- begin slideshow output  -->
					<!-- wrapper element for the large image --> 
					<div id="main_img">
						<div id="image_wrap"> 
							<!-- Initially the image is a simple 1x1 pixel transparent GIF --> 
							<img src="{baseurl}/images/blank.gif" alt="" />
						</div> 
					</div>	
			 
					 <div id="main_slide">
						<!-- "previous page" action --> 
						<a class="prev browse left"></a> 
					 
						<!-- root element for scrollable --> 
						<div class="ld_scrollable">   
							<!-- root element for the items --> 
							<div class="items_block"> 
								{slideshow_thumbnail_group_block}
									<div> 
										{slideshow_thumbnail_block} 
											<img src="{slideshow_thumbnail}" width="{slideshow_width}" alt="{slideshow_caption}" title="{slideshow_caption}" imgurl="{slideshow_mainimage}" />
										{/slideshow_thumbnail_block}
									</div> 
				 	     		{/slideshow_thumbnail_group_block}				      
							</div> 
						</div> 
					 
						<!-- "next page" action --> 
						<a class="next browse right"></a>
					</div>
					<!-- end  slideshow output  -->
				
					<div class="vtour_button">{vtour_button}</div>
 				</div>
 			
 				<div style="float: left;">
 				
 					<div class="agent_info">
							<h3 >{company_name}</h3>
							{show_listed_by_admin_block}
								<h3>{lang_listed_by}: <a href="{listing_agent_link}">{listing_agent_first_name} {listing_agent_last_name}</a></h4>
							{/show_listed_by_admin_block}
							{listing_agent_field_phone_block}<p>{listing_agent_field_phone}</p>{/listing_agent_field_phone_block}
							{listing_agent_field_mobile_block}<p>{listing_agent_field_mobile}</p>{/listing_agent_field_mobile_block}
							{listing_agent_field_fax_block}<p>{listing_agent_field_fax}</p>{/listing_agent_field_fax_block}
							{listing_agent_field_homepage_block}<p>{listing_agent_field_homepage}</p>{/listing_agent_field_homepage_block}
							{listing_agent_field_info_block}<p>{listing_agent_field_info}</p>{/listing_agent_field_info_block}
						</div>
 				
	 				<!--  Agent, Neighborhood, Contact info -->
 					<div class="listing_info">
 						{hide_printer_friendly}
							{contact_agent_link}
							{check_member}
								{link_add_favorites}
							{/check_member}
							{link_calc}
							{link_email_friend}
							{link_printer_friendly}
					
							{link_yahoo_neighborhood}
							{link_yahoo_school}
							{link_map}
							
							<div id="listing_file">
								Available Files:
								{listing_files_select}
							</div>
							
						{/hide_printer_friendly}	
						
					</div>

 				</div>
 				
 				<div class="clear"></div>
 			
 			</div>
 			<div class="space_10"></div>
 			
 			<div id="disp_locations">
 			
 				<div class="center_area">
					<div class="center_area_text">
						{headline}
					</div>
				</div>
				
				<div class="float_left_half top_pair">
					<div class="float_left_half_text">
						{top_left}
					</div>
				</div>
				<div class="float_right_half top_pair">
					<div class="float_right_half_text">
						{top_right}
					</div>	
				</div>
				<div class="clear"></div>

<div>				
				<div class="center_area">
					<div class="center_area_text">
						{center}
					</div>
				</div>
				
				<div class="float_left_half featured_pair ">
					<div class="features_ticked">
						{feature1}
					</div>
				</div>
				<div class="float_right_half featured_pair">
					<div class="features_ticked">
						{feature2}
					</div>
				</div>
				<div class="clear"></div>
				
				<div class="float_left_half bottom_pair">
					<div class="float_left_half_text">
						{bottom_left}
					</div>
				</div>
				<div class="float_right_half bottom_pair">
					<div class="float_right_half_text">
						{bottom_right}
					</div>	
				</div>
				<div class="clear"></div>
</div>								


				<div class="hitcount">{lang_this_listing_has_been_viewed} <strong>{hitcount}</strong> {lang_times}.</div>
			</div>

<!-- jQuery to set specific paired div heights uniformly -->			
<script> 
<!--		
$(document).ready(function() { 

	$(".ld_scrollable").scrollable();

	$(".items_block img").click(function() {
		// see if same thumb is being clicked
		if ($(this).hasClass("active")) { return; }
		// get the large image URL from our custom imgurl attribute
		var url = $(this).attr("imgurl");
		// get handle to element that wraps the image and make it semi-transparent
		var wrap = $("#image_wrap").fadeTo("medium", 0.5);
		// the large photo
		var img = new Image();
		// call this function after it loads
		img.onload = function() {
			// make wrapper fully visible
			wrap.fadeTo("fast", 1);
			// change the image
			wrap.find("img").attr("src", url);
		};
		// begin loading the image from our URL
		img.src = url;
		// activate items_block
		$(".items_block img").removeClass("active");
		$(this).addClass("active");
	// when page first loads simulate a "click" on the first image
	}).filter(":first").click();

	//equalheights stuff
	$(".top_pair").equalHeights(); 
	$(".featured_pair").equalHeights(); 
	$(".bottom_pair").equalHeights();
}); 

//-->
</script>
<!-- eof "listing_detail_default.html" -->