<div class="application_main">

   <div class="application_section">
   		<img src="{template_url}/images/icon_large_lead_view.png" alt="{lang_admin_add_lead}" />
			<div class="application_section_title">{lang_admin_lead_manager} - {lang_admin_add_lead}</div>
			<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
		<div class="inner_div_wrapper">	
			<form id="addlead_form">
			
				<div id="addlead_accordion">
				
					<h2 class="current"><span></span>{lang_lead_required_info}</h2>			
					<div class="pane" style="display: block;">
						<div class="pane_contents">
						
							<div style="padding: 5px;">
							<div class="addlead_left_div">
								<div class="addlead_feedback_section" id="addlead_member_info">
									<div id="addlead_member_selected">
										<input type="hidden" value="0" id="addlead_selected_memeber_id" name="member_id">
										<span id="addlead_member_selected_text">{lang_lead_select_or_create_member}</span>
									</div>
									<div style="">
									<input type="radio" id="addlead_memeber_status_radio_existing" value="existing" name="member_status" checked="checked">{lang_lead_existing_member}
									<br />
									<input type="radio" value="new" name="member_status" id="addlead_memeber_status_radio_new">{lang_lead_new_member}
									<br />
									<div id="addlead_member_info_existing">
										<label for="addlead_lookup_member">{lang_lead_lookup_member}<span class="required">*</span></label>
				  						<input id="addlead_lookup_member" type="text">
				  						<br/>
				  						<span id="addlead_lookup_member_desc">{lang_lead_lookup_member_desc}</span> 
									</div>
							
									<div id="addlead_member_info_new" style="display:none;">
										<div id="addlead_member_info_newfields">
											<label for="member_email">{lang_lead_email_address}<span class="required">*</span></label>
							  				<input name="member_email" type="email" placeholder="{lang_lead_email_placeholder}" id="member_email" /><img id="member_email_please_wait"  width="16" height="16" src="{template_url}/images/ajax-loader.gif" style="display:none;" />
							  			</div>
									</div>
									
									<div id="email_already_member" style="display:none;">
										{lang_lead_email_exists}
									</div>
									
									<div id="not_member_info" style="display:none;">
										<div id="not_member_infofields">
											<label for="member_fname">{lang_user_manager_first_name}:<span class="required">*</span></label>
											<input name="member_fname" type="text" placeholder="{lang_user_manager_first_name}" id="member_fname" />
											<br />
											<br />
											<label for="member_lname">{lang_user_manager_last_name}:<span class="required">*</span></label>
											<input name="member_lname" type="text" placeholder="{lang_user_manager_last_name}" id="member_lname" /><img id="member_create_please_wait"  width="16" height="16" src="{template_url}/images/ajax-loader.gif" style="display:none;" />
											<div class="create_mem_button">
												<a href="#" class="or_std_button" id="addlead_create_member">{lang_lead_create_member}</a>
											</div>
										</div>	
									</div>
									<input type="checkbox" value="1" name="member_status" id="addlead_memeber_send_member_leademail">{lang_lead_email_member}
									
									</div>
									
								</div>

								<div class="addlead_feedback_section" id="addlead_feedback_listing_data">
									<div id="addlead_listing_selected">
										<span id="addlead_listing_selected_text">{lang_lead_assign_to_agent}</span>
									</div>
									<input type="radio" value="agentid" name="agentselect_status" id="addlead_agentselect_radio_byagent" checked="checked">{lang_lead_assign_by_agentid} 
									<br />
									<input type="radio" id="addlead_agentselect_radio_bylisting" value="listingid" name="agentselect_status" >{lang_lead_assign_by_listingid}
									<br />
									<div id="addlead_agentselect_byagent_block">
					  					<input type="hidden" value="0" id="addlead_selected_agent_id" name="agent_id">
					  					<label for="addlead_lookup_agentid">{lang_lead_lookup_agent}<span class="required">*</span></label>
					  					<input id="addlead_lookup_agentid" type="text">
										<br />
					  					<span id="addlead_lookup_agentid_desc">{lang_lead_lookup_agent_desc}</span>
					  				</div>
					  				<div id="addlead_agentselect_bylisting_block" style="display:none;">
										<input type="hidden" value="0" id="addlead_selected_listing_id" name="listing_id">
					  					<label for="addlead_lookup_listing">{lang_lead_lookup_listing}<span class="required">*</span></label>
					  					<input id="addlead_lookup_listing" type="text">
										<br />
					  					<span id="addlead_lookup_listing_desc">{lang_lead_lookup_listing_desc}</span>
					  				</div> 
								</div>
								
							</div>
												
							<div id="addlead_feedback_private_data">
								<div id="addlead_member_selected">{lang_lead_private_notes}</div>
								<div style="text-align: center;">
									<textarea id="addlead_private_notes" name="notes" cols="40" rows="6"></textarea>
								</div>
							</div>
							
							<div class="clear"></div>
							
							</div>
						</div>
					</div>
						
					<h2><span></span>{lang_lead_optional_info}</h2>
					<div class="pane">
						<div class="pane_contents">
							<div class="addlead_feedback_section" id="addlead_feedback_form_data">
								<span>{lang_lead_client_viewable}</span>
								<br />
								<!-- insert form elements -->
								{feedback_formelements}
							</div>
						</div>	
					</div>
				
				</div>
				
				<div class="or_std_button btn_create_lead" id="addlead_create_lead">{lang_lead_create_lead}</div>
			
			</form>
			
		</div>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
$("#addlead_accordion").accordion({
	heightStyle: "content"
});

$("#addlead_memeber_status_radio_existing").click(function(){
	$("#addlead_member_info_existing").show();
	$("#addlead_member_info_new").hide();
	$("#not_member_info").hide();
});
$("#addlead_memeber_status_radio_new").click(function(){
	$("#addlead_member_info_existing").hide();
	$("#addlead_member_info_new").show();
});
$("#addlead_agentselect_radio_byagent").click(function(){
	$("#addlead_agentselect_bylisting_block").hide();
	$("#addlead_agentselect_byagent_block").show();
});
$("#addlead_agentselect_radio_bylisting").click(function(){
	$("#addlead_agentselect_bylisting_block").show();
	$("#addlead_agentselect_byagent_block").hide();
});
$("#addlead_lookup_member").autocomplete({
	source: "ajax.php?action=addlead_lookup_member",
	minLength: 2,
	select: function(event, ui) {
		if(ui.item) { 
			$("#addlead_selected_memeber_id").val(ui.item.value);
			$("#addlead_member_selected_text").text(ui.item.label);
			$("#addlead_lookup_member").val("");
			$("#addlead_member_selected").css('background-color','#99FFCC');
		}else{
			$("#addlead_member_selected").css('background-color','#eeeeee');
			$("#addlead_member_selected_text").text("{lang_lead_select_or_create_member}");
		}
		return false;
	}	
});
$("#addlead_lookup_agentid").autocomplete({
	source: "ajax.php?action=addlead_lookup_agent",
	minLength: 2,
	select: function(event, ui) {
		if(ui.item) { 
			$("#addlead_selected_agent_id").val(ui.item.value);
			$("#addlead_selected_listing_id").val("");
			$("#addlead_listing_selected_text").text(ui.item.label);
			$("#addlead_lookup_agentid").val("");
			$("#addlead_listing_selected").css('background-color','#99FFCC');
		}else{
			$("#addlead_listing_selected").css('background-color','#eeeeee');
			$("#addlead_listing_selected_text").text("{lang_lead_assign_to_agent}");
		}
		return false;
	}
});

$("#addlead_lookup_listing").autocomplete({
	source: "ajax.php?action=addlead_lookup_listing",
	minLength: 2,
	select: function(event, ui) {
		if(ui.item) { 
			$("#addlead_selected_agent_id").val("");
			$("#addlead_selected_listing_id").val(ui.item.value);
			$("#addlead_listing_selected_text").text(ui.item.label);
			$("#addlead_lookup_listing").val("");
			$("#addlead_listing_selected").css('background-color','#99FFCC');
		}else{
			$("#addlead_listing_selected").css('background-color','#eeeeee');
			$("#addlead_listing_selected_text").text("{lang_lead_assign_to_agent}");
		}
		return false;
	}
});
$("#member_email").focusout(function(){
	if(!$.trim($("#member_email").val()).length) {
		$("#email_already_member").hide();
		$("#member_info_display").hide();
	}else{
		$("#member_email_please_wait").show();
		$.post("{baseurl}/ajax.php?action=is_member_check", { "email": $("#member_email").val() },
			function(data){
				$("#not_member_info").hide();
				$("#member_password_info").hide();
				if(!data.error){
					$("#email_already_member").show();
					//$("#member_password").focus();
					$("#not_member_info").hide();
					$("#member_email_please_wait").hide();
				}else{
					if(data.error_code == 2){
						//Not A member
						$("#email_already_member").hide();
						$("#not_member_info").show();
						$("#member_fname").focus();
						$("#member_email_please_wait").hide();
					}
				}
				//console.dir(data); // John
			},
			"json");
	}
});
$("#addlead_create_member").click(function(){
	//addlead_create_member
	if($.trim($("#member_email").val()).length > 0 && $.trim($("#member_lname").val()).length > 0 && $.trim($("#member_fname").val()).length > 0) {
		$.post("{baseurl}/admin/ajax.php?action=addlead_create_member", { "email": $("#member_email").val(), "fname": $("#member_fname").val(), "lname": $("#member_lname").val() },
				function(data){
					if(!data.error){
						$("#not_member_info").hide();
						$("#email_already_member").hide();
						$("#member_email_please_wait").hide();
						//console.dir(data);
						$("#addlead_selected_memeber_id").val(data.user_id);
						$("#addlead_member_selected_text").text(data.lname+', '+data.fname+'( '+data.email+')');
						$("#member_email").val("");
						$("#addlead_member_selected").css('background-color','#99FFCC');
					}
					//console.dir(data); // John
				},
				"json");	
	}
});
function getleaddata(dtype){
	var json = {};
	if(dtype == 'listing'){
		json["listing_id"] = $("#addlead_selected_listing_id").val();	
	}else{
		json["agent_id"] = $("#addlead_selected_agent_id").val();	
	}
	json["member_id"] = $("#addlead_selected_memeber_id").val();
	json["notes"] = $("#addlead_private_notes").val();
	json["sendmember_email"] = $("#addlead_memeber_send_member_leademail").val();
	 $("#addlead_feedback_form_data input[type=text], #addlead_feedback_form_data textarea, #addlead_feedback_form_data input[type=radio]:checked, #addlead_feedback_form_data input[type=checkbox]:checked,#addlead_feedback_form_data select:selected").each(function(){
		 json[$(this).attr('name')] = $(this).val();
	 });
	return json;
}
$("#addlead_create_lead").click(function(){

	if($("#addlead_selected_memeber_id").val() > 0){

		if($("#addlead_selected_listing_id").val() > 0){
			ShowPleaseWait();
			$.post("{baseurl}/admin/ajax.php?action=addlead_create_lead", getleaddata('listing'), function(data){
				HidePleaseWait();
				if(!data.error){
					alert("Lead Created");
					location.href="{baseurl}/admin/index.php";
				}
				//console.dir(data); // John
			},
			"json");	
		}
		else if($("#addlead_selected_agent_id").val() > 0){
			ShowPleaseWait();
			$.post("{baseurl}/admin/ajax.php?action=addlead_create_lead", getleaddata('agent'),
				function(data){
					HidePleaseWait();
					if(!data.error){
						alert("Lead Created");
						location.href="{baseurl}/admin/index.php";
					}
					//console.dir(data); // John
				},
				"json");	
		}
	}
});
</script>