@CHARSET "UTF-8";

#addlead_form  input[type=text], #addlead_form input[type=email]{
	border:1px solid #AAAAAA;
	background: #FFFFCC;;
	width: 200px;
}

#addlead_form  select {
	border: 1px solid #ccc;
	background-color: #FAFAE1;
}

#addlead_form select option {
	background-color: #FAFAE1;
}

#addlead_private_notes {
	margin: 5px 10px;
	width: 330px;
	height: 208px;
	border:1px solid #AAAAAA;
	background: #FFFFCC;
}

#addlead_private_notes:focus, #addlead_form  input[type=text]:focus, #addlead_form input[type=email]:focus {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}


#addlead_agentselect_byagent_block, #addlead_member_info_existing {
	padding: 4px;
}


#addlead_form .btn_create_lead{
	width: 100px;
	text-align: center;
	margin: 10px auto 0px auto;
}

#email_already_member{
	max-width:400px;
}

.addlead_left_div {
	float: left;
	padding: 0px 6px;
	width: 48%;
	border-right: 1px solid #ddd;
	margin-left: 2px;
}

#addlead_feedback_private_data {
	float: right;
	padding: 0px 6px;
	width: 48%;
	margin-right: 2px;
}

#addlead_member_selected, #addlead_listing_selected{
	border-top: 1px solid #ddd;
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	padding: 4px;
	font-weight: bold;
	margin: 10px;
	text-align:center;
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	text-shadow: 1px 1px 1px #ffffff;
}

#addlead_member_info_existing, #addlead_member_info_newfields, #not_member_infofields {
	padding: 5px 0px 5px 0px;
}

.create_mem_button{
	text-align: center;
	margin: 10px 0px 0px 0px;
}

.addlead_feedback_section > span:first-child{
	text-align: center;
	display: block;
	font-weight: bold;
	padding-top: 3px;
}
#addlead_lookup_member_desc {
	font-style: italic;
	font-size: .85em;
}
#addlead_lookup_listing_desc, #addlead_lookup_agentid_desc {
	font-style: italic;
	font-size: .85em;
}
#addlead_member_info{

}

/* accordion header */

#addlead_accordion {
	margin-top: 10px;
}


/* accordion pane */
.pane {
	display:none;
	padding:0px 0px;
}

.pane_contents {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 93%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(93%,#e8e8e8), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e8e8e8 93%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e8e8e8 93%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e8e8e8 93%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e8e8e8 93%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	min-height: 370px;
}

#addlead_accordion .ui-accordion, #addlead_accordion .ui-accordion-content {
	padding: 0px;
}

#addlead_accordion .ui-state-active {
	border-bottom: 0px;
	outline: 0;
}

#addlead_accordion .ui-state-hover {
	color: #1494d1;
}

#addlead_accordion .ui-accordion-header	{
	color: #1464F4;
	font-size: 1.1em;
}