<form id="add_user_form" action="#" method="post">

	<table>
		<tr>
			<td><div class="add_user_field_caption">{lang_user_name}:</div></td>
			<td>
				<div class="add_user_field_element">
					<input type="text" name="edit_user_name" class="required" /> <span class="form_required_field"></span>
				</div>
			</td>
		</tr>
		<tr>
			<td><div class="add_user_field_caption">{lang_user_manager_first_name}:</div> </td>
			<td>
				<div class="add_user_field_element">
					<input type="text" name="user_first_name" class="required" /> <span class="form_required_field"></span>
				</div>
			</td>
		</tr>
		<tr>
			<td><div class="add_user_field_caption">{lang_user_manager_last_name}:</div> </td>
			<td>
				<div class="add_user_field_element">
					<input type="text" name="user_last_name" class="required" /> <span class="form_required_field"></span>
				</div> 
			</td>
		</tr>
		<tr>
			<td><div class="add_user_field_caption">{lang_user_email}:</div> </td>
			<td>
				<div class="add_user_field_element">
					<input type="text" name="user_email" class="required email" /> <span class="form_required_field"></span>
				</div>
			</td>
		</tr>
		<tr>
			<td><div class="add_user_field_caption">{lang_user_password}: </div></td>
			<td><div class="add_user_field_element"><input type="password" name="edit_user_pass" /></div></td>
		</tr>
		<tr>
			<td><div class="add_user_field_caption">{lang_user_password} ({lang_again}):</div></td>
			<td><div class="add_user_field_element"><input type="password" name="edit_user_pass2" /></div></td>
		</tr>
		<tr>
			<td><div class="add_user_field_caption">{lang_user_manager_is_user_active}:</div></td>
			<td>
				<div class="add_user_field_element">
					<select id="user_active" name="edit_active" size="1">
						{user_status_option_block}
							<option value="{value}" {selected}>{text}</option>
						{/user_status_option_block}
					</select> 
					<span id="alert_user_inactive" class="redtext">{lang_alert_user_inactive}</span>
				</div>
			</td>
		</tr>
		{check_admin}
		<tr>
			<td><div class="add_user_field_caption">{lang_user_editor_isAdmin}:</div></td>
			<td> 
				<div class="add_user_field_element">
					<select id="user_active" name="edit_isAdmin" size="1">
						{user_isAdmin_option_block}
							<option value="{value}" {selected}>{text}</option>
						{/user_isAdmin_option_block}
					</select> 
				</div>
			</td>
		</tr>
		{/check_admin}
		<tr>
			<td><div class="add_user_field_caption">{lang_user_editor_isAgent}:</div></td>
			<td>
				<div class="add_user_field_element">
					<select id="user_active" name="edit_isAgent" size="1">
						{user_isAgent_option_block}
							<option value="{value}" {selected}>{text}</option>
						{/user_isAgent_option_block}
					</select> 
				</div>
			</td>
		</tr>
	
	
	</table>
	
	<div class="space_10"></div>
	<div style="text-align: center;">
		<input type="submit" class="or_std_button" value="{lang_submit}" />
	</div>
	

</form>



<script type="text/javascript">
	$("#add_user_form").validate({
		meta: "validate",
		submitHandler: function(form) {
			$.post("ajax.php?action=ajax_add_user", $("#add_user_form").serialize(),
				function(data){
					if(data.error == "1"){
						alert(data.error_msg);
					}
					else{
						var user_id = data.user_id;
						$("#dialog-message").dialog( "destroy" );
						window.location = "index.php?action=edit_user&user_id="+user_id;
					}
				}
			,"json");
			return false;
		},
		highlight: function(element) {
	        $(element).css("background", "#FFCCCC");
	        $(element).css("border-color", "#3300ff");
	    },
	    // Called when the element is valid:
	    unhighlight: function(element) {
	        $(element).css("background", "#FFFFCC");
	         $(element).css("border-color", "#AAAAAA");
	    }
	});	
	
$(document).ready(function(){
//Handle User Active Staus Warning onChange
	$("#user_active").change(function(){
		if($("#user_active").val() == "no"){
			$("#alert_user_inactive").show();
		}else{
			$("#alert_user_inactive").hide();
		}
	});
});
</script>
