ul.css-tabs a {
	font-size:9pt;
	padding:4px 16px;
}
.addon_status_0{color:green;}
.addon_status_1{color:red;}
.addon_status_2{color:orange;}

.addon_manager_good_info{
	color:green;
	font-weight:bold;
}

.addon_manager_bad_info{
	color:red;
	font-weight:bold;
}
#free_current_filter{
font-weight:bold;
}
#comm_current_filter{
font-weight:bold;
}

#addon-outputwindow {
	width: 100%;
	min-height: 450px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 4px;
}