<div class ="application_main">

	<div class="application_section">
			<img src="{template_url}/images/icon_large_addonmanager.png" alt="{lang_admin_addon_manager}" />
		 <div class="application_section_title">{lang_admin_addon_manager}</div>
		 <div class="application_status_message" id="application_status_message">{application_status_text}</div>
		 <div style="clear: both;"></div>
	 </div>
 
	 <div class="inner_div">
		 <div class="inner_div_wrapper">
			 <div id="addon_status_message" class="post_id_text"></div> 
		 
			 <!-- define tabs -->
			 <div id="tabs">
				 <ul>
					 <li><a href="#installed">{lang_addon_manager_tab_installed}</a></li>
					 
					 <!-- <li><a href="#ttech_addons" id="ttech_addons_tab">{lang_addon_manager_ttech}</a></li>
					 <li><a href="#free_addons" id="free_addons_tab">{lang_addon_manager_tab_free}</a></li>
					 <li><a href="#comm_addons" id="comm_addons_tab">{lang_addon_manager_tab_comm}</a></li> -->
					
					 <li><a href="#manual">{lang_addon_manager_tab_install}</a></li>
				 </ul>
	 
				 <!-- container for tab panes -->
				 <div class="css-panes">
	 
					 <!-- Pane 1 -->
					 <div id="installed">
						 <div class="addon_dtcontainer">
							 <table cellspacing="1" class="display" id="insaddons">
							 <thead>
								 <tr>
									 <th>{lang_addon_name}</th>
									 <th>{lang_addon_version}</th>
									 <th>{lang_addon_status}</th>
									 <th>{lang_addon_actions}</th>
								 </tr>
							 </thead>
							 <tfoot>
								 <tr>
									 <th>{lang_addon_title}</th>
									 <th>{lang_addon_author}</th>
									 <th>{lang_addon_version}</th>
									 <th>{lang_addon_actions}</th>
								 </tr>
							 </tfoot>
							 <tbody>
							 {addon_installed_block}
							 <tr>
								 <td>{addon_name}</td>
								 <td>{addon_version}</td>
								 <td class="addon_manager_list_data"><span class="addon_status_{status_code}">{status_msg}</span></td>
							 
								 <td class="addon_manager_list_data">
									 {action_update_block}
									 <a href="{baseurl}/admin/index.php?action=addon_manager&amp;check_update={addon_name}"title="{lang_addon_check_for_updates}">
										 <img class="addon_manager_action_icon" src="{template_url}/images/addon_check_update.png" alt="{lang_addon_check_for_updates}" />
									 </a> 
									 {/action_update_block}
								 
									 <div style="width:16px;display:inline-block;">
										 {action_help_block} 
										 <a class="iframe" href="" onclick="javascript:output_window('{baseurl}/admin/index.php?action=addon_manager&amp;view_help={addon_name}&amp;popup=yes');return false;" title="{lang_addon_view_docs}">
											 <img class="addon_manager_action_icon" src="{template_url}/images/addon_templatetags.png" alt="{lang_addon_view_docs}" />
										 </a> 
										 {/action_help_block}
									 </div>
								  
									 {action_uninstall_block} 
									 <a href="{baseurl}/admin/index.php?action=addon_manager&amp;uninstall={addon_name}"	onclick="return confirmDelete('{lang_delete_addon}')" title="{lang_addon_uninstall}">
										 <img class="addon_manager_action_icon" src="{template_url}/images/generic_icon_delete.png"	alt="{lang_addon_uninstall}" />
									 </a> 
									 {/action_uninstall_block}
								 
								 </td>
							 </tr>
							 {/addon_installed_block}
						 </tbody>
						 </table>
					 </div>
					 <div class="clear"></div>
				 </div>
		 
				 <!-- Pane 2
				 <div id="ttech_addons">
					 <div class="addon_dtcontainer">
						 <table cellspacing="1" class="display" id="ttaddons">
							 <thead>
								 <tr>
									 <th></th>
									 <th>{lang_addon_title}</th>
									 <th>{lang_addon_author}</th>
									 <th></th>
									 <th>{lang_addon_version}</th>
									 <th></th>
									 <th>{lang_addon_actions}</th>
								 </tr>
							 </thead>
							 <tfoot>
								 <tr>
									 <th></th>
									 <th>{lang_addon_title}</th>
									 <th>{lang_addon_author}</th>
									 <th></th>
									 <th>{lang_addon_version}</th>
									 <th></th>
									 <th>{lang_addon_actions}</th>
								 </tr>
							 </tfoot>
							 <tbody>
		 
							 </tbody>
						 </table>
					 </div>
					 <div class="clear"></div>
				 </div>
				-->
			 
				 <!--Pane 3 -->
				 <!-- <div id="free_addons">
					 <div class="addon_compatiblity_filter">
						 <strong>{lang_admin_addons_show_compaible} </strong>  
						 <a href="" id="free_current_filter">{lang_admin_addons_show_compaible_current}</a> | 
						 <a href="" id="free_all_filter">{lang_admin_addons_show_compaible_previous}</a>
					 </div>
					 <br >
					 <div class="addon_dtcontainer">
						 <table cellspacing="1" class="display" id="freeaddons">
							 <thead>
								 <tr>
									 <th></th>
									 <th>{lang_addon_title}</th>
									 <th>{lang_addon_author}</th>
									 <th></th>
									 <th>{lang_addon_version}</th>
									 <th>{lang_addon_manager_compatible_heading}</th>
									 <th></th>
									 <th>{lang_addon_actions}</th>
								 </tr>
							 </thead>
							 <tfoot>
								 <tr>
									 <th></th>
									 <th>{lang_addon_title}</th>
									 <th>{lang_addon_author}</th>
									 <th></th>
									 <th>{lang_addon_version}</th>
									 <th>{lang_addon_manager_compatible_heading}</th>
									 <th></th>
									 <th>{lang_addon_actions}</th>
								 </tr>
							 </tfoot>
							 <tbody>
	 
							 </tbody>
						 </table>
					 </div>
					 <div class="clear"></div>
				 </div>
				  -->
				 
				 <!--//Pane 4 -->
				 <!-- <div id="comm_addons">
					 <div class="addon_compatiblity_filter">
						 <strong>{lang_admin_addons_show_compaible} </strong>  
						 <a href="" id="comm_current_filter">{lang_admin_addons_show_compaible_current}</a> | 
						 <a href="" id="comm_all_filter">{lang_admin_addons_show_compaible_previous}</a>
					 </div>
					 <br >
					 <div class="addon_dtcontainer">
						 <table cellspacing="1" class="display" id="commaddons">
							 <thead>
								 <tr>
									 <th></th>
									 <th>{lang_addon_title}</th>
									 <th>{lang_addon_author}</th>
									 <th></th>
									 <th>{lang_addon_version}</th>
									 <th>{lang_addon_manager_compatible_heading}</th>
									 <th>{lang_addon_actions}</th>
								 </tr>
							 </thead>
							 <tfoot>
								 <tr>
									 <th></th>
									 <th>{lang_addon_title}</th>
									 <th>{lang_addon_author}</th>
									 <th></th>
									 <th>{lang_addon_version}</th>
									 <th>{lang_addon_manager_compatible_heading}</th>
									 <th>{lang_addon_actions}</th>
								 </tr>
							 </tfoot>
							 <tbody>
	 
							 </tbody>
						 </table>
					 </div>
					 <div class="clear"></div>
				 </div> -->
				  
				 
				 <!--//Pane 5-->
				 <div id="manual">
					 <table cellspacing="1" class="tablesorter" id="commaddons">
						 <thead>
							 <tr>
								 <td class="tableHeader">{lang_addon_manager_tab_install}</td>
							 </tr>
						 </thead>
						 <tfoot>
							 <tr>
								 <td class="tableHeader">{lang_addon_manager_install_warning}</td>
							 </tr>
						 </tfoot>
						 <tbody>
							 <tr>
								 <td style="text-align: center;">
									 <form enctype="multipart/form-data"	action="index.php?action=addon_manager" method="post">
										 <strong>{lang_upload_send_this_file}: </strong><input name="userfile" type="file" /><br />
										 <br />
										 {lang_addon_upgrade_file} 
										 <input type="checkbox" name="upgrade"	value="yes" /> 
										 <input type="submit" value="{lang_addon_send_file}" />
										 <input type="hidden" name="action" value="man_install" />
									 </form>
								 </td>
							 </tr>
						 </tbody>
					 </table>
				 </div>
				 <br />
			 
			 </div> <!-- end tabs -->
			 
		 </div>
	 
	 </div>
	 <div class="clear"></div>
 
 </div>
 