<div class ="application_main">

	<div class="application_section">
		<div class="application_section_title">{lang_agent_editor}</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div class="clear"></div>
	</div>
	<div class="inner_div">
		<div class="inner_div_wrapper">
			{user_template_navbar}

			<!-- the tabs --> 
			<div id="tabs">
				<ul id="tabnav"> 
					<li><a href=#Main">Quick Editor</a></li> 
		   			<span class="legend">
		   				<span class="legend_item"><span class="req_field">&nbsp;</span> Required</span>
					</span>
				</ul>
				<div>
			
				{content}
				</div>

			</div>
			
		</div>
		
		<div class="clear"></div>
	</div>	
     
</div>	 				