<div class="application_rounded_box_title">{lang_blog_tags}</div>
<div class="blog_edit_sub_section"><!-- the tabs -->
	<div id="add_blog_tag" style="text-align: center;">
		<form id="add_blog_tag_form" class="add_blog_tag_form"	action="#" method="post">
			<input id="tag_title" type="text" name="title" value="" class="required" />
			<input id="new_tag" type="submit" class="or_std_button" value="{lang_blog_add_tag}" />
			<div id="tag_error_text" style="text-align: left; margin-left: 30px;"></div>
		</form>
		<br />
	</div>
	<div id="blog_edit_tag_list">
		{blog_tags_block} 
			<span id="tag_{blog_tag_id}">{blog_tag_name} <a href="#" class="blog_tag_delete" id="deletetag_{blog_tag_id}"><img src="{template_url}/images/blog_mini_delete.png" style="width:8px;height:8px;" alt="Delete" /></a>&nbsp;&nbsp;</span>
		{/blog_tags_block}
		<br />
	</div>

	<br />
	<div style="text-align: center;">
		<a href="#" id="show_most_used_tags">{lang_show_most_used_tags}</a>
	</div>
	<div id="most_used_tags" style="display: none; text-align: center;">
		{blog_most_used_tags_block} 
			 <a href="#" class="blog_tag_add_existing" style="font-size:{blog_tag_fontsize}pt;" id="mostusedtag_{blog_tag_id}">{blog_tag_name}</a>&nbsp;&nbsp;
		{/blog_most_used_tags_block}
	</div>
	<br />

	
</div>
<script type="text/javascript">
//Initialize Tabs
			
			

			$("#show_most_used_tags").click(
				function() {
					$("#most_used_tags").toggle();
				}
			);
			$(".blog_tag_add_existing").on('click',
	            	function() {
	            		ShowPleaseWait();
	                	//deletetag_{blog_tag_id}
	                	var tag_id = $(this).attr("id");
	                	tag_id = tag_id.replace("mostusedtag_","");
	                	$.post("ajax.php?action=ajax_add_assigned_blog_tag_byid", {tag_id: tag_id},
	     					function(data)
	     					{
	     						if(data.error == "0")
	     						{
	     							$("#blog_edit_tag_list").append("<span id='tag_"+ data.tag_id + "'>"+data.tag_name + " <a href='#' class='blog_tag_delete' id='deletetag_"+data.tag_id+"'><img src='{template_url}/images/blog_mini_delete.png' style='width:8px;height:8px;' alt='Delete' /></a>&nbsp;&nbsp;</span>");
	     							status_msg("{lang_tag_created}");
	     						}else {
	     							alert(data.error_msg);
	     						}

	     				 }, "json");
	     				 $("#most_used_tags").load("ajax.php?action=load_most_used_tags");
	     				
	     				HidePleaseWait();
	     				return false;
	                }
	        );
            $(".blog_tag_delete").on('click',
            	function() {
            		if(confirmDelete()){
            			ShowPleaseWait();
	                	//deletetag_{blog_tag_id}
	                	var tag_id = $(this).attr("id");
	                	tag_id = tag_id.replace("deletetag_","");
	                	$.post("ajax.php?action=ajax_remove_assigned_blog_tag", {tag_id: tag_id},
	     					function(data)
	     					{
	     						if(data.error == "0")
	     						{
	     							$("#tag_"+tag_id).remove();
	     							status_msg("{lang_tag_deleted}");
	     						}
	
	     				 	}, 
	     				 "json");
	                	 $("#most_used_tags").load("ajax.php?action=load_most_used_tags");
	     				HidePleaseWait();
	     				return true;
            		}
                }
            );
			$("#add_blog_tag_form").validate({
				errorLabelContainer: "#tag_error_text",
				submitHandler: function(form) {
					ShowPleaseWait();
					$.post("ajax.php?action=ajax_create_blog_tag", $("#add_blog_tag_form").serialize(),
					function(data) {
						if(data.error == "1") {
							alert(data.error_msg);
						}
						else {
							$("#blog_edit_tag_list").append("<span id='tag_"+ data.tag_id + "'>"+data.tag_name + " <a href='#' class='blog_tag_delete' id='deletetag_"+data.tag_id+"'><img src='{template_url}/images/blog_mini_delete.png' style='width:8px;height:8px;' alt='Delete' /></a>&nbsp;&nbsp;</span>");
							status_msg("{lang_tag_created}");
							$("#tag_title").val("");
						}

				 	}, "json");
					$("#most_used_tags").load("ajax.php?action=load_most_used_tags");
					HidePleaseWait();
					return false;
				},
				highlight: function(element) {
			        $(element).css("background", "#FFCCCC");
			        $(element).css("border-color", "#3300ff");
			    },
			    // Called when the element is valid:
			    unhighlight: function(element) {
			        $(element).css("background", "#FFFFCC");
			         $(element).css("border-color", "#AAAAAA");
			    }
			});
</script>