<div class ="application_main">
	 
	 <div class="application_section">
		<img src="{template_url}/images/icon_blog_publisher.png" alt="{lang_admin_blog_manager}" />
		<div class="application_section_title">
			{lang_admin_blog_manager}
		</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<span class="application_section_info">{lang_blog_editor_modify_post} - {blog_id}</span>
		<div style="clear: both;"></div>
	</div>
	
	<div class="inner_div">
		<div class="inner_div_wrapper">

			<div class="blog_edit_section">
			
				<form action="{blog_edit_action}" method="post" id="blog_edit_form">
					<div>
						<input type="hidden" name="edit" value="yes" />
						<input type="hidden" id="blogID" name="blogID" value="{blog_id}" />
						
						<div id="post_actions">
							<div id="blog_top_div">
							
								<div class="label">{lang_blog_title}:</div> 
								
									

							
								<div id="blog_button_div">
									<div style="float: left; margin: 0px 10px 0px 0px;">
										<form action="#" method="post">
											{lang_blog_status}: 
											<select id="blog_status_value">
												{blog_status_option_block}
												<option value="{blog_status_value}" {blog_status_selected}>{blog_status_text}</option>
												{/blog_status_option_block}
											</select>
										</form>
									</div>

									<!-- Revert Button -->
									<div id="blog_revert_button" class="or_std_button" title="{listing_url}" style="{blog_revert_button_state}" >
										<img src="{template_url}/images/undo_16.png" style="vertical-align: bottom; padding: 0px 6px 0px 0px;"/>
										<span style="">{lang_revert_changes}</span>
									</div>

									<!-- Update Button -->
									{blog_update_block}
									<div class="or_std_button" id="blog_update_button">{lang_blog_update_post}</div>	
									{/blog_update_block}
					
									<!-- Delete Button -->
									{blog_delete_block}
									<div class="or_std_button red" id="blog_delete_button">{lang_delete_blog}</div>			
									{/blog_delete_block}
								</div>
								<div class="clear"></div>
								
							</div>	
							<input type="text" name="title" value="" id="blog_edit_title" class="blog_edit_input {validate{required:true}}" />
							<div class="space_5"></div>
							
						</div>
						
						<div id="edit_blog_post_editor">
							<textarea name="ta" id="ta" style="margin: 0px;"></textarea>
						</div>	
						<div class="clear"></div>
						
						<div id="blog_stats">
							<div id="word_count_text">{lang_word_count}: <span id="word_count"></span></div>  
					
							<div style="padding: 2px;"> 
								<span class="link_label">{lang_template_tag_for_blog}: </span><input class="blog_tag" type="text" value="&#123;blog_link_{blog_id}&#125;" readonly>
								<br />
								<span class="link_label">{lang_link_to_blog}: </span><span class="blog_link"><a href="{blog_article_url}" title="">{blog_article_url_display}</a></span>
							</div>
						</div>
						<div class="application_rounded_box">
							<div class="application_rounded_box_title">{lang_blog_seo}</div>
							<div style="padding: 6px;">
								
								<span class="label">{lang_blog_seo_title}:</span> <input type="text" size="50" id="seotitle" name="seotitle" class="blog_edit_input_seo" value="" />
								<br />
								<span class="label">{lang_blog_meta_description}:</span> <input type="text" size="50" id="metadata_description" name="description" class="blog_edit_input_seo" value="" />
								<br />
								<span class="label">{lang_blog_meta_keywords}:</span> <input type="text" size="50" id="metadata_keywords" name="keywords" class="blog_edit_input_seo" value="" />
							</div>	
						</div>						
					
					</div>
				</form>
				
			</div>
		</div>
		
		<div class="blog_editor_right" id="show_cat">
			<img src="{template_url}/images/icon_right_arrows_16.png" class="category_collapse" id="hide_cat" alt="{lang_admin_menu_collapse}" />
			<div id="cat_column" class="cat_column">
				<div class="application_rounded_box blog_rounded_box" id="blog_edit_section_category_container"></div>
				<div class="application_rounded_box blog_rounded_box" id="blog_edit_section_tag_container"></div>	
				<div id="status_div" style="display:none;"></div>
			</div>	
		</div>
		<div class="clear"></div>
		
	</div>
</div>