	<div style="margin: 0px; padding: 0px; background: #D3D3D3;"  >
	
		<div style="background: #F5F5F5;">
		
			<div class="clear space_10"></div>
		
			<div id="blog_tags_container">
			<table cellspacing="1" class="display" id="taglist">
				<thead>
					<tr>
						<th>{lang_blog_tag_name}</th>
						<th>{lang_blog_seoname}</th>
						<th>{lang_blog_description}</th>
						<th>Posts</th>
						<th>Options</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>{lang_blog_tag_name}</th>
						<th>{lang_blog_seoname}</th>
						<th>{lang_blog_description}</th>
						<th>Posts</th>
						<th>Options</th>
					</tr>
				</tfoot>
				<tbody>
					{tag_display_block}
						<tr>
							<td><a href="" id="edit_tag_{tag_id}" class="edit_tag">{tag_name}</a></td>
							<td>{tag_seoname}</td>
							<td>{tag_description}</td>
							<td>{tag_post_count}</td>
							<td>
							
							
							<span style="padding-right: 6px;">
								<a href="" id="edit_tag_{tag_id}" class="edit_tag"><img src="{template_url}/images/generic_icon_edit.png" alt="Edit {tag_name}" style="{tagdelete_style}" /></a>
							</span>
							<span>
								<a href="" id="tagdelete_{tag_id}" class="tagdelete"><img src="{template_url}/images/generic_icon_delete.png" alt="Delete"  style="{tagdelete_style}" /></a>
							</span>
							</td>
						</tr>
					{/tag_display_block}
				</tbody>
			</table>
			</div>
			
			<div class="clear space_10"></div>
			
		</div>
		
	</div>

	<div style="display:none;">
		<div class="blog_settings_add_tag">
			<form action="#" id="add_blog_tag_form" type="POST">
				<div class="blog_settings_edit_tag_left">{lang_blog_tag_name}:</div>
				<div class="blog_settings_edit_tag_right">
					<input name="title" value="" class="required" /> <span class="form_required_field">
				</div>
				<br />
					
				<div class="blog_settings_edit_tag_left">{lang_blog_seoname}:</div>
				<div class="blog_settings_edit_tag_right"><input name="seoname" value="" /></div>
				<br />

				<div class="blog_settings_edit_tag_left">{lang_blog_description}:</div>
				<div class="blog_settings_edit_tag_right"><textarea name="description" cols="35" rows="5"></textarea></div>
				<br />

				<br />
				<div class="blog_settings_edit_tag_left"></div>
				<div style="width: 60%; float: right; margin-top: 10px;">
					<span class="blog_buttons_div">
						<input id="submit_blog_tag_form" class="or_std_button" type="submit" value="{lang_blog_add_tag}" />
					</span>	
				</div>	
			</form>
		</div>
	</div>

	<div style="display:none;">
		<div class="blog_settings_edit_tag">
			<form action="#" id="edit_blog_tag_form" type="POST">
				<div class="blog_settings_edit_tag_left">Tag Name:</div> 
				<div class="blog_settings_edit_tag_right">
					<input name="title" id="edit_tag_name" value="" class="required" /> <span class="form_required_field">
				</div>
				<br />

				<div class="blog_settings_edit_tag_left">SEO Name:</div> 
				<div class="blog_settings_edit_tag_right"><input name="seoname" id="edit_tag_seoname" value="" /></div>
				<br />

				<div class="blog_settings_edit_tag_left">Description:</div> 
				<div class="blog_settings_edit_tag_right"><textarea name="description" id="edit_tag_description"cols="35" rows="5"></textarea></div>
				<br />
						
				<input type="hidden" name="tag_id" id="edit_tag_id" />
			
				<div class="blog_settings_edit_tag_left"></div>
				<div style="width: 60%; float: right; margin-top: 10px;">
					<span class="blog_buttons_div">
						<input id="blog_update_button" class="or_std_button" type="submit" value="{lang_update_button}" />
					</span>	
				</div>		
			</form>
		</div>
	</div>

	<script type="text/javascript">
			$("#taglist").DataTable( {
				"pagingType": "full_numbers",
				"autoWidth": false,
				"ordering": false,
				"pageLength": 25,
				"sDom": '<"top" <i <"div.add_blog_tag"> l><"clear"><"space_10"> fp <"clear"> > rt <"bottom"ip<"clear">>',
				"fnDrawCallback": function() {
					//Add Click Events to icons.
					$(".tagdelete").click(function() {
						if(confirmDelete()){
							var tag_id =  $(this).attr("id")
							tag_id = tag_id.replace('tagdelete_','');
							$.post("ajax.php?action=ajax_delete_blog_tag", { tag_id: tag_id },
							function(data) {
								if(data.error == "1") {
									alert(data.error_msg);
								}
								else {
									$("#ui-id-6").load("{baseurl}/admin/ajax.php?action=blog_settings_tags");
									status_msg("{lang_tag_deleted}");
								}
						 	}, "json");
						}
					 	return false;
					});
				}
			});

			//edit_tag_
			$(".edit_tag").click(function() {
				var tag_id =  $(this).attr("id")
				tag_id = tag_id.replace('edit_tag_','');
				
				//Get Blog Values
				$.post("ajax.php?action=ajax_get_tag_info", { tag_id: tag_id },
				function(data) {
					if(data.error == "1") {
						alert(data.error_msg);
					}
					else {
						$("#edit_tag_name").val(data.tag_name);
						$("#edit_tag_seoname").val(data.tag_seoname);
						$("#edit_tag_id").val(data.tag_id);
						$("#edit_tag_description").html(data.tag_description);
						
						$("#edit_blog_tag_form").dialog({
							title: "{lang_blog_tag_edit_tag}",
							modal: true,
							width: "480",
							buttons: null,
							position: {
								my: "center",
								at: "top+10%",
								of: window,
								collision: "none"
							},
							close: function(event, ui) {
								$("#edit_blog_tag_form").dialog( "destroy" ); 
							}
						});	
					}
			 	}, "json");
			 	return false;
			});	
			$("#edit_blog_tag_form").validate({
				submitHandler: function(form) {
					$.post("ajax.php?action=ajax_update_tag_info", $("#edit_blog_tag_form").serialize(),
						function(data) {
							if(data.error == "1") {
								alert(data.error_msg);
							}
							else {
								$("#ui-id-6").load("{baseurl}/admin/ajax.php?action=blog_settings_tags");
								$("#edit_blog_tag_form").dialog( "destroy" ); 
								status_msg("{lang_tag_modified}");
							}
				 		}, "json");
					return false;
				},
				highlight: function(element) {
			        $(element).css("background", "#FFCCCC");
			        $(element).css("border-color", "#3300ff");
			    },
			    // Called when the element is valid:
			    unhighlight: function(element) {
			        $(element).css("background", "#FFFFCC");
			         $(element).css("border-color", "#AAAAAA");
			    }	
			});

			$("div.add_blog_tag").html('<button type="button" class="or_std_button add_blog_tag_button"><span class="ui-icon ui-icon-plusthick"></span> {lang_blog_add_new_tag}</button>');
			
			$(".add_blog_tag_button").click(
				function() {
					$("#add_blog_tag_form").dialog({
						title: "{lang_blog_add_new_tag}",
						modal: true,
						width: "480",
						buttons: null,
						position: {
							my: "center",
							at: "top+10%",
							of: window,
							collision: "none"
						},
						close: function(event, ui) {
							$("#add_blog_tag_form").dialog( "destroy" ); 
						}
					});
				}
			); 
			$("#add_blog_tag_form").validate({
				submitHandler: function(form) {
					$.post("ajax.php?action=ajax_create_blog_tag_noassignment", $("#add_blog_tag_form").serialize(),
					function(data) {
						if(data.error == "1") {
							alert(data.error_msg);
						}
						else {
							$("#ui-id-6").load("{baseurl}/admin/ajax.php?action=blog_settings_tags");
							$("#add_blog_tag_form").dialog( "destroy" ); 
							status_msg("{lang_tag_created}");
						}
			 		}, "json");
				 	
				return false;
				},
				highlight: function(element) {
			        $(element).css("background", "#FFCCCC");
			        $(element).css("border-color", "#3300ff");
			    },
			    // Called when the element is valid:
			    unhighlight: function(element) {
			        $(element).css("background", "#FFFFCC");
			         $(element).css("border-color", "#AAAAAA");
			    }
			});
	</script>