 <div class ="application_main">
 	<div class="application_section">
 		<img src="{template_url}/images/icon_blog_publisher.png" alt="{lang_admin_blog_manager}" />
		<div class="application_section_title">
			{lang_admin_blog_manager}
		</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div class="clear"></div>
	</div>
	
	<div class="inner_div">
		<div class="inner_div_wrapper">
			<div id="blog_config_general">	

				<!-- the tabs --> 
				<div id="tabs">
					
					<ul> 
	   					<li><a href="#Main">{lang_emenu_main}</a></li> 
	   					{check_edit_site_config}
	   						<li><a href="#Configure">{lang_dialog_configure}</a></li>{/check_edit_site_config}
	   					{!check_edit_site_config}{check_is_blog_editor}
	   						<li><a href="#Configure">{lang_dialog_configure}</a></li>
	   					{/check_is_blog_editor}{/!check_edit_site_config}
						{check_edit_site_config}
							<li><a href="#WPInject">{lang_blog_wp_inject}</a></li>
						{/check_edit_site_config}
					</ul> 

			 
					<!-- begin first tab contents --> 

					<div id="Main" class="inner_div" >
						<div style="
margin: 0px;
border-top: 1px solid #ccc; 
background: #f4f7ff; 
background: -moz-linear-gradient(top,  #f4f7ff 0%, #d2d8e0 40%, #c0cec7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#d2d8e0), color-stop(100%,#c0cec7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
-moz-box-shadow:    1px 1px 1px rgba(1, 0, 0, 0.75);
box-shadow:         1px 1px 1px rgba(1, 0, 0, 0.75);
padding-top: 5px;
font-size: 1.1em;
">	
							<span id="blog_edit_index_status_list">
								<a href="{baseurl}/admin/index.php?action=edit_blog" title="{lang_blog_view_all}">{lang_blog_all}</a> <span class="blog_edit_index_status_list_count">({blog_edit_status_all_count})</span> |
 								<a href="{baseurl}/admin/index.php?action=edit_blog&amp;status=Published" title="{lang_blog_view_live}">{lang_blog_published}</a> <span class="blog_edit_index_status_list_count">({blog_edit_status_published_count})</span> |
								<a href="{baseurl}/admin/index.php?action=edit_blog&amp;status=Draft" title="{lang_blog_view_draft}">{lang_blog_draft}</a> <span class="blog_edit_index_status_list_count">({blog_edit_status_draft_count})</span> |
								<a href="{baseurl}/admin/index.php?action=edit_blog&amp;status=Review" title="{lang_blog_view_review}">{lang_blog_review}</a> <span class="blog_edit_index_status_list_count">({blog_edit_status_review_count})</span>
							</span>
							<span id="blog_edit_index_next_prev">
								{next_prev}
							</span>
							<span id="add_post_form">
								<form id="add_blog_form" class="add_blog_form" action="#" method="post">
									<span id="response_text"></span> 
  	   			 					<input id="post_title" type="text" name="title" value="" class="required" />
									<button class="or_std_button" id="new_post" ><span class="ui-icon ui-icon-plusthick"></span> {lang_blog_add_post}</button>
								

								</form>
								<br />
							</span>
						</div>
						<table cellspacing="0" class="blog_edit_index_table">
							<thead>
							<tr>
								<th>{lang_blog_post}</th>
								<th>{lang_blog_author}</th>
								<th>{lang_blog_keywords}</th>
								<th>{lang_blog_comments}</th>
								<th>{lang_blog_date}</th>
								<th>{lang_blog_publication_status}</th>
							</tr>
							</thead>
							<tfoot>
								<tr>
									<th>{lang_blog_post}</th>
									<th>{lang_blog_author}</th>
									<th>{lang_blog_keywords}</th>
									<th>{lang_blog_comments}</th>
									<th>{lang_blog_date}</th>
   			        		 		<th>{lang_blog_publication_status}</th>
   				     			</tr>
							</tfoot>
							<tbody>
								{blog_edit_item_block}
								<tr>
									<td>{blog_edit_item_id} <a class="blog_index_post_link" href="{baseurl}/admin/index.php?action=edit_blog_post&amp;id={blog_edit_item_id}" title="{lang_edit} {blog_edit_item_title}"><img class="addon_manager_action_icon" src="{template_url}/images/generic_icon_edit.png" alt="{lang_edit}" /> {blog_edit_item_title}</a></td>
									<td>{blog_edit_item_author}</td>
									<td>{blog_edit_item_keywords}</td>
									<td><span class="blog_comment_link"><a href="{baseurl}/admin/index.php?action=edit_blog_post_comments&amp;id={blog_edit_item_id}" title="{lang_blog_moderate_comments}"><img class="addon_manager_action_icon" src="{template_url}/images/generic_icon_edit.png" alt="{lang_edit}" /> {blog_edit_item_commentcount}</a></span></td>
									<td>{blog_edit_item_date}</td>
									<td class="blog_publish_status_{blog_edit_item_published}">{blog_edit_item_published}</td>
								</tr>
								{/blog_edit_item_block}
							</tbody>
						</table>		
						<br />
 			
					</div>	
					<!-- end first tab contents -->  
				
					<!-- begin second tab contents -->  
					<div id="Configure">
						
						<div id="mini-tabs">
							<ul>
								{check_edit_site_config}<li><a href="{baseurl}/admin/ajax.php?action=blog_settings_general" id="tab_blog_settings_general">{lang_blog_settings_general}</a></li>{/check_edit_site_config}
								<li><a href="{baseurl}/admin/ajax.php?action=blog_settings_categories" id="tab_blog_settings_categories">{lang_blog_settings_categories}</a></li>
								<li><a href="{baseurl}/admin/ajax.php?action=blog_settings_tags" id="tab_blog_settings_tags">{lang_blog_settings_tags}</a></li>
							</ul>	
						</div>
						
					</div>

					<!-- end second tab contents -->
					
  			 		<!-- begin third tab contents -->  
					<div id="WPInject">	  
						<form enctype="multipart/form-data" id="wpinjectform" action="ajax.php?action=blog_wpinject" method="POST">
							<div style="text-align: center;">
								{lang_blog_wp_inject_text}: <input name="uploadedfile" type="file" />
								<div class="space_20"></div>
								<input type="submit" class="or_std_button" value="{lang_upload_file}" />
							</div>	
						</form>
						<div id="wpinjectresults">
						</div>
						<div class="space_10"></div>
					</div>
					
				</div>
				<!-- end css-panes -->  
			</div>
			
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript" src="{baseurl}/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>