/* Blog Editor Styling */

.blog_edit_index_table {
	border-left:1px solid #AAAAAA;
	border-collapse: collapse;
	clear: both;
	margin: 0 0 5px 0; width:100%;
	-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	-moz-box-shadow:    1px 1px 1px rgba(1, 0, 0, 0.75);
	box-shadow:         1px 1px 1px rgba(1, 0, 0, 0.75);
	background: #fff;
}

.blog_edit_index_table * {
	word-wrap: break-word;
}

.blog_edit_index_table thead, .blog_edit_index_table tfoot {
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
}

.blog_edit_index_table th {
	text-shadow: 1px 1px 1px white;
}

.blog_edit_index_table th, .blog_edit_index_table td {
	border:1px solid #AAAAAA;
	padding: 6px 3px;
	overflow: hidden;
	text-align:center;
}

.blog_edit_index_table tr:hover {
	background: #f4f7ff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f7ff 0%, #c6ccd3 40%, #d2d2dd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#c6ccd3), color-stop(100%,#d2d2dd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f7ff 0%,#c6ccd3 40%,#d2d2dd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f7ff 0%,#c6ccd3 40%,#d2d2dd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f7ff 0%,#c6ccd3 40%,#d2d2dd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f7ff 0%,#c6ccd3 40%,#d2d2dd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#d2d2dd',GradientType=0 ); /* IE6-9 */
}

.blog_edit_index_table td:first-child {
	text-align: left;
}

#blog_edit_index_status_list {
	display: block;
	float: left;
	padding: 5px;
}

.blog_edit_index_table a, #blog_edit_index_status_list a {
	color: #1464F4;
	text-decoration: none;
	text-shadow: 1px 1px 1px white;
}

.blog_comment_link a {
	font-weight: 600;
}

.blog_edit_index_table img {
	vertical-align: text-bottom;
}
#blog_edit_index_next_prev {float:right; display: block}

.blog_next_prev_first a, .blog_next_prev_last a {
	color: #1464F4;
	text-shadow: 1px 1px 1px white;
}
.blog_next_prev_first a:hover, .blog_next_prev_last a:hover {
	color: #fff;
	text-shadow: 1px 1px 1px black;
}
.blog_next_prev_curpage {
	color: #fff;
}

.blog_next_prev_ghost {
	color: #aaa;
}

#response_text {
	display: block;
	font-size: 10pt;
}

#add_post_form {
	display: block;
	padding-left: 35%;
}

#post_actions {
	border-top: 1px solid #ddd;
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	padding: 0px 5px;
}

#post_title{
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	width: 160px;
	padding: 2px;
	font-size: 10pt;
	font-weight: bold;
}

#post_title:focus,
input.blog_edit_input:focus,
input.blog_edit_input:focus,
input.blog_edit_input_seo:focus,
#add_blog_tag_form input[type="text"]:focus {
	outline: none; /*webkit fix*/
	background: #fff;
	border: 1px solid #236B8E;
}
.blog_edit_index_status_list_count {
	color:#036;
		text-shadow: 1px 1px 1px white;
}

input.blog_edit_input  {
	width: 99%;
	border: 1px solid #AAAAAA;
	background: #FFFFCC;
	padding-left: 4px;
	padding-right: 4px;
	color: #303030;
	font-size: 14pt;
}

input.blog_edit_input_seo {
	width: 98%;
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	padding-left: 4px;
	color: #303030;
	font-size: 12pt;
}

#edit_blog_post_editor {
	width: 100%;
	margin: 0px;
	padding: 0px;
	clear: right;
	float: left;
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}

#blog_stats {
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	padding: 0px 5px;
	margin-bottom: 6px;
	padding: 6px;

}

/*main blog edit page*/
.blog_edit_section{
	margin-right:228px; /*8 pixel margin for page_edit_toolbar*/
}

.blog_editor_right {
	float:left;
	width: 220px;
	margin-left:-220px;
}
.blog_editor_right_collapse {
	float: left;
	width: 16px;
	margin-left:-16px;
}

.category_collapse {
	float:left;
	cursor:pointer;
	width:16px;
}

#blog_manager_link {
	color:#FCFCFC;
}

.blog_edit_sub_section {
	margin:5px;
	background: #F5F5F5;
}

#word_count_text {
	color: #666666;
}

#word_count {
	font-weight: bold;
	color: #000;
}

.link_label {
	font-weight:bold;
	font-size: 10pt;
	color: #666666;
}

.blog_tag {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	margin: 1px;
	width: 80px;;
	padding: 2px 4px;
	font-size: 8pt;
	color: #036;
}

.blog_link {
	font-size: 8pt;
	color: #000000;
}

.blog_link A {
	color: #0000EE;
}

.blog_edit_post_editor {
	height: 350px;
	width: 100%;
}

.blog_rounded_box {
	margin-bottom: 8px;
}

.blog_publish_status_Draft{
	color:#808080;
	border-color:black;
	text-align:center;
}

.blog_publish_status_Live{
	color:green;
	border-color:black;
	text-align:center;
}

.blog_publish_status_Review{
	color:#FFD23D;
	border-color:black;
	text-align:center;
}

.blog_comments{
	float:right;
}

.blog_article_comments_header{
	font-weight:bold;
	font-size:18px;
	color:#053280;
	margin-bottom:10px;
}

.blog_article_comment_item{
	margin-left:10px;
	margin-right:10px;
	padding-bottom:5px;
	padding-top:5px;
}

.blog_article_comment_title_row {
	border-top: 1px solid #ccc;
	background: #f4f7ff;
	background: -moz-linear-gradient(top,  #f4f7ff 0%, #d2d8e0 40%, #c0cec7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#d2d8e0), color-stop(100%,#c0cec7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	-moz-box-shadow:    1px 1px 1px rgba(1, 0, 0, 0.75);
	box-shadow:         1px 1px 1px rgba(1, 0, 0, 0.75);
	display:block;
	height:15px;
	padding: 5px;
	margin-bottom:10px;
	font-size:10px;
}

.blog_article_comment_title_column {
	font-size: 9pt;
	text-shadow: 1px 1px 1px white;
}

.blog_comment_author {
	font-weight: bold;
}

.blog_article_comment_text {
	padding-left:5px;
	padding-right:5px;
	color:#036;
	margin-bottom:10px;
}
.blog_date {
	clear:both;
	color:#036;
	margin-bottom:3px;
	font-size:10px;
}
.blog_title{
	font-weight:bold;
	font-size:18px;
	color:#036;
	border-bottom:1px dotted;
}
.comment_tools {
	float:right;
	width:100px;
}
.comment_tools img {
	padding: 2px 4px;
	vertical-align: text-bottom;
}

.blog_article_comment_title_column{
	float:left;
}
.comment_tool_image {
	width:14px;
}

#blog_top_div {
	padding: 6px 0px;
	font-size: 1.2em;
}

#blog_status_value {
	border 1px solid #A3A3A3;
	background: #FFFFCC;
	font-size: 1.2em;
}


.post_id_text {
	font-size: 12pt;
	float: right;
	color: #000;
}

.status_div {
    background:transparent url({template_url}/images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.cat_checkbox.c1 {
	margin-left:15px;
}
.cat_checkbox.c2 {
	margin-left:25px;
}
.cat_checkbox.c3 {
	margin-left:35px;
}
.cat_checkbox.c4 {
	margin-left:45px;
}
.cat_checkbox.c5 {
	margin-left:55px;
}

.blog_settings_add_category{
	float: left:
	width: 50%;
}

.blog_settings_edit_category_left{
	float: left;
	width: 30%;
	text-align: right;
	padding-top: 4px;
}

.blog_settings_edit_category_right{
	float: left;
	width: 60%;
	padding-left: 10px;
	padding-bottom: 4px;
}

.blog_settings_edit_tag_left{
	float: left;
	width: 30%;
	text-align: right;
	padding-top: 4px;
}

.blog_settings_edit_tag_right{
	float: left;
	width: 60%;
	padding-left: 10px;
	padding-bottom: 4px;
}

.add_blog_category_button {
	margin-bottom: 6px;
}

.add_blog_cat{
	float: left;
}

#blog_config_general input[type='text'],
#blog_config_general select,
#blog_config_general textarea,
#blog_config_general select[multiple] {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	margin: 1px;
	padding: 2px;

}
#blog_config_general input[type='text']:focus,
#blog_config_general select:focus,
#blog_config_general textarea:focus,
#blog_config_general select[multiple]:focus{
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}

#add_blog_category_form input[name="title"],
#add_blog_category_form input[name="seoname"],
#add_blog_category_form textarea[name="description"],
#add_blog_category_form select[name="parent"],
#edit_blog_category_form input[name="title"],
#edit_blog_category_form input[name="seoname"],
#edit_blog_category_form textarea[name="description"],
#edit_blog_category_form select[name="parent"],
#add_blog_tag_form input[name="title"],
#add_blog_tag_form input[name="seoname"],
#add_blog_tag_form textarea[name="description"],
#edit_blog_tag_form input[name="title"],
#edit_blog_tag_form input[name="seoname"],
#edit_blog_tag_form textarea{
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 1em;
	margin: 1px;
	padding: 2px;
	width: 250px;
}

#add_blog_category_form input[name="title"]:focus,
#add_blog_category_form input[name="seoname"]:focus,
#add_blog_category_form textarea[name="description"]:focus,
#add_blog_category_form select[name="parent"]:focus,
#edit_blog_category_form input[name="title"]:focus,
#edit_blog_category_form input[name="seoname"]:focus,
#edit_blog_category_form textarea[name="description"]:focus,
#edit_blog_category_form select[name="parent"]:focus,
#add_blog_tag_form input[name="title"]:focus,
#add_blog_tag_form input[name="seoname"]:focus,
#add_blog_tag_form textarea[name="description"]:focus,
#edit_blog_tag_form input[name="title"]:focus,
#edit_blog_tag_form input[name="seoname"]:focus,
#edit_blog_tag_form textarea:focus {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}

/*form field on Blog editing page */
#add_blog_tag_form input[type="text"] {
	width: 200px;
}

.add_blog_tag {
	float: left;
}

input#category_title {
	border:1px solid #AAAAAA;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: #FFFFCC;
	color: #303030;
	font-size: 9pt;
	width: 110px;
}

select#add_blog_category_parent{
	border:1px solid #AAAAAA;
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background: #FFFFCC;
	font-size: 9pt;
	color: #2f4f4f;
	width: 110px;
}

.edit_blog_add_cat_box {
	border: 1px solid #AAAAAA;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	background: #FAFAFA;
	margin: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.preview_div {
	border: 1px solid #F5F5F5;
	cursor: pointer;
	text-align: center;
	font-size: 9pt;
	color: #444;
	width: 120px;
	padding: 6px 8px 2px 8px;
	margin: 5px 0px 5px 30px;
}

.preview_div:hover {
	padding: 6px 8px 2px 8px;
	width: 120px;
	border: 1px solid #ccc;
	background: #F7F7F7;
	text-decoration: none;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}


#wpinjectform {
	padding:10px;
}

/* BUTTONS */

.blog_add_cat{
	margin-left:55px;
	margin-right:55px;
	text-align:center;
}
.blog_new_cat{
	margin-left:145px;
	margin-right: 15px;
	width: 35px;
}

#blog_update_button {
	float: left;
	margin: 0px 4px;
}

#blog_button_div {
	float: right;
	margin-right: 5px;
	/*font-size: 1.2em;*/
}

#blog_revert_button {
	float: left;
	margin: 0px 8px 0px 0px;
}
#blog_delete_button {
	float: right;
	margin: 0px 4px;
}

.label {
	font-weight:700;
	color: #888;
	float: left;
    padding-top: 4px;
    font-size: 1.2em;
}