	<div style="margin: 0px; padding: 0px;"  >
	
		<div class="space_10"></div>
		
		<div id="blog_cat_container">
			
			<table cellspacing="1" class="display" id="catlist">
				<thead>
					<tr>
						<th>{lang_blog_category_name}</th>
						<th>{lang_blog_seoname}</th>
						<th>{lang_blog_description}</th>
						<th>{lang_blog_cat_posts}</th>
						<th>{lang_blog_cat_options}</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>{lang_blog_category_name}</th>
						<th>{lang_blog_seoname}</th>
						<th>{lang_blog_description}</th>
						<th>{lang_blog_cat_posts}</th>
						<th>{lang_blog_cat_options}</th>
					</tr>
				</tfoot>
				<tbody>
					{category_display_block}
						<tr>
							<td>{cat_level_indicator}<a href="" id="edit_cat_{cat_id}" class="edit_cat">{cat_name}</a></td>
							<td>{cat_seoname}</td>
							<td>{cat_description}</td>
							<td>{cat_post_count}</td>
							<td>
							
							<span style="padding-right: 2px;">
								{rankup_block}<a href="" id="rankup_{cat_id}" class="rankup">{/rankup_block}<img src="{template_url}/images/up_arrow_16.png" alt="Up" style="{rankup_style}" />{rankup_block}</a>{/rankup_block}
							</span>
							<span style="padding-right: 2px;">
								{rankdown_block}<a href="" id="rankdown_{cat_id}" class="rankdown">{/rankdown_block}<img src="{template_url}/images/down_arrow_16.png" alt="Down" style="{rankdown_style}" />{rankdown_block}</a>{/rankdown_block}
							</span>
							
							<span style="padding-right: 4px;">
								{catdelete_block}<a href="" id="edit_cat_{cat_id}" class="edit_cat">{/catdelete_block}<img src="{template_url}/images/generic_icon_edit.png" alt="Edit {cat_name}" style="{catdelete_style}" />{catdelete_block}</a>{/catdelete_block}
							</span>
							<span>
								{catdelete_block}<a href="" id="catdelete_{cat_id}" class="catdelete">{/catdelete_block}<img src="{template_url}/images/generic_icon_delete.png" alt="Delete"  style="{catdelete_style}" />{catdelete_block}</a>{/catdelete_block}
							</span>
							</td>
						</tr>
					{/category_display_block}
				</tbody>
			</table>
			
		</div>
			
		<div class="space_10"></div>
	
	</div>

	<div style="display:none;">
		<div class="blog_settings_add_category">
			<form action="#" id="add_blog_category_form" type="POST">
				<div class="blog_settings_edit_category_left">{lang_blog_category_name}:</div>
				<div class="blog_settings_edit_category_right">
					<input name="title" value="" class="required" /> <span class="form_required_field"></span>
				</div>
				<br />
				
				<div class="blog_settings_edit_category_left">{lang_blog_seoname}:</div>
				<div class="blog_settings_edit_category_right"><input name="seoname" value="" /></div>
				<br />
				
				<div class="blog_settings_edit_category_left">{lang_blog_description}:</div>
				<div class="blog_settings_edit_category_right"><textarea name="description" cols="35" rows="5"></textarea></div>
				<br />
				
				<div class="blog_settings_edit_category_left">{lang_blog_category_parent}:</div> 
				<div class="blog_settings_edit_category_right">
					<select name="parent">
						{parent_id_block}
							<option value="{blog_category_id}">{child_lvl}{blog_category_name}:</div>
						{/parent_id_block}
					</select>
				</div>
				<br />
				
				<div class="blog_settings_edit_category_left"></div>
				<div style="width: 60%; float: right; margin-top: 10px;">
					<span class="blog_buttons_div">
						<input id="add_blog_category_button"  class="or_std_button" type="submit" value="{lang_blog_add_category}" />
					</span>	
				</div>	
			</form>
		</div>
	</div>


	<div style="display:none;">
		
		<div class="blog_settings_edit_category">
			<form action="#" id="edit_blog_category_form" type="POST">
				<div class="blog_settings_edit_category_left">{lang_blog_category_name}</div> 
				<div class="blog_settings_edit_category_right">
					<input name="title" id="edit_category_name" value="" class="required" /> <span class="form_required_field">
				</div>
				<br />

				<div class="blog_settings_edit_category_left">{lang_blog_seoname}:</div> 
				<div class="blog_settings_edit_category_right"><input name="seoname" id="edit_category_seoname" value="" /></div>
				<br />

				<div class="blog_settings_edit_category_left">{lang_blog_description}:</div> 
				<div class="blog_settings_edit_category_right"><textarea name="description" id="edit_category_description"cols="35" rows="5"></textarea></div>
				<br />

				<div class="blog_settings_edit_category_left">{lang_blog_category_parent}:</div> 
				<div class="blog_settings_edit_category_right">
					<select name="parent" id="edit_category_parent">
						{parent_id_block}
						<option value="{blog_category_id}" {blog_category_selected}>{child_lvl}{blog_category_name}</option>
						{/parent_id_block}
					</select>
				</div>
				
				<input type="hidden" name="category_id" id="edit_category_id" />
			
				<div class="blog_settings_edit_category_left"></div>
				<div style="width: 60%; float: right; margin-top: 10px;">
					<span class="blog_buttons_div">
						<input id="blog_update_button" class="or_std_button" type="submit" value="{lang_update_button}" />
					</span>	
				</div>		
			</form>
		</div>
		
	</div>
	
		
	<script type="text/javascript">
			$("#catlist").DataTable( {
				"pagingType": "full_numbers",
				"autoWidth": false,
				"ordering": false,
				"pageLength": 25,
				"columns": [
								/* id */ { "sWidth": "170px" },
								/* title */ { "sWidth": "170px" },
								/* author */ null,
								{ "sWidth": "20px" },
								/*name */ { "sWidth": "80px" }
								],
				"sDom": '<"top" <i <"div.add_blog_cat"> l><"clear"><"space_10"> fp <"clear"> > rt <"bottom"ip<"clear">>',				 
				//Add Click Events to icons.
				"fnDrawCallback": function() {
					$(".rankup").click(function() {
						var cat_id =  $(this).attr("id")
						cat_id = cat_id.replace('rankup_','');
						$.post("ajax.php?action=ajax_rankup_blog_category", { category_id: cat_id },
						function(data) {
							if(data.error == "1") {
								alert(data.error_msg);
							}
							else {
								$("#ui-id-5").load("{baseurl}/admin/ajax.php?action=blog_settings_categories");
							}
					 	}, "json");

						return false;
					});
					
					$(".rankdown").click(function() {
						var cat_id =  $(this).attr("id")
						cat_id = cat_id.replace('rankdown_','');
						$.post("ajax.php?action=ajax_rankdown_blog_category", { category_id: cat_id },
						function(data) {
							if(data.error == "1") {
								alert(data.error_msg);
							}
							else {
								$("#ui-id-5").load("{baseurl}/admin/ajax.php?action=blog_settings_categories");
							}

					 	}, "json");
					 	return false;
					});
					
					$(".catdelete").click(function() {
						if(confirmDelete()){
							var cat_id =  $(this).attr("id")
							cat_id = cat_id.replace('catdelete_','');
							$.post("ajax.php?action=ajax_delete_blog_category", { category_id: cat_id },
							function(data) {
								if(data.error == "1") {
									alert(data.error_msg);
								}
								else {
									$("#ui-id-5").load("{baseurl}/admin/ajax.php?action=blog_settings_categories");
									status_msg("{lang_cat_deleted}");
								}
						 	}, "json");
						}
					 	return false;
					});
					
					//edit_cat_
					$(".edit_cat").click(function() {
						var cat_id =  $(this).attr("id")
						cat_id = cat_id.replace('edit_cat_','');
						
						//Get Blog Values
						$.post("ajax.php?action=ajax_get_category_info", { category_id: cat_id },
						function(data) {
							if(data.error == "1") {
								alert(data.error_msg);
							}
							else {
								$("#edit_category_name").val(data.category_name);
								$("#edit_category_seoname").val(data.category_seoname);
								$("#edit_category_id").val(data.category_id);
								$("#edit_category_description").html(data.category_description);
								$("#edit_category_parent").val(data.parent_id);
								
								$("#edit_blog_category_form").dialog({
									title: "{lang_blog_cat_edit_category}",
									modal: true,
									width: "480",
									buttons: null,
									position: {
										my: "center",
										at: "top+10%",
										of: window,
										collision: "none"
									},
									close: function(event, ui) {
										$("#edit_blog_category_form").dialog( "destroy" ); 
									}
								});	
							}

					 	}, "json");
						
					 	return false;
					});
				}
			} );
			//
			$("div.add_blog_cat").html('<button type="button" class="or_std_button add_blog_category_button"><span class="ui-icon ui-icon-plusthick"></span> {lang_blog_add_new_category}</button>');

			$(".add_blog_category_button").click(function() {
				$("#add_blog_category_form").dialog({
					title: "{lang_blog_add_new_category}",
					modal: true,
					width: "480",
					buttons: null,
					position: {
						my: "center",
						at: "top+10%",
						of: window,
						collision: "none"
					},
					close: function(event, ui) {
						$("#add_blog_category_form").dialog( "destroy" ); 
					}
				});
			});
			
			$("#add_blog_category_form").validate({
				errorLabelContainer: "#cat_error_text",
				submitHandler: function(form) {
					$.post("ajax.php?action=ajax_create_blog_category", $("#add_blog_category_form").serialize(),
					function(data) {
						if(data.error == "1") {
							alert(data.error_msg);
						}
						else {
							$("#ui-id-5").load("{baseurl}/admin/ajax.php?action=blog_settings_categories");
							$("#add_blog_category_form").dialog( "destroy" ); 
							status_msg("{lang_cat_created}");
						}
				 	}, "json");
				 	return false;
				},
				highlight: function(element) {
			        $(element).css("background", "#FFCCCC");
			        $(element).css("border-color", "#3300ff");
			    },
			    // Called when the element is valid:
			    unhighlight: function(element) {
			        $(element).css("background", "#FFFFCC");
			         $(element).css("border-color", "#AAAAAA");
			    }
			});

			$("#edit_blog_category_form").validate({
				errorLabelContainer: "#cat_error_text",
				submitHandler: function(form) {
					$.post("ajax.php?action=ajax_update_category_info", $("#edit_blog_category_form").serialize(),
						function(data) {
							if(data.error == "1") {
								alert(data.error_msg);
							}
							else {
								$("#ui-id-5").load("{baseurl}/admin/ajax.php?action=blog_settings_categories");
								$("#edit_blog_category_form").dialog( "destroy" ); 
								status_msg("{lang_cat_modified}");
							}
			 			}, "json");
					return false;
				},
				highlight: function(element) {
			        $(element).css("background", "#FFCCCC");
			        $(element).css("border-color", "#3300ff");
			    },
			    // Called when the element is valid:
			    unhighlight: function(element) {
			        $(element).css("background", "#FFFFCC");
			         $(element).css("border-color", "#AAAAAA");
			    }	
			});
	</script>