{listing_not_found_block}
{lang_access_denied}
{/listing_not_found_block}
{listing_found_block}
<div class ="application_main">

	<div class="application_section">
			<img src="{template_url}/images/icon_large_listing_editor.png" alt="{lang_admin_property_classes}" />
		<div class="application_section_title">{lang_listing_editor}</div>
		<div class="application_status_message" id="application_status_message"></div>
		
		<span style="float: right;  margin-right: 15px; font-size: 12pt; padding: 5px; color: #000;">{lang_admin_listings_editor_modify_listing} - {listing_id}</span>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
	
	<div class="inner_div_wrapper">

		<form id="listing_data" action="#" method="post">
			<input type="hidden" name="edit" value="{listing_id}" />

			<div class="listing_status_box edit_listing_div">
		
				<div class="info_divs">
					<div style="margin-top: 6px; padding-left:10px; ">
						{lang_listing_editor_last_modified}:
						<br />
						<span class="listing_info_perm_val">{listing_last_modified}</span>
					</div>
				</div>
				<div class="info_divs">
					<div style="padding: 4px 8px 0px 8px; text-align: center;">
						<div id="preview_button" class="or_std_button largef" style="display: inline-block; padding: 2px 16px;" title="{listing_url}">
							<img src="{template_url}/images/preview_page.png" style="vertical-align: bottom; height: 16px;"/> {lang_preview}
						</div>	
					</div>
				</div>
				<div class="info_divs">
					<div style="padding: 4px 8px 0px 8px; text-align: center;">
						<div class="or_std_button update_listingdata largef" style="display: inline-block; margin-right: 10px;">{lang_update}</div>
						<div class="or_std_button red largef" id="delete_listing" style="display: inline-block";>{lang_delete}</div>
					</div>
				</div>
				<div class="clear"></div>
				
				<div class="space_5"></div>
				
				<div class="filter_div">
					
					<div class="filter_divs">
						<div class="form_div" style="margin-top: 6px;">
						 <span class="ui-icon ui-icon-calendar"></span>	{lang_creation_date}: <span class="listing_info_perm_val">{listing_creation_date}</span>	

						</div>
					</div>	
					
					{listing_status_block}
					<div class="filter_divs">
						<div class="form_div">
							{lang_admin_listings_active}:
							<select id="listing_active" name="edit_active" size="1">
								{listing_status_option_block}
									<option value="{value}" {selected}>{text}</option>
								{/listing_status_option_block}
							</select> 
							<span id="alert_listing_inactive" class="redtext">{lang_alert_listing_inactive}</span>
						</div>	
					</div>
					{/listing_status_block}
					
					{featured_listing_block}	
					<div class="filter_divs">
						<div class="form_div">
							{lang_admin_listings_editor_featured}:
							<select name="featured" size="1">
								{featured_listing_option_block}
									<option value="{value}" {selected}>{text}</option>
								{/featured_listing_option_block}
							</select>
						</div>
					</div>
					{/featured_listing_block}
				</div>

				<div class="clear"></div>
				<div class="space_5"></div>
			</div>
				
			<div class="application_rounded_box edit_listing_div">
			
				<div id="title_box">
					<div class="titles">
						<label for="title" >{lang_admin_listings_editor_title}:</label>
					</div>	
					<div class="elements">
						<input type="text" name="title" id="title" class="titleinput required" value="{listing_title}" /> <span class="form_required_field"></span>
					</div>	

									<div class="space_5"></div>
					<div class="titles">
						<label for="listing_seotitle">{lang_admin_listings_editor_seotitle}:</label>
					</div>
					<div class="elements">	
						<input type="text" name="seotitle" id="listing_seotitle" class="titleinput" value="{listing_seotitle}" /> <span class="form_required_field"></span> 
					</div>	
				</div>					

				<div id="listing_top_fields">
					<div class="form_div">
						<div class="listing_field_caption">{lang_admin_listings_editor_property_class}:</div>
						<div class="listing_field_element">
							
							<!--
							<select name="pclass" disabled="disabled">
								{pclass_block}
									<option value="{value}" {selected}>{text}</option>
								{/pclass_block}
							</select>
							-->
							<input type="text" name="pclass" id="pclass_name"  value="{listing_pclass}" disabled />

						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						{listing_agent_block}
						
						<div class="listing_field_caption">{lang_listing_editor_listing_agent}:</div>
						<div class="listing_field_element">
							<select name="or_owner" size="1">
								{listing_agent_option_block}
									<option value="{value}" {selected}>{text}</option>
								{/listing_agent_option_block}
							</select>
							
						</div>
						{/listing_agent_block}
						
						{!listing_agent_block}	
							<input type="hidden" name="or_owner" value="{listing_agent_id}" />
						{/!listing_agent_block}	
					</div>
					<div class="clear"></div>
					
					{listing_expiration_block}
						<div class="form_div">
							<div class="listing_field_caption">{lang_expiration}:</div>
							<div class="listing_field_element">
								<input type="text" name="edit_expiration" id="edit_expiration" class="required ordate" value="{listing_expiration}"  />  <span class="form_required_field"></span>
								<br />
								({config_date_format_long})
								<script>
									$( function() {
									    $( "#edit_expiration" ).datepicker({
											onClose: function() {
												$( "#edit_expiration" ).validate();
											}
										})
									});
								</script>
							</div>
						</div>
						<div class="clear"></div>
					{/listing_expiration_block} 
				
					{listing_export_block}
						<div class="form_div">
							<div class="listing_field_caption">{lang_admin_listings_editor_mlsexport}:</div>
							<div class="listing_field_element">
								<select name="mlsexport" size="1">
								{listing_export_option_block}
								<option value="{value}" {selected}>{text}</option>
								{/listing_export_option_block}
								</select>
							</div>
						</div>
						<div class="clear"></div>
					{/listing_export_block}
					
					{!listing_export_block}
						<input type="hidden" name="mlsexport" value="no" />
					{/!listing_export_block}

				</div>

				<div id="listing_notes">
					{listing_notes_block}
						<div class="listing_notes_text">
							<strong>{lang_admin_listings_editor_notes}:</strong> <span class="small">({lang_admin_listings_editor_notes_note})</span>
						</div>
						<textarea name="notes">{listing_note}</textarea> 
					{/listing_notes_block}

					{!listing_notes_block}
						<input type="hidden" name="notes" value="{listing_note}" />
					{/!listing_notes_block}
				</div>
				<div class="clear"></div>

				<div class="center">
					<span class="disp_loc_text">headline</span>
					{headline}
					<div class="clear">&nbsp;</div>
				</div>
				
				<div class="float_left_half equal_1">
					<span class="disp_loc_text">top_left</span>
					{top_left}
				</div>
				<div class="float_right_half equal_1">
					<span class="disp_loc_text">top_right</span>
					{top_right}
				</div>
				<div class="clear">&nbsp;</div>

				<div class="center">
					<span class="disp_loc_text">center</span>
						{center}
					<div class="clear">&nbsp;</div>	
				</div>

				<div class="float_left_half equal_2">
					<span class="disp_loc_text">feature1</span>
					<div class="features_ticked">
							{feature1}
					</div>
				</div>
				<div class="float_right_half equal_2">
					<span class="disp_loc_text">feature2</span>
					<div class="features_ticked">
						{feature2}
					</div>
				</div>
				<div class="clear">&nbsp;</div>

				<div class="float_left_half equal_3">
					<span class="disp_loc_text">bottom_left</span>
					{bottom_left}
				</div>
				<div class="float_right_half equal_3">
					<span class="disp_loc_text">bottom_right</span>
					{bottom_right}
				</div>
				<div class="clear">&nbsp;</div>

				<div class="center">
					<span class="disp_loc_text">unassigned</span>
						{misc_hold}
					<div class="clear">&nbsp;</div>		
				</div>
				
				<div style="text-align:center; padding: 10px;">
					<input type="submit" class="or_std_button largef" value="{lang_update}" />
				</div>

				
			
		
				</div>
			</form>
		</div>

		<!--  Media Column -->
		
		<div class="media_column">
			<div id="accordion">
				<a href="#" id="listing_file_tab">{lang_files}</a> 
	 	 	  	<div id="listing_file_pane" class="pane"></div>
			    		 			
	 			<a href="#" id="listing_vtour_tab">{lang_vtours}</a> 
	 	  	 	<div id="listing_vtour_pane" class="pane"></div>
			    
	 	  	 	<a href="#" id="listing_image_tab" class="current">{lang_images}</a> 
	  	 		<div id="listing_image_pane" class="pane" style="display:block"></div> 
			</div>

		</div>
		<div class="clear">&nbsp;</div>
		
		<!--  image/file Container -->
		<div id="edit_listing_image_container" style="display:none;">
			<form id="edit_media_form" action="#" method="post">
				<input type="hidden" name="media_id" id="media_id_holder" />
				<input type="hidden" name="media_type" id="media_type_holder" />	

				<img id="edit_media_full_tag" src="{baseurl}/images/nophotobig.gif" border="0" alt=""/>

				<span id="edit_media_file_name"></span>
				<div class="space_5"></div>
			
				<div style="float:left;">
					<div class="edit_media_caption_div">{lang_upload_caption}:</div>
					<div class="edit_media_input"><input type="text" id="edit_media_caption" name="caption" value="" /></div>
					<div class="clear"></div>

					<div class="edit_media_caption_div">{lang_upload_description}:</div>
					<div class="edit_media_input"><textarea id="edit_media_description" name="description" rows="6" cols="40"></textarea></div>
					<div class="clear"></div>
				</div>	
				<div style="float:left; border: 1px solid #bbb; margin: 0px 5px 0px 15px; padding: 5px 12px;">
					<span id="edit_media_thumbnail_caption">{lang_thumbnail}: </span>
					<img id="edit_media_thumb_tag" src="{baseurl}/images/nophoto.gif" border="0" alt=""/>
				</div>	
				<div class="clear"></div>
				
				<div class="space_5"></div>
				<div class="centerit">
					<a id="update_media" href="#" class="or_std_button">{lang_update}</a>
					<a id="delete_media" href="#" class="or_std_button red">{lang_delete}</a>
					
				</div>
			</form>
		</div>
		<!--  END image/file Container -->
		
		<!--  END Media Column -->
	</div>
		
</div>
{/listing_found_block}
<!-- jQuery to set specific paired div heights uniformly -->			
<script type="text/javascript"> 
$(document).ready(function() { 

	$(".equal_1").equalHeights(); 
	$(".equal_2").equalHeights(); 
	$(".equal_3").equalHeights(); 
}); 
</script>