/* edit_listing.html and listing_editor.html CSS */

#listing_data .error {
    color: red;
}

.form_div input[type="text"], .form_div select, .form_div textarea {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 1.1em;
	margin: 1px;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	padding: 2px;
}

.form_div input[type="text"] {
	width: 85%;
}

.form_div select {
	max-width: 85%;
}

.form_div input[type='text']:focus, .form_div textarea:focus  {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}

.form_div textarea {
	min-height: 75px;
	width: 85%
}

.form_div option {
	background: #fff;
}
.form_div select:focus {
	background-color: #fff;
}

.form_div input[type="checkbox"]{
	background-color: #FFFFCC;
}

.form_div input[name="title"], .form_div input[name="seotitle"] {
	min-width: 490px;
	padding: 2px;
}

.center input[type="text"], .center textarea {
	width: 93%;
}

.center textarea {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	height: 75px;
	padding: 2px;
	margin-top: 4px;
}

#listing_active, .form_div select[name="featured"], .form_div select[name="mlsexport"] {
/*	width: 60px;*/
}

.form_div input[name="edit_expiration"] {
	width: 80px;
}

#listing_notes textarea {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	height: 70px;
	width: 90%;
	padding: 2px;
	margin-top: 4px;
	font-size: 1em;
}

#title_box {
	margin: 5px;
}

.titles {
	font-size: 1.1em;
	font-weight: bold;
   	float: left;
    width: 20%;
    text-align: right;
    margin-right: 8px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.elements {
	width: 78%;
	display: inline-block;
}

#title_box input[name="title"], #title_box input[name="seotitle"] {
    border: 1px solid #AAAAAA;
    background: #FFFFCC;
    color: #303030;
    font-size: 1.4em;
    margin: 1px;
    padding: 2px;
    width:95%;

}

#listing_notes textarea:focus {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}


.disp_loc_text {
	z-index: 5;
	color: #ececec;
	font-weight: bold;
	font-size: 1.3em;
	text-align: left;
}

.float_left {float:left;}
.float_right {float:right;}

.center {
	text-align:center;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background: #F2F2F2;
	padding: 1px;
	-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	margin: 10px 6px;
	background: #FbFbFb;
}


.float_left_half, .float_right_half {
	width:48%;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 1px;
	-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	padding-bottom: 10px;
	background: #FbFbFb;

}
.float_left_half {
	float:left;
	margin-left: 6px;
}
.float_right_half {
	float:right;
	margin-right: 6px;
}

.media_column {
	float:left;
	width:150px;
	margin-left:-150px;
}

.edit_listing_div {
	margin-right:160px;
}

.preview_div, .preview_div:hover {
	font-size: 1em;
	cursor: pointer;
	text-align: center;
	margin: 6px 6px 0px 6px;
	text-decoration: none;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.preview_div {
	border: 1px solid #ccc;
	color: #aaa;
}
.preview_div:hover {
	border: 1px solid #666;
	background: #F7F7F7;
	color: #444;
}


#listing_top_fields {
	float: left;
	width: 42%;
}

#pclass_name {
	font-weight: 700;
	font-size: 1.2em;
	text-shadow: 1px 1px 2px #ccc;
	color: #333;
	max-width: 85%;
	border: none;
	background: none;
	 outline: none;
}


#listing_notes {
	float: right;
	width: 57%;
	font-size: 1.2em;
}

.listing_notes_text {
	margin-top: 7px;
}

.listing_field_caption {
	float: left;
	text-align: right;
	font-size: 1.2em;
	width: 42%;
	padding-top: 4px;
}

.listing_field_element {
	float: right;
	text-align: left;
	width: 57%;
}

.listing_field_location {
	background: #DDDDDD; margin: 6px;
}


/* CSS For Listing Editor Index - Should move to edit_listing.css at some point*/

.or_std_button.filter {

	margin: 3px;
}
.or_std_button.filter:hover {
	border-color:  #07FFfF;
}
.or_std_button.add_listing_link {
    padding: 4px 20px;
	display: block;
	text-align: center;
	border-color: #67C8FF;
	font-size: 1.2em;
}
.or_std_button.add_listing_link:hover {
	border-color:  #07FFF;
}

#add_listing_but {
	float: right;
	padding: 4px;
}

.field_search_div {
	float: left;
	padding: 4px;
	font-size: 1.1em;
}

.field_search_div input[type="text"] {
   	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #2f4f4f;
	font-size: 1.1em;
}

.field_search_div input[type='text']:focus  {
	outline: none; /*webkit fix*/
	backgroundcolor: #fafafa;
	border: 1px solid #236B8E;
}


.field_search_div select, .filter_div select{
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	font-size: 1.1em;
	color: #2f4f4f;
}

.filter_div {
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-color:#ddd;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0px;
	font-size: 1.2em;
}

.filter_divs {
	float: left;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	text-align: center;
	border-color:#aaa;
	width: 33%;
	min-height: 32px;
}

.listing_info_perm_val {
	font-weight: bold;
	text-shadow: 1px 1px 2px #ccc;
	margin-top: 4px;
}



.or_std_button.filter {
	margin: 3px;
}

table.edit_listings {
	border:1px solid #AAA;
	width:100%;
	margin:-1px auto 0;
	padding:0 0 3px;
	font-size: 1.1em;
}

table.edit_listings.result_row_0 th {
background-color:#BBB;
}

table.edit_listings th {
	background: #e0eff9; /* Old browsers */
	background: -moz-linear-gradient(top, #e0eff9 0%, #cccccc 38%, #b5c6d0 100%, #f2f6f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0eff9), color-stop(38%,#cccccc), color-stop(100%,#b5c6d0), color-stop(100%,#f2f6f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0eff9 0%,#cccccc 38%,#b5c6d0 100%,#f2f6f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0eff9 0%,#cccccc 38%,#b5c6d0 100%,#f2f6f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0eff9 0%,#cccccc 38%,#b5c6d0 100%,#f2f6f8 100%); /* IE10+ */
	background: linear-gradient(top, #e0eff9 0%,#cccccc 38%,#b5c6d0 100%,#f2f6f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8',GradientType=0 ); /* IE6-9 */
	color:#000;
	font-weight:500;
	text-align:left;
	padding:2px 4px;
}

table.edit_listings .listingactions {
text-align:right;
}

table.edit_listings .listinginfo {
	text-align:right;
	padding-right:8px;
}

table.edit_listings .listingid {
	color:#666;
	font-style:italic;
}

table.edit_listings .listingsimage img {
	margin:3px;
	border: 1px solid #AAA;
	-webkit-box-shadow: 1px 1px 1px 2px #DDD;
	-moz-box-shadow: 1px 1px 1px 2px #dddddd;
	box-shadow: 1px 1px 1px 2px #DDD;
	max-height:100px;
}

table.edit_listings .listingnotes {
	color:#333;
	font-size: .9em;
	font-style:italic;
	margin: 0px 4px;
}

.listingtitle, .listingid {

	font-weight: bold;
}

.listingsimage {
	width: 170px;
}

.listingstatus, .listingfeatured, .listinghits {
	margin: 3px 0px;
}

.listinghits .label, .listinghits .value {
	margin-right: 10px;
}

.listingstatus .label, .listingfeatured .label, .listinghits .label, .listingagent .label, .listingclass .label, .listinglastmodified .label {
	font-size: 1em;
	font-weight: 700;
}

.listing_status_box {
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}

.info_divs {
	float: left;
	width: 33.2%;
}

.listingagent img {
	vertical-align: bottom;
}

.edit_listings_yes {
	color:#090;
	background: url('{template_url}/images/blue_gradient.png');
}

.edit_listings_no {
	color:red !important;
}

.listingheader {
	height: 30px;
}

.listingactions a, .listing_prev {
	color:#2f4f4f;
	border: 1px solid #aaa;
	padding: 3px 8px;
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 0%, #fcfcfc 41%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(41%,#fcfcfc), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#fcfcfc 41%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f2f2 0%,#fcfcfc 41%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f2f2 0%,#fcfcfc 41%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2f2f2 0%,#fcfcfc 41%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f2f2f2", endColorstr="#e0e0e0",GradientType=0 ); /* IE6-9 */
}

.listingactions a:hover, .listing_prev:hover {
	color:#000;
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #fcfcfc 50%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(50%,#fcfcfc), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#fcfcfc 50%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%,#fcfcfc 50%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%,#fcfcfc 50%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f7f7f7 0%,#fcfcfc 50%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f2f2f2", endColorstr="#efefef",GradientType=0 ); /* IE6-9 */
	border-color:#888;
}

.listingactions img {
	vertical-align: middle;
	margin-right: 2px;
}

a.edit_listings_yes, a.edit_listings_no {
	display: inline-block;
	text-decoration:none;
	text-align: center;
	min-width: 20px;
	font-size: 1em;
	font-weight: 600;
	padding: 3px 4px;
	border: 1px solid #aaa;
	margin-left: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a.edit_listings_yes:hover, a.edit_listings_no:hover {
	background: url('{template_url}/images/blue_gradient.png');
	opacity: .8;
	border: 1px solid #666;
}

table.form_main {
	margin:auto;
}

.tooltip {
	display: block;
}

.tooltip img {
	padding-right: 4px;
}