@CHARSET "UTF-8";

.form_div {
	margin: 2px 0px;
}
.form_div input[type="text"], .form_div select, .form_div textarea, .form_div input[type="password"] {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	margin: 1px;
	font-size: 1.2em;
	padding: 2px;
}

.form_div input[type="password"]{

}
.form_div input#edit_limitListings, .form_div input#edit_limitFeaturedListings, .form_div input#edit_userRank{
	width: 25px;
	padding-left: 4px;
}

.form_div select #edit_BlogPrivileges {
	width: auto;
}

.form_div input[type='text']:focus, .form_div textarea:focus, .form_div input[type="password"]:focus {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}

.form_div textarea {
	min-height: 100px;
    width: 92%;
}

.form_div option {
	background: #fff;
}

.form_div select:focus {
	background-color: #fff;
}

.user_field_caption, #edit_user_fields .field_caption   {
	float: left;
	text-align: right;
	padding-right: 2px;
	padding-top: 3px;
	width: 50%;
	font-size: 1.2em;
}
.user_field_element, #edit_user_fields .field_element  {
	float: right;
	text-align: left;
	width: 49%;
}

.edit_user_div {
	margin-right:160px;
}

.agent_status_box {
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	font-size: 1.1em;
}

.edit_user_center {
	border-left: 1px solid #bbb;
	margin-right: 160px;
	margin-bottom: 10px;
	background: #FBFBFB;
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}

.media_column {
	float:left;
	width:150px;
	margin-left:-150px;
}
.preview_div {
	margin: 6px 10px 0px 10px;
	border: 1px solid #F5F5F5;
	cursor: pointer;
	text-align: center;
	color: #444;
}
.preview_div:hover {
	margin: 6px 6px 0px 6px;
	border: 1px solid #ccc;
	background: #F7F7F7;
	text-decoration: none;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	color: #aaa;
}

.post_id_text{
	color:red;
	width:100%;
}

.user_field_location {
	background: #FEFFFF;
	background: -moz-linear-gradient(top, #FEFFFF 0%, #DDF1F9 35%, #E5E5E5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFFFF), color-stop(35%,#DDF1F9), color-stop(100%,#E5E5E5));
	background: -webkit-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -o-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -ms-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e5e5e5',GradientType=0 );
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	padding: 4px;
	color: #036;
	font-size: 1.4em;
	font-weight: bold;
	text-shadow: 1px 1px 2px #ccc;
	text-align: center;
	border-top: 1px solid #ccc;
}

.user_info {
	text-align: center;
}
.user_info, .user_info_name {
	padding: 4px 0px 4px 8px;
}

.user_info_name {
	font-weight: bold;
	font-size: 1.3em;
	text-shadow: 1px 1px 2px #ccc;
}

.user_info_perm {
}

.user_info_perm_val {
	font-weight: bold;
	text-shadow: 1px 1px 2px #ccc;
}

.info_divs {
	float: left;
	width: 33.2%;
}
.filter_div {
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-color:#ddd;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0px;
}

.filter_divs {
	float: left;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	text-align: center;
	border-color:#aaa;
	width: 33.1%;
	min-height: 35px;
}