<div class ="application_main">

   <div class="application_section">
   		<img src="{template_url}/images/icon_large_lead_view.png" alt="{lang_admin_view_leads}" />
			<div class="application_section_title">{lang_admin_lead_manager}</div>
			<div class="application_status_message" id="application_status_message">{application_status_text}</div>
			<div style="float: right; margin: 12px 20px 4px 0px; font-weight: 400; font-size: 10pt; padding-left: 20px;">Editing Lead: {feedback_id}</div>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
		<div class="inner_div_wrapper">

 			<div class="navspace">
				<div style="height: 10px;"></div>	
					
				<div class="leftnav">
					{leadmanager_pg_First}
				</div>	
				<div class="leftnav">	
					{leadmanager_pg_Previous}
				</div>
				<div class="rightnav">
					{leadmanager_pg_Last}    
				</div>	
				<div class="rightnav">  	
					{leadmanager_pg_Next}			
				</div>
						
				<div style=" float: left;">
					<span style="font-size: 10pt; padding-left: 20px;">
						<a href="{baseurl}/admin/index.php?action=leadmanager_viewfeedback&amp;feedback_id={feedback_id}" class="or_std_button save_note">
							View Lead#&nbsp;{feedback_id}
						</a>
					</span>
					<span style="font-weight: bold; font-size: 10pt; padding-left: 60px;">Priority: </span><span style="">{leadmanager_priority} </span>
				</div>
				<div style=" float: right; padding-right: 10px;">
					<div style=" float: left;" > 
						<span id ="assigned_to" style="font-weight: bold; font-size: 10pt;">Assigned To:</span>&nbsp;
					</div>
					<div style=" float: left;"> 
						
						{leadmanager_agent_select}	
						
						<!-- WTF is this for?
						<select name="assigned_to">
							{assigned_to_block}
							<option value="{value}"{selected}>{text}</option>
							{/assigned_to_block}
						</select>
						-->
					</div>
				</div>
				<div>
					{leadmanager_status}
				</div>
							
			</div>
				
			<div class="space_5"></div>
			
			<div class="application_rounded_box">
			
	    		<div style="padding: 6px; margin: 6px; background: #f8f8f8; border: 1px solid #ddd;">
	  		 		<div style="float: left;  margin-left: 6px;">
    					<span style="font-weight: bold; text-align: right:">Created:</span>
    					<span style="text-align: left; margin-left: 6px;"> {creationdate}</span>
					</div>
					<div style="float: right;  margin-right: 6px;">
						<span style="font-weight: bold; text-align: right; ">Last Modified by:</span>
    					<span style="text-align: left; margin-left: 6px;"> {modifiedby}</span>
					</div>
					<div style="margin-left: 33%; ">
						<span style="font-weight: bold; text-align: right;">Last Modified:</span>
    					<span style="text-align: left; margin-left: 6px;"> {lastmodified}</span>
					</div>
				</div>
				
			
				<div>
					<form id="update_feedback" action="#" method="post">
						<input type="hidden" name="edit" value="{feedback_id}" />
						
						<div>						
						<div class="member_info_container">
							<span class="member_info_caption">First Name:</span> <span class="member_info_data">{member_first_name}</span><br />
							<span class="member_info_caption">Last Name:</span> <span class="member_info_data">{member_last_name}</span><br />
							<span class="member_info_caption">Email:</span> <span class="member_info_data"><a href="mailto:{member_email}">{member_email}</a></span><br />
							{member_display_info}	
							<div class="lead_edit_listing_details">
								<a href="{edit_listing_link}" title="" target="_blank" class="thumb"><img src="{raw_image_thumb_1}" />
								<span class="lead_edit_listing_title">{listing_title}</span></a>
							</div>
						</div>
						
						<div style="float: left; margin-left: 5px; text-align: left;">
								<span style="font-weight: 600;">Notes: </span><span class="small">(Not viewable by client.)</span>
								<div style="">
									<textarea name="notes" id="notes" rows="6" cols="50">{edit_notes}</textarea>
								</div>
						</div>
						<div class="clear"></div>
						</div>
						
						<div class="space_5"></div>
						<table id="display_locations">	
							<tr>
								<td class="col_100" colspan="2">
									<div id="headline">
										{headline}
									</div>
								</td>
							</tr>		
							<tr>					
								<td class="col_50">
									<div id="top_left">
										{top_left}
									</div>
								</td>
								<td class="col_50">
									<div id="top_right">
										{top_right}
									</div>
								</td>
							</tr>
							<tr>
								<td class="col_100" colspan="2">
								<div id="center">
										{center}
									</div>
								</td>
							</tr>
							<tr>						
								<td class="col_50">
									<div id="top_left">
										{bottom_left}
									</div>
								</td>
								<td class="col_50">
									<div id="top_right">
										{bottom_right}
									</div>
								</td>
							</tr>
							<tr>
								<td class="col_100" colspan="2">
									{misc_hold}
								</td>
							</tr>	
						</table>
					</form>
				</div>
				<div class="space_10"></div>
				
				<div class="form_div">
					<div class="field_caption">* Required</div>
				
					<div style="=field_element">	
						<a href="#" class="or_std_button" onclick="$('#update_feedback').submit();">{lang_update}</a>
					</div>
				</div>	
				<div class="clear"></div>
				<div class="space_10"></div>
			</div>
		 </div>
		 <div class="clear"></div>
	</div>
</div>