<div id="inner_vtour_page">
	{vtour_upload_block}
	<div>
		<a href="#" class="or_std_button" id="vtour_upload_link">{lang_upload_a_vtour}</a>
	</div>
	<div class="filedrag" id="levfiledrag">or drop files here</div> 
	{/vtour_upload_block}
	
	<ul id="vtour_sort_list">
		{vtour_block}
			<li id="mediaOrder_{vtour_id}">
				<div class="move_vtour_container">
					<img src="{template_url}/images/generic_icon_move.png" alt="Move" class="move_handle" width="12px" />
					<br />
					<a id="vtour_{vtour_id}" href="#" class="edit_vtour_link">
					{vtour_unsupported_block}
						{lang_unsupported_vtour}
					{/vtour_unsupported_block}
					{!vtour_unsupported_block}
					<img src="{vtour_thumb_src}" height="{vtour_height}" width="{vtour_width}" alt="{vtour_caption}" />
					{/!vtour_unsupported_block}
					</a><br />
					<strong>{vtour_caption}</strong>
				</div>
			</li>
		{/vtour_block}
	</ul>
	
	<div> 
		<a href="#" class="or_std_button red" id="vtours_delete_all">{lang_media_delete_all_vtours}</a>
	</div>
</div>

<script type="text/javascript">
	$("#vtours_delete_all").click(function() {
		if (confirm("{lang_media_delete_all_vtours_confirm}")) { 
			$.getJSON("ajax.php?action=ajax_delete_all&media_object_id=*&media_type=listingsvtours&media_parent_id={listing_id}",
			function(data){
				if(data.error == "1"){
					alert(data.error_msg);
				}
				$("#listing_vtour_pane").load("{baseurl}/admin/ajax.php?action=ajax_display_listing_vtours&listing_id={listing_id}");
			});
		}
		return false;
	});
	$("#vtour_sort_list").sortable({
		start: function(event, ui) {
			$(".result").text("");
		},
		tolerance: "pointer",
		handle: ".move_handle",
		revert: true,
		scroll: false,
		opacity: 0.9,
		update: function(event, ui) {
			var order = $('#vtour_sort_list').sortable('toArray');
			$.post("ajax.php?action=ajax_save_media_order", { media_type: "listingsvtours",parent_id:"{listing_id}", 'mediaOrder[]': order },
			function(data){
				if(data.error == "1"){
					status_error(data.error_msg);
				}
				else{
					status_msg("{lang_generic_saved_text}");
				}
			},"json");
		}
	});
	$("#vtour_upload_link").click(function() {

		$("#dialog-message").dialog({
			title: "{lang_upload_images}",
			modal: true,
			width: "auto",
			buttons: null,
			position: {
				my: "center top+10",
				at: "top",
				of: window,
				collision: "none"
			},
			close: function(event, ui) {
				$("#message_text").empty();
				$("#dialog-message").dialog( "destroy" );
				$("#listing_vtour_pane").load("{baseurl}/admin/ajax.php?action=ajax_display_listing_vtours&listing_id={listing_id}"); 
			}
		});
		$("#message_text").load("ajax.php?action=ajax_display_upload_media&edit={listing_id}&media_type=listingsvtours");
			
		return false;
	});
	$(".edit_vtour_link").click(function() {
		var media_id =  $(this).attr("id");
		media_id = media_id.replace("vtour_","");
		$.getJSON("ajax.php?action=ajax_get_media_info&media_id="+media_id+"&media_type=listingsvtours",
		function(data){
			if(data.error == "1"){
				alert(data.error_msg);
			}
			else{
				$("#media_id_holder").val(media_id);
				$("#media_type_holder").val("listingsvtours");
				$("#edit_media_file_name").text(data.file_name);
				if(data.thumb_width != ""){
					$("#edit_media_thumb_tag").show();
					$("#edit_media_full_tag").show();
					$("#edit_media_thumbnail_caption").show();
					$("#edit_media_thumb_tag").attr("src",data.media_thumb_src);
					$("#edit_media_thumb_tag").attr("width",data.thumb_width);
					$("#edit_media_thumb_tag").attr("height",data.thumb_height);
					$("#edit_media_full_tag").attr("src",data.media_full_src);
					$("#edit_media_full_tag").attr("width",data.full_width);
				}else{
					$("#edit_media_thumbnail_caption").hide();
					$("#edit_media_thumb_tag").hide();
					$("#edit_media_full_tag").hide();
				}
				$("#edit_media_caption").val(data.media_caption);
				$("#edit_media_description").val(data.media_description);

				$("#edit_listing_image_container").dialog({
					title: "Edit Media",
					modal: true,
					width: "auto",
					height: "auto",
					buttons: null,
					position: {
						my: "center top+10",
						at: "top",
						of: window,
						collision: "none"
					},
					close: function(event, ui) {
						$("#edit_listing_vtour_container").dialog( "destroy" ); 
						$("#listing_vtour_pane").load("{baseurl}/admin/ajax.php?action=ajax_display_listing_vtours&listing_id={listing_id}"); 
					}
				});
			}
		});

 		return false;

	});
	$('#levfiledrag').filedrop({
	    url: 'ajax.php?action=ajax_upload_media_JSON',              // upload handler, handles each file separately
	    paramname: 'userfile[]',          // POST parameter name used on serverside to reference file
	    data: {
	        edit: '{listing_id}',           // send POST variables
	        media_type: 'listingsvtours',
	    },
	    maxfilesize: 25,
	    error: function(err, file) {
	        switch(err) {
	            case 'BrowserNotSupported':
	            	alert('{lang_browser_unsupported}');
	                break;
	            case 'TooManyFiles':
	                // user uploaded more than 'maxfiles'
	                break;
	            case 'FileTooLarge':
	                // program encountered a file whose size is greater than 'maxfilesize'
	                // FileTooLarge also has access to the file which was too large
	                // use file.name to reference the filename of the culprit file
	                break;
	            default:
	                break;
	        }
	    },
	    uploadFinished: function(i, file, response, time) {
	    	$(".fileuploadmeter > span").width('100%');
	    	//console.log("Load Finished");
	    	//console.dir(response);
	    	if(response.status != 'File(s) Uploaded Successfully'){
	    		alert(response.status);
	    	}
	    },
	    uploadStarted: function(i, file, len){
	    	ShowUploadStatus();
	    	$(".fileuploadmeter > span").width(0);
	    },
	    progressUpdated: function(i, file, progress) {
	    	$(".fileuploadmeter > span").width(progress);
		},
	    afterAll: function() {
	    	HideUploadStatus();
	        // runs after all files have been uploaded or otherwise dealt with
	    	$("#listing_vtour_pane").load("{baseurl}/admin/ajax.php?action=ajax_display_listing_vtours&listing_id={listing_id}");
	    }
	});
</script>