<div class ="application_main">

	<div class="application_section">
		 	<img src="{template_url}/images/icon_large_listing_editor.png" alt="{lang_admin_property_classes}" />
			<div class="application_section_title">{lang_listings_editor}</div>
			<div class="application_status_message" id="application_status_message"></div>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
		<div class="inner_div_wrapper">
		
			<div class="application_rounded_box_new">
				{quick_edit_bar}
			</div>
			<div class="space_10"></div>
			
			{listing_dataset}
			<table id="listing_{listingid}" class="edit_listings result_row_{row_num_even_odd}" cellpadding="0" cellspacing="0">
				<tr class="listingheader">
					<th colspan="2">
						<a href="{edit_listing_link}"><span class="listingid">({listingid})</span> <span class="listingtitle">{listing_title}</span> </a>
					</th>
					<th class="listingactions">
						<a href="{edit_listing_link}"><img src="{template_url}/images/generic_icon_edit.png" title="{lang_edit}" alt="{lang_admin_listings_editor_modify_listing}" width="16" height="16" />{lang_edit}</a>
						&nbsp;&nbsp;<a href="{listing_url}" class="listing_prev" target="listingpreview"><img src="{template_url}/images/preview_page.png" title="{lang_preview}" alt="{lang_admin_listings_editor_modify_listing}" width="16" height="16" />{lang_preview}</a>
						&nbsp;
						<a href="#" onclick="delete_listing({listingid})"><img src="{template_url}/images/generic_icon_delete.png" title="{lang_delete}" alt="{lang_admin_listings_editor_delete_listing}" width="16" height="16" />{lang_delete}</a>
						
					</th>
				</tr>
				<tr>
					<td><div class="space_5"></div>
				</tr>
				<tr>
					<td class="listingsimage">
						<a href="{edit_listing_link}"><img src="{raw_image_thumb_1}" width="100" alt="{lang_admin_listings_editor_modify_listing}" /></a>
					</td>
					<td>
						<div class="listingagent">
							<span class="label">{lang_listing_editor_agent}:</span>
							<span class="value"><a href="mailto:{listing_agent_email}">{listing_agent_last_name}, {listing_agent_first_name} &nbsp;<img src="{template_url}/images/email.png"></a></span>
						</div>
						<div class="listingclass">
							<span class="label">{lang_admin_listings_editor_property_class}:</span>
							<span class="value">{listing_pclass}</span>
						</div>
						<div class="listinglastmodified">
							<span class="label">{lang_creation_date}:</span>
							<span class="value">{listing_creation_date}</span>
						</div>
						<div class="listinglastmodified">
							<span class="label">{lang_listing_editor_last_modified}:</span>
							<span class="value">{listing_last_modified}</span>
						</div>
						{show_expiration_block}
						<div class="listinglastmodified">
							<span class="label">{lang_listing_editor_expiration}:</span>
							<span class="value">{listing_expiration}</span>
						</div>
						{/show_expiration_block}
					</td>
					<td class="listinginfo">
						<div class="listingstatus">
							<span class="label">{lang_admin_listings_active}:</span>
							<span class="value" id="listing_status_{listingid}">{listing_active_status}</span>
						</div>
						
						<div class="space_5"></div>
						
						<div class="listingfeatured">
							<span class="label">{lang_admin_listings_editor_featured}:</span>
							<span class="value" id="listing_featured_{listingid}">{listing_featured_status}</span>
						</div>
						
						<div class="space_5"></div>
						
						<div class="listinghits">
							<span class="label">{lang_admin_listings_editor_hit_count}:</span>
							<span class="value">{listing_hit_count}</span>
						</div>
						
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="listingnotes">
							{listing_notes}
						</div>
					</td>
				</tr>
			</table>
			{/listing_dataset}
		</div>
		
		<div class="clear"></div>
	</div>
     
</div>
<script type="text/javascript"> 

</script>