{login_error_msg_block}
	<div class="login_error_msg">{login_error_msg}</div>
{/login_error_msg_block}

<div style="margin: 30px 175px 140px 0px;">
	
	<div class="admin_challenge_phrase">{lang_admin_challenge_phrase}</div>
	<div class="space_10"></div>
	
	<div class="login_area_div">
		<div class="login_form_div">
			<form action="" method="post">
				<input type="hidden" name="referer" value="{HTTP_REFERER}" />
				<div class="field_caption">{lang_admin_login_name}</div>
				<div class="field_element"><input type="text" name="user_name" maxlength="30" /></div>
				<div class="clear"></div>
				<div class="field_caption">{lang_admin_password}</div>
				<div class="field_element"><input type="password" name="user_pass" maxlength="30" /></div>
				<div class="clear"></div>
				<div class="field_caption"><span class="remember_me">{lang_remember_me}</span></div>
				<div class="field_element"><input type="checkbox" name="remember" /></div>
				<div class="clear"></div>
				<div class="field_element">
					<input class="or_std_button" type="submit" value="{lang_login}"/>
				</div>
				<div class="clear"></div>
			</form>
		</div>
		<div class="lost_pass_div">
			<form action="index.php?action=send_forgot" method="post">
				<div class="enter_your_email_address_for_pass">{lang_enter_your_email_address_for_pass}</div>
				<div class="password_form_div"><input type="text" name="email" />
					<input class="or_std_button" type="submit" value="{lang_lookup}" />
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	
</div>
<!-- {version} -->