{load_css_menu_editor}

 <div class ="application_main">
 	<div class="application_section">
 		<img src="{template_url}/images/large_icon_page_editor.png" alt="{lang_admin_menu_editor_caption}" />
		<div class="application_section_title">
			{lang_admin_menu_editor_caption}
		</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div class="clear"></div>
	</div>
	
	<div class="inner_div">
		<div class="inner_div_wrapper">
		
			<!-- the tabs -->
			<div id="tabs">
				<ul> 
	   				<li><a href="#Main">{lang_emenu_main}</a></li> 
	   				<!-- <li><a href="#">Configure</a></li>--> 
				</ul> 
 
					<!-- begin first tab contents --> 
					<div id="Main" style="min-height: 550px;">
				
						<div style="float: left; min-width: 320px;">
							
							<div class="menu_rounded_box_container">
								<div class="menu_rounded_box_title">{lang_emenu_manage_menu}</div>
								<div id="manage_menu">
									<form>
										<div id="menu_form">
											<span style="">{lang_emenu_select_menu}</span> 	
											<select id="menu_selection">
												<option value="">{lang_emenu_select_one}</option>
											</select>
										</div>	
										<div id="menu_new_delete">
											<span id="menu_editor_new_menu" class="or_std_button">{lang_emenu_new_menu}</span>  
											<span id="menu_editor_delete_menu" class="or_std_button red">{lang_emenu_delete_menu}</span>
										</div>	
									</form>
									<div class="space_10"></div>
									<div class="">{lang_emenu_now_editing} <span id="cur_menu_name"></span></div>
									
										<div id="menu_editor_jstree_container"></div>
									
								</div>	
							</div>
						</div>
						<div style="float: left; margin-left: 10px; min-width: 330px;">
							<div class="menu_rounded_box_container">
								<div class="menu_rounded_box_title">{lang_emenu_options_for} <span id="cur_menu_item_name"></span></div>
								<div id="menu_editor_detail_container"></div>
							</div>
						</div>
						
						<div class="clear"></div>
						<!-- /end first tab contents --> 
					</div>
			
				<!-- begin second tab contents
				<div>
					Second tab content
				</div>
				end second tab contents -->
    			
			</div>
			<!-- end css-panes -->  
	
		</div>
	
	</div>
	<div class="clear"></div>
</div> 