<div class="or_index">
	
	<div id="openrealty_links">
		{check_admin}
			<span class="openrealty_upgrade">{version}&nbsp;&nbsp;	{openrealty_links}</span>
		{/check_admin}
		<div class="application_status_message" id="application_status_message" tabindex="1"></div>
		 <span class="current_user">{lang_user_greeting} {current_user_first_name} {current_user_last_name} &nbsp;</span>
		 
    </div>
	
	<div class="inner_div">
		<div class="inner_div_wrapper">
			
			<table class="or_index_table">
				<tr>
		    		<td>
		    			{check_admin}
		        			<div id="general_info">
		        				<h2>{lang_general_information}</h2>
		        				<div id="general_info_cell">
			            			{general_info}
			            		</div>
							</div>
		       			{/check_admin}
					</td>
					<td>
						{check_admin}
						<h2>{lang_admin_content_title}</h2>
						<div id="content_info_cell">
							<div style="font-weight: bold; padding: 3px; font-size: 11pt; font-weight: 400;">
								{lang_admin_view_leads}
							</div>
							<div>
								<span class="pnb_links" >
									<a href="{baseurl}/admin/index.php?action=leadmanager" title="{lang_leadmanager_status_active}">
										{lang_leadmanager_status_active}: {lead_active_count} </a> | {lang_leadmanager_status_inactive} <span>({lead_inactive_count})</span>
								</span>		
							</div>
							<div class="space_5"></div>
							<div style="font-weight: bold; padding: 3px; font-size: 11pt; font-weight: 400;">
								{lang_admin_blog_manager}
							</div>
							<div>
								<span class="pnb_links" >
									<a href="{baseurl}/admin/index.php?action=edit_blog" title="{lang_blog_view_all}">{lang_blog_all} <span class="blog_edit_index_status_list_count">({blog_edit_status_all_count})</span></a>  |
		 							<a href="{baseurl}/admin/index.php?action=edit_blog&amp;status=Published" title="{lang_blog_view_live}">{lang_blog_published} <span class="blog_edit_index_status_list_count">({blog_edit_status_published_count})</span> </a>  |
									<a href="{baseurl}/admin/index.php?action=edit_blog&amp;status=Draft" title="{lang_blog_view_draft}">{lang_blog_draft} <span class="blog_edit_index_status_list_count">({blog_edit_status_draft_count})</span> </a> |
									<a href="{baseurl}/admin/index.php?action=edit_blog&amp;status=Review" title="{lang_blog_view_review}">{lang_blog_review} <span class="blog_edit_index_status_list_count">({blog_edit_status_review_count})</span></a> 
								</span>	
							</div>
							<div class="space_5"></div>
							<div style="font-weight: bold; padding: 3px; font-size: 11pt; font-weight: 400;">
								{lang_admin_page_editor}
							</div>
							<div>
								<span class="pnb_links" >
									<a href="{baseurl}/admin/index.php?action=edit_page" title="{lang_blog_view_all}">{lang_page_all} <span class="page_edit_index_status_list_count">({page_edit_status_all_count})</span></a>  |
		 							<a href="{baseurl}/admin/index.php?action=edit_page&amp;status=Published" title="{lang_blog_view_live}">{lang_page_published} <span class="page_edit_index_status_list_count">({page_edit_status_published_count})</span></a>  |
									<a href="{baseurl}/admin/index.php?action=edit_page&amp;status=Draft" title="{lang_blog_view_draft}">{lang_page_draft} <span class="page_edit_index_status_list_count">({page_edit_status_draft_count})</span></a> |
									<a href="{baseurl}/admin/index.php?action=edit_page&amp;status=Review" title="{lang_blog_view_review}">{lang_page_review} <span class="page_edit_index_status_list_count">({page_edit_status_review_count})</span></a>  
								</span>	
							</div>
						</div>
						{/check_admin}
					</td>
					<td>
						<h2>{lang_admin_quick_links}</h2>
		        		<div id="quicklinks_info_cell">
		                   	<a href="{url_view_favorites}" class="viewfavorites" title="{lang_admin_favorites}">{lang_admin_favorites}</a>
		                   	<a href="{url_view_saved_searches}" class="viewsavedsearches" title="{lang_admin_saved_search}">{lang_admin_saved_search}</a>
		                   	{check_admin}
		                   		<a href="https://discord.gg/kabJYuykTZ" class="viewforums" rel="external">{lang_link_support_forums}</a>
								<a href="http://docs.open-realty.org" class="viewdocs" rel="external">{lang_link_online_documentation}</a>
							{/check_admin}
		                	</ul>
		        		</div>
		        	</td>
				</tr>
			</table>

			<div id="listingstats">
				<h2>{lang_admin_listing_stats}</h2>

					<div id="mini-tabs">
						
						<ul>
							<li><a href="#listing_stats_data_all" id="tab_stats_{pclass_id}">{lang_all_listings}</a></li>
							{foreach_pclass_block}
								<li><a href="#listing_stats_data_{pclass_id}" id="tab_stats_{pclass_id}">{pclass_name}</a></li>
							{/foreach_pclass_block}
						</ul>
						
						<div id="listing_stats_data_all">
							<div class="stat_content">
								<span class="stat_caption">{lang_total_listings}:</span> <span class="stat_data">{active_listing_count}</span><br />
								<span class="stat_caption">Average price:</span> <span class="stat_data">{listing_stat_avg_field_price_value}</span><br />
								<span class="stat_caption">Median price:</span><span class="stat_data"> {listing_stat_median_field_price_value}</span><br />
								<span class="stat_caption">Highest price:</span><span class="stat_data"> {listing_stat_max_field_price_value}</span><br />
								<span class="stat_caption">Lowest price:</span> <span class="stat_data">{listing_stat_min_field_price_value}</span><br />
								<span class="stat_caption">Average Square Feet:</span> <span class="stat_data">{listing_stat_avg_field_sq_feet_value}</span>
							</div>
						</div>
						{foreach_pclass_block}
						<div id="listing_stats_data_{pclass_id}">
							<div class="stat_content">
								<span class="stat_caption">Total {pclass_name} Listings:</span><span class="stat_data">{active_listing_count_pclass_{pclass_id}}</span><br />
								<span class="stat_caption">Average price:</span> <span class="stat_data">{listing_stat_avg_field_price_value_pclass_{pclass_id}}</span><br />
								<span class="stat_caption">Median price:</span><span class="stat_data"> {listing_stat_median_field_price_value_pclass_{pclass_id}}</span><br />
								<span class="stat_caption">Highest price:</span><span class="stat_data"> {listing_stat_max_field_price_value_pclass_{pclass_id}}</span><br />
								<span class="stat_caption">Lowest price:</span> <span class="stat_data">{listing_stat_min_field_price_value_pclass_{pclass_id}}</span><br />
								<span class="stat_caption">Average Square Feet:</span> <span class="stat_data">{listing_stat_avg_field_sq_feet_value_pclass_{pclass_id}}</span>
							</div>
						</div>
						{/foreach_pclass_block}
					
					</div>
					
					<script type="text/javascript">
					$(document).ready(function() {
						$("#mini-tabs").uitabs();
					});
			      	</script>
	
			</div>

		</div>	
	
		<div class="addonscontainer">
			{addon_links}
		</div>
		<br class="clear">
		
	</div>
</div>