 <div class ="application_main">
 	<div class="application_section">
 		<img src="{template_url}/images/large_icon_page_editor.png" alt="{lang_admin_page_editor}" />
		<div class="application_section_title">
			{lang_admin_page_editor}
		</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
	<div style="clear: both;"></div>
	</div>
	
	<div class="inner_div">
		<div class="inner_div_wrapper">
		
			<!-- the tabs -->
			<div id="tabs">
				<ul> 
		   			<li><a href="#Main">Main</a></li> 
		   			<!-- <li><a href="#">Configure</a></li>--> 
				</ul> 
	
				 
				<!-- begin first tab contents --> 
				<div id="Main" class="inner_div">
					
					<div style="
margin: 0px;
border-top: 1px solid #ccc; 
background: #f4f7ff; 
background: -moz-linear-gradient(top,  #f4f7ff 0%, #d2d8e0 40%, #c0cec7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#d2d8e0), color-stop(100%,#c0cec7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
-moz-box-shadow:    1px 1px 1px rgba(1, 0, 0, 0.75);
box-shadow:         1px 1px 1px rgba(1, 0, 0, 0.75);
padding-top: 5px;
font-size: 1.2em
">	
				
						<span id="page_edit_index_status_list">
							<a href="{baseurl}/admin/index.php?action=edit_page" title="{lang_blog_view_all}">{lang_page_all}</a> <span class="page_edit_index_status_list_count">({page_edit_status_all_count})</span> |
		 					<a href="{baseurl}/admin/index.php?action=edit_page&amp;status=Published" title="{lang_blog_view_live}">{lang_page_published}</a> <span class="page_edit_index_status_list_count">({page_edit_status_published_count})</span> |
							<a href="{baseurl}/admin/index.php?action=edit_page&amp;status=Draft" title="{lang_blog_view_draft}">{lang_page_draft}</a> <span class="page_edit_index_status_list_count">({page_edit_status_draft_count})</span>
							<a href="{baseurl}/admin/index.php?action=edit_page&amp;status=Review" title="{lang_blog_view_review}">{lang_page_review}</a> <span class="page_edit_index_status_list_count">({page_edit_status_review_count})</span>
						</span>
						<span id="page_edit_index_next_prev">
							{next_prev}
						</span>
						<span id="add_post_form">
							<form id="add_page_form" class="add_page_form" action="#" method="post">
								<span id="response_text"></span> 
		  	    				<input id="post_title" type="text" name="title" value="" class="required" />
		  	    				<button class="or_std_button" id="new_post" ><span class="ui-icon ui-icon-plusthick"></span> {lang_page_add_post}</button>

								<br />
							</form>
							<br />
						</span>
					</div>
					
					<table cellspacing="0" class="page_edit_index_table">
						<thead>
						<tr>
							<th>{lang_page_post}</th>
							<th>{lang_page_keywords}</th>
							<th>{lang_page_date}</th>
							<th>{lang_page_publication_status}</th>
						</tr>
						</thead>
						<tfoot>
						<tr>
							<th>{lang_page_post}</th>
							<th>{lang_page_keywords}</th>
							<th>{lang_page_date}</th>
	           		 		<th>{lang_page_publication_status}</th>
	        			</tr>
						</tfoot>
						<tbody>
							{page_edit_item_block}
							<tr>
								<td>
									{page_edit_item_id} <a href="{baseurl}/admin/index.php?action=edit_page_post&amp;id={page_edit_item_id}"  title="{lang_edit} {page_edit_item_title}"><img class="addon_manager_action_icon" src="{template_url}/images/generic_icon_edit.png" alt="{lang_edit}" />
										{page_edit_item_title}
									</a>
								</td>
								<td>{page_edit_item_keywords}</td>
								<td>{page_edit_item_date}</td>
								<td class="page_publish_status_{page_edit_item_published}">{page_edit_item_published}</td>
							</tr>
							{/page_edit_item_block}
						</tbody>
					</table>
	
	  			</div>	
	
				<!-- end first tab contents -->  
	
				<!-- begin second tab contents
				<div>
					Second tab content
				</div>
				end second tab contents -->
    			  
			</div>
		<!-- end css-panes -->  
	
	</div>
	<div class="clear"></div>
	
	</div>
</div>     






