<div>
  <form id="site_config_general" method="post" action="">
    <fieldset>
      <legend><strong>{lang_site_config_heading_general_info}</strong></legend>
      <table align="center" cellspacing="0" cellpadding="3" width="99%"
        border="0">
        <tr class=tdshade1>
          <td width="150"><strong>{lang_company_name}</strong></td>
          <td width="150"><input type="text" value="{controlpanel_company_name}"
            name="controlpanel_company_name" /></td>
          <td>{lang_company_name_desc}</td>
        </tr>
        <tr class=tdshade2>
          <td><strong>{lang_company_location}</strong></td>
          <td><input type="text" value="{controlpanel_company_location}"
            name="controlpanel_company_location" /></td>
          <td>{lang_company_location_desc}</td>
        </tr>
        <tr class=tdshade1>
          <td><strong>{lang_company_logo}</strong></td>
          <td><input type="text" value="{controlpanel_company_logo}"
            name="controlpanel_company_logo" /></td>
          <td>{lang_company_logo_desc}</td>
        </tr>
        <tr class=tdshade2>
          <td><strong>{lang_automatic_update_check}</strong></td>
          <td>
            <select name="controlpanel_automatic_update_check">
              {automatic_update_block}
              <option value="{value}"{selected}>{text}</option>
              {/automatic_update_block}
            </select>
          </td>
          <td>{lang_automatic_update_check_desc}</td>
        </tr>
        <tr class=tdshade1>
          <td><strong>{lang_demo_mode}</strong></td>
          <td>
            <select name="controlpanel_demo_mode">
              {demo_mode_block}
              <option value="{value}"{selected}>{text}</option>
              {/demo_mode_block}
            </select>
          </td>
          <td>{lang_demo_mode_desc}</td>
        </tr>
        <tr class=tdshade2>
          <td><strong>{lang_maintenance_mode}</strong></td>
          <td>
            <select name="controlpanel_maintenance_mode">
              {maintenance_mode_block}
              <option value="{value}"{selected}>{text}</option>
              {/maintenance_mode_block}
            </select>
          </td>
          <td>{lang_maintenance_mode_desc}</td>
        </tr>
        <tr class=tdshade1>
          <td><strong>{lang_timezone}</strong></td>
          <td>
            <select name="controlpanel_timezone">
              {timezone_block}
              <option value="{value}"{selected}>{text}</option>
              {/timezone_block}
            </select>
          </td>
          <td>{lang_timezone_desc}</td>
        </tr>
        <tr class=tdshade2>
          <td><strong>{lang_charset}</strong></td>
          <td>
            <select name="controlpanel_charset">
              {charset_block}
              <option value="{value}"{selected}>{text}</option>
              {/charset_block}
            </select>
          </td>
          <td>{lang_charset_desc}</td>
        </tr>
        <tr class=tdshade1>
          <td><strong>{lang_apikey}</strong></td>
          <td>
            <input type="text" name="controlpanel_apikey" value="{controlpanel_apikey}" />
          </td>
          <td>{lang_apikey_desc}</td>
        </tr>
      </table>
    </fieldset>
    
    <br />

    <fieldset>
      <legend><strong>{lang_site_config_heading_mail_settings}</strong></legend>
      <table align="center" cellspacing="0" cellpadding="3" width="99%"
        border="0">
        <tr class=tdshade2>
          <td width="150"><strong>{lang_mailsystem}</strong></td>
          <td width="150">
            <select name="controlpanel_phpmailer" id="controlpanel_phpmailer">
              {phpmailer_block}
              <option value="{value}"{selected}>{text}</option>
              {/phpmailer_block}
            </select>
          </td>
          <td>{lang_mailsystem_desc}</td>
        </tr>
        <tr class="tdshade1 phpmailsettings">
          <td><strong>{lang_mailserver}</strong></td>
          <td>
            <input type="text" value="{controlpanel_mailserver}" name="controlpanel_mailserver" />
          </td>
          <td>{lang_mailserver_desc}</td>
        </tr>

        <tr class="tdshade2 phpmailsettings">
          <td><strong>{lang_smtpport}</strong></td>
          <td>
            <input type="text" value="{controlpanel_mailport}" name="controlpanel_mailport" />
          </td>
          <td>{lang_smtpport_desc}</td>
        </tr>
        <tr class="tdshade1 phpmailsettings">
          <td><strong>{lang_mailuser}</strong></td>
          <td>
            <input type="text" value="{controlpanel_mailuser}" name="controlpanel_mailuser" />
          </td>
          <td>{lang_mailuser_desc}</td>
        </tr>
        <tr class="tdshade2 phpmailsettings">
          <td><strong>{lang_mailpass}</strong></td>
          <td>
            <input type="password" value="{controlpanel_mailpass}" name="controlpanel_mailpass" />
          </td>
          <td>{lang_mailpass_desc}</td>
        </tr>
        <tr class="tdshade1 phpmailsettings">
          <td></td>
          <td><button type="button" class="or_std_button" id="test_conn" name="test_conn">Test Connection</button></td>
          <td id="test_result"></td>
        </tr>
        <tr>
          <td colspan="3"><hr /></td>
        </tr>
        <tr class=tdshade1>
          <td width="130"><strong>{lang_admin_name}</strong></td>
          <td>
            <input type="text" value="{controlpanel_admin_name}" class="{validate:{required:true}}" name="controlpanel_admin_name" />
          </td>
          <td>{lang_admin_name_desc}</td>
        </tr>
        <tr class=tdshade2>
          <td><strong>{lang_admin_email}</strong></td>
          <td>
            <input type="text" value="{controlpanel_admin_email}" class="{validate:{email:true,required:true}}" name="controlpanel_admin_email" />
          </td>
          <td>{lang_admin_email_desc}</td>
        </tr>
        <tr class=tdshade1>
          <td><strong>{lang_site_email}</strong></td>
          <td>
            <input type="text" value="{controlpanel_site_email}" class="{validate:{email:true}}" name="controlpanel_site_email" />
          </td>
          <td>{lang_site_email_desc}</td>
        </tr>
      </table>
    </fieldset>

    <br />
    
    <fieldset>
      <legend><strong>{lang_site_config_heading_server_paths}</strong></legend>
      <table align="center" cellspacing="0" cellpadding="3" width="99%"
        border="0">
        <tr class=tdshade2>
          <td width="150"><strong>{lang_base_url}</strong></td>
          <td width="150">{baseurl}</td>
          <td>{lang_base_url_desc}</td>
        </tr>
        <tr class=tdshade1>
          <td><strong>{lang_base_path}</strong></td>
          <td>{basepath}</td>
          <td>{lang_base_path_desc}</td>
        </tr>
      </table>
    </fieldset>
    <br />
    <fieldset>
      <legend><strong>{lang_site_config_heading_wysiwyg_settings}</strong></legend>
      <table cellspacing="0" cellpadding="3" width="99%" border="0">
        <tr class=tdshade1>
          <td width="150"><strong>{lang_wysiwyg_show_edit}</strong></td>
          <td width="150">
            <select name="controlpanel_wysiwyg_show_edit">
              {wysiwyg_show_edit_block}
              <option value="{value}"{selected}>{text}</option>
              {/wysiwyg_show_edit_block}
            </select>
          </td>
          <td>{lang_wysiwyg_show_edit_desc}</td>
        </tr>
        <tr class=tdshade2>
          <td><strong>{lang_wysiwyg_execute_php}</strong></td>
          <td>
            <select name="controlpanel_wysiwyg_execute_php">
              {wysiwyg_execute_php_block}
              <option value="{value}"{selected}>{text}</option>
              {/wysiwyg_execute_php_block}
            </select>
          </td>
          <td>{lang_wysiwyg_execute_php_desc}</td>
        </tr>
        <tr class=tdshade1>
          <td><strong>{lang_controlpanel_mbstring_enabled}</strong></td>
          <td>
            <select name="controlpanel_mbstring_enabled">
              {mbstring_enabled_block}
              <option value="{value}"{selected}>{text}</option>
              {/mbstring_enabled_block}
            </select>
          </td>
          <td>{lang_mbstring_enabled_desc}</td>
        </tr>
      </table>
    </fieldset>
    <br />
    <fieldset>
      <legend><strong>{lang_site_config_heading_html_settings}</strong></legend>
      <table cellspacing="0" cellpadding="3" width="99%" border="0">
        <tr class=tdshade2>
          <td width="150"><strong>{lang_add_linefeeds}</strong></td>
          <td width="150">
            <select name="controlpanel_add_linefeeds">
              {add_linefeeds_block}
              <option value="{value}"{selected}>{text}</option>
              {/add_linefeeds_block}
            </select>
          </td>
          <td>{lang_add_linefeeds_desc}</td>
        </tr>
        <tr class=tdshade1>
          <td><strong>{lang_strip_html}</strong></td>
          <td>
            <select name="controlpanel_strip_html">
              {strip_html_block}
              <option value="{value}"{selected}>{text}</option>
              {/strip_html_block}
            </select>
          </td>
          <td>{lang_strip_html_desc}</td>
        </tr>
        <tr class=tdshade2>
          <td><strong>{lang_allowed_html_tags}</strong></td>
          <td><input type="text" value="{controlpanel_allowed_html_tags}"
            name="controlpanel_allowed_html_tags" /></td>
          <td>{lang_allowed_html_tags_desc}</td>
        </tr>
      </table>
    </fieldset>
    <fieldset>
      <legend><strong>{lang_site_config_security_settings}</strong></legend>
      <table align="center" cellspacing="0" cellpadding="3" width="99%"
        border="0">
        <tr class=tdshade1>
          <td width="150"><strong>{lang_allow_template_change}</strong></td>
          <td width="150">
            <select name="controlpanel_allow_template_change">
              {allow_template_change_block}
              <option value="{value}"{selected}>{text}</option>
              {/allow_template_change_block}
            </select>
          </td>
          <td>{lang_allow_template_change_desc}</td>
        </tr>
        <tr class=tdshade2>
          <td><strong>{lang_allow_language_change}</strong></td>
          <td>
            <select name="controlpanel_allow_language_change">
              {allow_language_change_block}
              <option value="{value}"{selected}>{text}</option>
              {/allow_language_change_block}
            </select>
          </td>
          <td>{lang_allow_language_change_desc}</td>
        </tr>
        <tr class=tdshade1>
          <td><strong>{lang_captcha_system}</strong></td>
          <td>
            <select name="controlpanel_captcha_system" id="controlpanel_captcha_system">
              {captcha_system_block}
              <option value="{value}"{selected}>{text}</option>
              {/captcha_system_block}
            </select>
          </td>
          <td>{lang_captcha_system_desc}</td>
        </tr>
        
		    <tr class="tdshade2 captchasettings">
          <td><strong>Site Key</strong></td>
          <td>
            <input type="text" value="{controlpanel_recaptcha_sitekey}" name="controlpanel_recaptcha_sitekey" />
          </td>
          <td>Enter your Google reCaptcha API Site key. <a href="https://www.google.com/recaptcha/admin" target="_blank" >[Register a reCaptcha v2 API Key]</a></td>
        </tr>
        <tr class="tdshade1 captchasettings">
          <td><strong>Secret Key</strong></td>
          <td>
            <input type="text" value="{controlpanel_recaptcha_secretkey}" name="controlpanel_recaptcha_secretkey" />
          </td>
          <td>Enter your Google reCaptcha API Secret key</td>
        </tr>
        
      </table>
    </fieldset>
    <input type="submit" class="or_std_button" value="{lang_save_changes}" />
  </form>
</div>


<script type="text/javascript">
$("#site_config_general").validate({
  meta: "validate",
  errorLabelContainer: "#response_text",
  submitHandler: function(form) {
    $.post("ajax.php?action=update_site_config", $("#site_config_general").serialize(), function(data){
      if(data.error == "1"){
        status_error(data.error_msg);
      }
      else{
        status_msg(data.status);
      }
    },"json");
    return false;
  }
});
$("#controlpanel_phpmailer").change(function(){
  if($("#controlpanel_phpmailer").val() == "0"){
    $(".phpmailsettings").hide();
  }
  else{
    $(".phpmailsettings").show();
  }
});
//Call Change to hide fields if the default setting is phpMail
$("#controlpanel_phpmailer").change();

$("#controlpanel_captcha_system").change(function(){
  if($("#controlpanel_captcha_system").val() == "securimage"){
    $(".captchasettings").hide();
  }
  else{
    $(".captchasettings").show();
  }
});
//Call Change to hide fields if the default setting is securimage
$("#controlpanel_captcha_system").change();


$("#test_conn").click(function(){
   $( "#test_result" ).empty().html('<img src="{template_url}/images/progress_indicator.gif" height="20">');

  $.post("ajax.php?action=smtp_test",  { 
    controlpanel_mailserver: $("input[name=controlpanel_mailserver]").val(), 
    controlpanel_mailport: $("input[name=controlpanel_mailport]").val(), 
    controlpanel_mailuser: $("input[name=controlpanel_mailuser]").val(), 
    controlpanel_mailpass: $("input[name=controlpanel_mailpass]").val(), 
  })
  .done(function(data){
    $( "#test_result" ).empty().html(' <strong> '+data+' </strong>');
  });
  return false;
  
});

</script>
