<div>
<form id="site_config_uploads" method="post" action="">
<fieldset><legend><strong>{lang_site_config_heading_upload_settings}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade2>
		<td width="150"><strong>{lang_allowed_upload_extensions}</strong></td>
		<td width="150"><input type="text"
			value="{controlpanel_allowed_upload_extensions}"
			name="controlpanel_allowed_upload_extensions" /></td>
		<td>{lang_allowed_upload_extensions_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_thumbnail_prog}</strong></td>
		<td><select name="controlpanel_thumbnail_prog">
			{thumbnail_prog_block}
			<option value="{value}"{selected}>{text}</option>
			{/thumbnail_prog_block}
		</select></td>
		<td>{lang_thumbnail_prog_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_path_to_imagemagick}</strong></td>
		<td><input type="text" value="{controlpanel_path_to_imagemagick}"
			name="controlpanel_path_to_imagemagick" /></td>
		<td>{lang_path_to_imagemagick_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_make_thumbnail}</strong></td>
		<td><select name="controlpanel_make_thumbnail">
			{make_thumbnail_block}
			<option value="{value}"{selected}>{text}</option>
			{/make_thumbnail_block}
		</select></td>
		<td>{lang_make_thumbnail_desc}</td>
	</tr>
	
	
</table>
</fieldset>
<br />
<fieldset><legend><strong>{lang_site_config_heading_listing_image_upload}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade1>
		<td width="150"><strong>{lang_max_listings_uploads}</strong></td>
		<td width="150">
			<input type="text" value="{controlpanel_max_listings_uploads}"	name="controlpanel_max_listings_uploads" />
		</td>
		<td>{lang_max_listings_uploads_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_max_listings_upload_size}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_listings_upload_size}"
			name="controlpanel_max_listings_upload_size" /></td>
		<td>{lang_max_listings_upload_size_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_jpeg_quality}</strong></td>
		<td><input type="text" value="{controlpanel_jpeg_quality}"
			name="controlpanel_jpeg_quality" /></td>
		<td>{lang_jpeg_quality_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_resize_img}</strong></td>
		<td><select name="controlpanel_resize_img">
			{resize_img_block}
			<option value="{value}"{selected}>{text}</option>
			{/resize_img_block}
		</select></td>
		<td>{lang_resize_img_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_resize_by}</strong></td>
		<td><select name="controlpanel_resize_by">
			{resize_by_block}
			<option value="{value}"{selected}>{text}</option>
			{/resize_by_block}
		</select></td>
		<td>{lang_resize_by_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_max_listings_upload_width}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_listings_upload_width}"
			name="controlpanel_max_listings_upload_width" /></td>
		<td>{lang_max_listings_upload_width_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_max_listings_upload_height}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_listings_upload_height}"
			name="controlpanel_max_listings_upload_height" /></td>
		<td>{lang_max_listings_upload_height_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_resize_thumb_by}</strong></td>
		<td><select name="controlpanel_resize_thumb_by">
			{resize_thumb_by_block}
			<option value="{value}"{selected}>{text}</option>
			{/resize_thumb_by_block}
		</select></td>
		<td>{lang_resize_thumb_by_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_thumbnail_width}</strong></td>
		<td><input type="text" value="{controlpanel_thumbnail_width}"
			name="controlpanel_thumbnail_width" /></td>
		<td>{lang_thumbnail_width_desc}</td>
	</tr>

	<tr class=tdshade1>
		<td><strong>{lang_thumbnail_height}</strong></td>
		<td><input type="text" value="{controlpanel_thumbnail_height}"
			name="controlpanel_thumbnail_height" /></td>
		<td>{lang_thumbnail_height_desc}</td>
	</tr>	
</table>
</fieldset>
<br />
<fieldset><legend><strong>{lang_listing_image_display_setting}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade1>
		<td width="150"><strong>{lang_main_image_display_by}</strong></td>
		<td width="150"><select name="controlpanel_main_image_display_by">
			{main_image_display_by_block}
			<option value="{value}"{selected}>{text}</option>
			{/main_image_display_by_block}
		</select></td>
		<td>{lang_main_image_display_by_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_main_image_width}</strong></td>
		<td><input type="text" value="{controlpanel_main_image_width}"
			name="controlpanel_main_image_width" /></td>
		<td>{lang_main_image_width_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_main_image_height}</strong></td>
		<td><input type="text" value="{controlpanel_main_image_height}"
			name="controlpanel_main_image_height" /></td>
		<td>{lang_main_image_height_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_number_columns}</strong></td>
		<td><input type="text" value="{controlpanel_number_columns}"
			name="controlpanel_number_columns" /></td>
		<td>{lang_number_columns_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_listingimages_slideshow_group_thumb}</strong></td>
		<td><input type="text" value="{controlpanel_listingimages_slideshow_group_thumb}"
			name="controlpanel_listingimages_slideshow_group_thumb" /></td>
		<td>{lang_listingimages_slideshow_group_thumb_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_show_no_photo}</strong></td>
		<td><select name="controlpanel_show_no_photo">
			{show_no_photo_block}
			<option value="{value}"{selected}>{text}</option>
			{/show_no_photo_block}
		</select></td>
		<td>{lang_show_no_photo_desc}</td>
	</tr>
	
</table>
</fieldset>
<br />
<fieldset><legend><strong>{lang_site_config_heading_user_image_upload}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade1>
		<td width="150"><strong>{lang_max_user_uploads}</strong></td>
		<td width="150"><input type="text" value="{controlpanel_max_user_uploads}"
			name="controlpanel_max_user_uploads" /></td>
		<td>{lang_max_user_uploads_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_max_user_upload_size}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_user_upload_size}"
			name="controlpanel_max_user_upload_size" /></td>
		<td>{lang_max_user_upload_size_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_jpeg_quality}</strong></td>
		<td><input type="text" value="{controlpanel_user_jpeg_quality}"
			name="controlpanel_user_jpeg_quality" /></td>
		<td>{lang_jpeg_quality_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_resize_img}</strong></td>
		<td><select name="controlpanel_user_resize_img">
			{user_resize_img_block}
			<option value="{value}"{selected}>{text}</option>
			{/user_resize_img_block}
		</select></td>
		<td>{lang_resize_img_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_resize_by}</strong></td>
		<td><select name="controlpanel_user_resize_by">
			{user_resize_by_block}
			<option value="{value}"{selected}>{text}</option>
			{/user_resize_by_block}
		</select></td>
		<td>{lang_resize_by_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_max_user_upload_width}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_user_upload_width}"
			name="controlpanel_max_user_upload_width" /></td>
		<td>{lang_max_user_upload_width_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_max_user_upload_height}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_user_upload_height}"
			name="controlpanel_max_user_upload_height" /></td>
		<td>{lang_max_user_upload_height_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_resize_thumb_by}</strong></td>
		<td><select name="controlpanel_user_resize_thumb_by">
			{user_resize_thumb_by_block}
			<option value="{value}"{selected}>{text}</option>
			{/user_resize_thumb_by_block}
		</select></td>
		<td>{lang_resize_thumb_by_desc}</td>
	</tr>
	
	<tr class=tdshade1>
		<td><strong>{lang_thumbnail_width}</strong></td>
		<td><input type="text" value="{controlpanel_user_thumbnail_width}"
			name="controlpanel_user_thumbnail_width" /></td>
		<td>{lang_thumbnail_width_desc}</td>
	</tr>

	<tr class=tdshade2>
		<td><strong>{lang_thumbnail_height}</strong></td>
		<td><input type="text" value="{controlpanel_user_thumbnail_height}"
			name="controlpanel_user_thumbnail_height" /></td>
		<td>{lang_thumbnail_height_desc}</td>
	</tr>

	
	
	
	
</table>
</fieldset>
<br />

<fieldset><legend><strong>{lang_user_image_display_setting}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
<tr class=tdshade2>
		<td width="150"><strong>{lang_show_agent_no_photo}</strong></td>
		<td width="150"><select name="controlpanel_show_agent_no_photo">
			{show_agent_no_photo_block}
			<option value="{value}"{selected}>{text}</option>
			{/show_agent_no_photo_block}
		</select></td>
		<td>{lang_show_agent_no_photo_desc}</td>
	</tr>
</table>
</fieldset>
<br />
<fieldset><legend><strong>{lang_site_config_heading_upload_file_settings}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade2>
		<td width="150"><strong>{lang_allowed_upload_extensions}</strong></td>
		<td width="150"><input type="text"
			value="{controlpanel_allowed_file_upload_extensions}"
			name="controlpanel_allowed_file_upload_extensions" /></td>
		<td>{lang_allowed_upload_extensions_desc}</td>
	</tr>
</table>
</fieldset>
<br />
<fieldset><legend><strong>{lang_site_config_heading_upload_file_limits}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade1>
		<td width="150"><strong>{lang_max_file_uploads}</strong></td>
		<td width="150"><input type="text"
			value="{controlpanel_max_listings_file_uploads}"
			name="controlpanel_max_listings_file_uploads" /></td>
		<td>{lang_max_file_uploads_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_max_file_upload_size}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_listings_file_upload_size}"
			name="controlpanel_max_listings_file_upload_size" /></td>
		<td>{lang_max_file_upload_size_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_max_user_file_uploads}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_users_file_uploads}"
			name="controlpanel_max_users_file_uploads" /></td>
		<td>{lang_max_user_file_uploads_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_max_user_file_upload_size}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_users_file_upload_size}"
			name="controlpanel_max_users_file_upload_size" /></td>
		<td>{lang_max_user_file_upload_size_desc}</td>
	</tr>
</table>
</fieldset>
<fieldset><legend><strong>{lang_file_display_settings}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade1>
		<td width="150"><strong>{lang_show_file_icon}</strong></td>
		<td width="150"><select name="controlpanel_show_file_icon">
			{show_file_icon_block}
			<option value="{value}"{selected}>{text}</option>
			{/show_file_icon_block}
		</select></td>
		<td>{lang_show_file_icon_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_show_file_display_option}</strong></td>
		<td><select name="controlpanel_file_display_option">
			{file_display_option_block}
			<option value="{value}"{selected}>{text}</option>
			{/file_display_option_block}
		</select></td>
		<td>{lang_show_file_display_option_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_show_file_size}</strong></td>
		<td><select name="controlpanel_show_file_size">
			{show_file_size_block}
			<option value="{value}"{selected}>{text}</option>
			{/show_file_size_block}
		</select></td>
		<td>{lang_show_file_size_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_file_icon_width}</strong></td>
		<td><input type="text" value="{controlpanel_icon_image_width}"
			name="controlpanel_icon_image_width" /></td>
		<td>{lang_file_icon_width_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_file_icon_height}</strong></td>
		<td><input type="text" value="{controlpanel_icon_image_height}"
			name="controlpanel_icon_image_height" /></td>
		<td>{lang_file_icon_height_desc}</td>
	</tr>
</table>
</fieldset>
<fieldset><legend><strong>{lang_site_config_heading_vtour_options}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
		<tr class=tdshade1>
		<td><strong>{lang_max_vtour_uploads}</strong></td>
		<td><input type="text" value="{controlpanel_max_vtour_uploads}"
			name="controlpanel_max_vtour_uploads" /></td>
		<td>{lang_max_vtour_uploads_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_max_vtour_upload_size}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_vtour_upload_size}"
			name="controlpanel_max_vtour_upload_size" /></td>
		<td>{lang_max_vtour_upload_size_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_max_vtour_upload_width}</strong></td>
		<td><input type="text"
			value="{controlpanel_max_vtour_upload_width}"
			name="controlpanel_max_vtour_upload_width" /></td>
		<td>{lang_max_vtour_upload_width_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td width="150"><strong>{lang_vtour_width}</strong></td>
		<td width="150"><input type="text" value="{controlpanel_vtour_width}"
			name="controlpanel_vtour_width" /></td>
		<td>{lang_vtour_width_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_vtour_height}</strong></td>
		<td><input type="text" value="{controlpanel_vtour_height}"
			name="controlpanel_vtour_height" /></td>
		<td>{lang_vtour_height_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_vtour_fov}</strong></td>
		<td><input type="text" value="{controlpanel_vtour_fov}"
			name="controlpanel_vtour_fov" /></td>
		<td>{lang_vtour_fov_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_vt_popup_width}</strong></td>
		<td><input type="text" value="{controlpanel_vt_popup_width}"
			name="controlpanel_vt_popup_width" /></td>
		<td>{lang_vt_popup_width_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_vt_popup_height}</strong></td>
		<td><input type="text" value="{controlpanel_vt_popup_height}"
			name="controlpanel_vt_popup_height" /></td>
		<td>{lang_vt_popup_height_desc}</td>
	</tr>
</table>
</fieldset>
<input type="submit" class="or_std_button" value="{lang_save_changes}" />
</form>
</div>

<script type="text/javascript">
$("#site_config_uploads").validate({
	meta: "validate",
	errorLabelContainer: "#response_text",
	submitHandler: function(form) {
		$.post("ajax.php?action=update_site_config", $("#site_config_uploads").serialize(), function(data){
			if(data.error == "1"){
				status_error(data.error_msg);
			}else{
				status_msg(data.status);
			}
		},"json");
		return false;
	}
});
</script>