<div>
	<form id="site_config_listings" method="post" action="">
	<fieldset>
		<legend><strong>{lang_site_config_heading_number_formatting}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			
			<tr class=tdshade2>
				<td width="150"><strong>{lang_number_format_style}</strong></td>
				<td width="150">
					<select name="controlpanel_number_format_style">
						{number_format_style_block}
						<option value="{value}" {selected}>{text}</option>
						{/number_format_style_block}
					</select>
					</td>
				<td>{lang_number_format_style_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_number_decimals_number_fields}</strong></td>
				<td><input type="text" value="{controlpanel_number_decimals_number_fields}" name="controlpanel_number_decimals_number_fields" /></td>
				<td>{lang_number_decimals_number_fields_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_number_decimals_price_fields}</strong></td>
				<td><input type="text" value="{controlpanel_number_decimals_price_fields}" name="controlpanel_number_decimals_price_fields" /></td>
				<td>{lang_number_decimals_price_fields_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_force_decimals}</strong></td>
				<td>
					<select name="controlpanel_force_decimals">
						{force_decimals_block}
						<option value="{value}" {selected}>{text}</option>
						{/force_decimals_block}
					</select>
					</td>
				<td>{lang_force_decimals_desc}</td>
			</tr>
			
			<tr class=tdshade2>
				<td><strong>{lang_money_format}</strong></td>
				<td>
					<select name="controlpanel_money_format">
						{money_format_block}
						<option value="{value}" {selected}>{text}</option>
						{/money_format_block}
					</select>
				</td>
				<td>{lang_money_format_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_money_sign}</strong></td>
				<td><input type="text" value="{controlpanel_money_sign}" name="controlpanel_money_sign" /></td>
				<td>{lang_money_sign_desc}</td>
			</tr>
			
			<tr class=tdshade2>
				<td><strong>{lang_date_format}</strong></td>
				<td>
					<select name="controlpanel_date_format">
						{date_format_block}
						<option value="{value}" {selected}>{text}</option>
						{/date_format_block}
					</select>
				</td>
				<td>{lang_date_format_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_zero_price_text}</strong></td>
				<td>
					<select name="controlpanel_zero_price">
						{zero_price_block}
						<option value="{value}" {selected}>{text}</option>
						{/zero_price_block}
					</select>
				<td>{lang_zero_price_text_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_site_config_price_field}</strong></td>
				<td>
					<select name="controlpanel_price_field">
						{price_field_block}
						<option value="{value}" {selected}>{text}</option>
						{/price_field_block}
					</select>	
				</td>
				<td>{lang_site_config_price_field_desc}</td>
			</tr>
		</table>
	</fieldset>
			
	<fieldset>
		<legend><strong>{lang_site_config_heading_listing_settings}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade1>
				<td ><strong>{lang_num_featured_listings}</strong></td>
				<td><input type="text" value="{controlpanel_num_featured_listings}" name="controlpanel_num_featured_listings" /></td>
				<td>{lang_num_featured_listings_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td ><strong>{lang_num_latest_listings}</strong></td>
				<td><input type="text" value="{controlpanel_num_latest_listings}" name="controlpanel_num_latest_listings" /></td>
				<td>{lang_num_latest_listings_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td ><strong>{lang_num_popular_listings}</strong></td>
				<td><input type="text" value="{controlpanel_num_popular_listings}" name="controlpanel_num_popular_listings" /></td>
				<td>{lang_num_popular_listings_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td ><strong>{lang_num_random_listings}</strong></td>
				<td><input type="text" value="{controlpanel_num_random_listings}" name="controlpanel_num_random_listings" /></td>
				<td>{lang_num_random_listings_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_use_expiration}</strong></td>
				<td>
					<select name="controlpanel_use_expiration">
						{use_expiration_block}
						<option value="{value}" {selected}>{text}</option>
						{/use_expiration_block}
					</select>
				</td>
				<td>{lang_use_expiration_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_days_until_listings_expire}</strong></td>
				<td><input type="text" value="{controlpanel_days_until_listings_expire}" name="controlpanel_days_until_listings_expire" /></td>
				<td>{lang_days_until_listings_expire_desc}</td>
			</tr>
			<tr class=tdshade1>
			<td><strong>{lang_moderate_listings}</strong></td>
				<td>
					<select name="controlpanel_moderate_listings">
						{moderate_listings_block}
						<option value="{value}" {selected}>{text}</option>
						{/moderate_listings_block}
					</select>
				</td>
				<td>{lang_moderate_listings_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_export_listings}</strong></td>
				<td>
					<select name="controlpanel_export_listings">
						{export_listings_block}
						<option value="{value}" {selected}>{text}</option>
						{/export_listings_block}
					</select>
					</td>
				<td>{lang_export_listings_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_show_listedby_admin}</strong></td>
				<td>
					<select name="controlpanel_show_listedby_admin">
						{show_listedby_admin_block}
						<option value="{value}" {selected}>{text}</option>
						{/show_listedby_admin_block}
					</select>
				</td>
				<td>{lang_show_listedby_admin_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_show_next_prev_listing_page}</strong></td>
				<td>
					<select name="controlpanel_show_next_prev_listing_page">
						{show_next_prev_listing_page_block}
						<option value="{value}" {selected}>{text}</option>
						{/show_next_prev_listing_page_block}
					</select>
					</td>
				<td>{lang_show_next_prev_listing_page_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_show_notes_field}</strong></td>
				<td>
					<select name="controlpanel_show_notes_field">
						{show_notes_field_block}
						<option value="{value}" {selected}>{text}</option>
						{/show_notes_field_block}
					</select>
				</td>
				<td>{lang_show_notes_field_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_feature_list_separator}</strong></td>
				<td><input type="text" value="{controlpanel_feature_list_separator}" name="controlpanel_feature_list_separator" /></td>
				<td>{lang_feature_list_separator_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_admin_listing_per_page}</strong></td>
				<td><input type="text" value="{controlpanel_admin_listing_per_page}" name="controlpanel_admin_listing_per_page" /></td>
				<td>{lang_admin_listing_per_page_desc}</td>
			</tr>
		</table>
	</fieldset>
			
	<fieldset>
		<legend><strong>{lang_site_config_heading_search_options}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade2>
				<td width="150"><strong>{lang_search_step_max}</strong></td>
				<td width="150"><input type="text" value="{controlpanel_search_step_max}" name="controlpanel_search_step_max" /></td>
				<td>{lang_search_step_max_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_listings_per_page}</strong></td>
				<td><input type="text" value="{controlpanel_listings_per_page}" name="controlpanel_listings_per_page" /></td>
				<td>{lang_listings_per_page_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_configured_search_sortby}</strong></td>
				<td>
					<select name="controlpanel_search_sortby">
						{search_sortby_block}
						<option value="{value}" {selected}>{text}</option>
						{/search_sortby_block}
					</select>
				</td>
				<td>{lang_configured_search_sortby_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_configured_search_sorttype}</strong></td>
				<td>
					<select name="controlpanel_search_sorttype">
						{search_sorttype_block}
						<option value="{value}" {selected}>{text}</option>
						{/search_sorttype_block}
					</select>
				</td>
				<td>{lang_configured_search_sorttype_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_configured_special_search_sortby}</strong></td>
				<td>
					<select name="controlpanel_special_search_sortby">
						{special_search_sortby_block}
						<option value="{value}" {selected}>{text}</option>
						{/special_search_sortby_block}
					</select>
				</td>
				<td>{lang_configured_special_search_sortby_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_configured_special_search_sorttype}</strong></td>
				<td>
					<select name="controlpanel_special_search_sorttype">
						{special_search_sorttype_block}
						<option value="{value}" {selected}>{text}</option>
						{/special_search_sorttype_block}
					</select></td>
				<td>{lang_configured_special_search_sorttype_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_configured_show_count}</strong></td>
				<td>
					<select name="controlpanel_configured_show_count">
						{configured_show_count_block}
						<option value="{value}" {selected}>{text}</option>
						{/configured_show_count_block}
					</select>
				</td>
				<td>{lang_configured_show_count_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_max_search_results}</strong></td>
				<td><input type="text" value="{controlpanel_max_search_results}" name="controlpanel_max_search_results" /></td>
				<td>{lang_max_search_results_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_search_list_separator}</strong></td>
				<td><input type="text" value="{controlpanel_search_list_separator}" name="controlpanel_search_list_separator" /></td>
				<td>{lang_search_list_separator_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_textarea_short_chars}</strong></td>
				<td><input type="text" value="{controlpanel_textarea_short_chars}" name="controlpanel_textarea_short_chars" /></td>
				<td>{lang_textarea_short_chars_desc}</td>
			</tr>
		</table>
	</fieldset>
			
	<fieldset>
		<legend><strong>{lang_site_config_heading_map_settings}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade2>
				<td width="150"><strong>{lang_site_config_map_type}</strong></td>
				<td width="150">
					<select name="controlpanel_map_type">
						{map_type_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_type_block}
					</select>
				</td>
				<td>{lang_site_config_map_type_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td width="150"><strong>{lang_site_config_map_address}</strong></td>
				<td width="150">
					<select name="controlpanel_map_address">
						{map_address_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_address_block}
					</select>
				</td>
				<td>{lang_site_config_map_address_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_site_config_map_address2}</strong></td>
				<td>
					<select name="controlpanel_map_address2">
						{map_address2_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_address2_block}
					</select>
				</td>
				<td>{lang_site_config_map_address2_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_site_config_map_address3}</strong></td>
				<td>
					<select name="controlpanel_map_address3">
						{map_address3_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_address3_block}
					</select>
				</td>
				<td>{lang_site_config_map_address3_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_site_config_map_address4}</strong></td>
				<td>
					<select name="controlpanel_map_address4">
						{map_address4_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_address4_block}
					</select>
				</td>
				<td>{lang_site_config_map_address4_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_site_config_map_city}</strong></td>
				<td>
					<select name="controlpanel_map_city">
						{map_city_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_city_block}
					</select>
				</td>
				<td>{lang_site_config_map_city_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_site_config_map_state}</strong></td>
				<td>
					<select name="controlpanel_map_state">
						{map_state_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_state_block}
					</select>
				</td>
				<td>{lang_site_config_map_state_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_site_config_map_zip}</strong></td>
				<td>
					<select name="controlpanel_map_zip">
						{map_zip_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_zip_block}
					</select>
				</td>
				<td>{lang_site_config_map_zip_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_site_config_map_country}</strong></td>
				<td>
					<select name="controlpanel_map_country">
						{map_country_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_country_block}
					</select>
				</td>
				<td>{lang_site_config_map_country_desc}</td>
			</tr>
			
			<tr class=tdshade1>
				<td><strong>{lang_lat}</strong></td>
				<td>
					<select name="controlpanel_map_latitude">
						{map_latitude_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_latitude_block}
					</select>
				</td>
				<td>Your Latitude field:</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_long}</strong></td>
				<td>
					<select name="controlpanel_map_longitude">
						{map_longitude_block}
						<option value="{value}" {selected}>{text}</option>
						{/map_longitude_block}
					</select>
				</td>
				<td>Your Longitude field:</td>
			</tr>
			
		</table>
	</fieldset>
	<input type="submit" class="or_std_button" value="{lang_save_changes}" />
	</form>
	
</div>

<script type="text/javascript">
$("#site_config_listings").validate({
	meta: "validate",
	errorLabelContainer: "#response_text",
	submitHandler: function(form) {
		$.post("ajax.php?action=update_site_config", $("#site_config_listings").serialize(), function(data){
			if(data.error == "1"){
				status_error(data.error_msg);
			}else{
				status_msg(data.status);
			}
		},"json");
		return false;
	}
});
</script>