<div>
<form id="site_config_seo" method="post" action="">
<fieldset><legend><strong>{lang_site_config_heading_seo_settings}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade1>
		<td width="150"><strong>{lang_url_type}</strong></td>
		<td width="150"><select name="controlpanel_url_style">
			{url_type_block}
			<option value="{value}"{selected}>{text}</option>
			{/url_type_block}
		</select></td>
		<td>{lang_url_type_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_url_seperator}</strong></td>
		<td><select name="controlpanel_seo_url_seperator">
			{url_seperator_block}
			<option value="{value}"{selected}>{text}</option>
			{/url_seperator_block}
		</select></td>
		<td>{lang_url_seperator_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_default_page}</strong></td>
		<td>
			<select name="controlpanel_default_page">
				{default_page_block}
				<option value="{value}"{selected}>{text}</option>
				{/default_page_block}
			</select>
		</td>
		<td>{lang_default_page_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_seo_default_title}</strong></td>
		<td><input type="text" value="{controlpanel_seo_default_title}"
			name="controlpanel_seo_default_title" /></td>
		<td>{lang_seo_default_title_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_seo_default_keywords}</strong></td>
		<td><input type="text"
			value="{controlpanel_seo_default_keywords}"
			name="controlpanel_seo_default_keywords" /></td>
		<td>{lang_seo_default_keywords_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_seo_default_description}</strong></td>
		<td><input type="text"
			value="{controlpanel_seo_default_description}"
			name="controlpanel_seo_default_description" /></td>
		<td>{lang_seo_default_description_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_seo_listing_title}</strong></td>
		<td><input type="text" value="{controlpanel_seo_listing_title}"
			name="controlpanel_seo_listing_title" /></td>
		<td>{lang_seo_listing_title_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_seo_listing_keywords}</strong></td>
		<td><input type="text"
			value="{controlpanel_seo_listing_keywords}"
			name="controlpanel_seo_listing_keywords" /></td>
		<td>{lang_seo_listing_keywords_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_seo_listing_description}</strong></td>
		<td><input type="text"
			value="{controlpanel_seo_listing_description}"
			name="controlpanel_seo_listing_description" /></td>
		<td>{lang_seo_listing_description_desc}</td>
	</tr>
</table>
</fieldset>

<input type="submit" class="or_std_button" value="{lang_save_changes}" />
</form>
</div>
<script type="text/javascript">
$("#site_config_seo").validate({
	meta: "validate",
	errorLabelContainer: "#response_text",
	submitHandler: function(form) {
		$.post("ajax.php?action=update_site_config", $("#site_config_seo").serialize(), function(data){
			if(data.error == "1"){
				status_error(data.error_msg);
			}else{
				status_msg(data.status);
			}
		},"json");
		return false;
	}
});
</script>