<div>
<form id="site_config_social" method="post" action="">
<fieldset><legend><strong>{lang_site_config_heading_notification_settings}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade2>
		<td  width="150"><strong>{lang_email_notification_of_new_users}</strong></td>
		<td width="150"><select name="controlpanel_email_notification_of_new_users">
			{email_notification_of_new_users_block}
			<option value="{value}"{selected}>{text}</option>
			{/email_notification_of_new_users_block}
		</select></td>
		<td>{lang_email_notification_of_new_users_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_email_notification_of_new_listings}</strong></td>
		<td><select
			name="controlpanel_email_notification_of_new_listings">
			{email_notification_of_new_listings_block}
			<option value="{value}"{selected}>{text}</option>
			{/email_notification_of_new_listings_block}
		</select></td>
		<td>{lang_email_notification_of_new_listings_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_email_users_notification_of_new_listings}</strong></td>
		<td><select
			name="controlpanel_email_users_notification_of_new_listings">
			{email_users_notification_of_new_listings_block}
			<option value="{value}"{selected}>{text}</option>
			{/email_users_notification_of_new_listings_block}
		</select></td>
		<td>{lang_email_users_notification_of_new_listings_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_email_registration_information_to_new_users}</strong></td>
		<td><select name="controlpanel_email_information_to_new_users">
			{email_information_to_new_users_block}
			<option value="{value}"{selected}>{text}</option>
			{/email_information_to_new_users_block}
		</select></td>
		<td>{lang_email_information_to_new_users_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_disable_referrer_check}</strong></td>
		<td><select name="controlpanel_disable_referrer_check">
			{disable_referrer_check_block}
			<option value="{value}"{selected}>{text}</option>
			{/disable_referrer_check_block}
		</select></td>
		<td>{lang_disable_referrer_check_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_include_senders_ip}</strong></td>
		<td><select name="controlpanel_include_senders_ip">
			{include_senders_ip_block}
			<option value="{value}"{selected}>{text}</option>
			{/include_senders_ip_block}
		</select></td>
		<td>{lang_include_senders_ip_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_floor_agent}</strong></td>
		<td><select name="controlpanel_floor_agent[]" multiple="multiple">
			{floor_agent_block}
			<option value="{value}"{selected}>{text}</option>
			{/floor_agent_block}
		</select></td>
		<td>{lang_floor_agent_desc}</td>
	</tr>
</table>
</fieldset>
<fieldset><legend><strong>{lang_rss_config}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade1>
		<td  width="150"><strong>{lang_rss_title_featured}</strong></td>
		<td width="150"><input type="text" value="{controlpanel_rss_title_featured}"
			name="controlpanel_rss_title_featured" /></td>
		<td>{lang_rss_title_featured_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_rss_desc_featured}</strong></td>
		<td><textarea rows="5" cols="35"
			name="controlpanel_rss_desc_featured">{controlpanel_rss_desc_featured}</textarea></td>
		<td>{lang_rss_desc_featured_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_rss_listingdesc_featured}</strong></td>
		<td><textarea rows="5" cols="35"
			name="controlpanel_rss_listingdesc_featured">{controlpanel_rss_listingdesc_featured}</textarea></td>
		<td>{lang_rss_listingdesc_featured_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td width="100"><strong>{lang_rss_limit_featured}</strong></td>
		<td><input type="text" value="{controlpanel_rss_limit_featured}"
			name="controlpanel_rss_limit_featured" /></td>
		<td>{lang_rss_limit_featured_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_rss_title_lastmodified}</strong></td>
		<td><input type="text"
			value="{controlpanel_rss_title_lastmodified}"
			name="controlpanel_rss_title_lastmodified" /></td>
		<td>{lang_rss_title_lastmodified_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_rss_desc_lastmodified}</strong></td>
		<td><textarea rows="5" cols="35"
			name="controlpanel_rss_desc_lastmodified">{controlpanel_rss_desc_lastmodified}</textarea></td>
		<td>{lang_rss_desc_lastmodified_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_rss_listingdesc_lastmodified}</strong></td>
		<td><textarea rows="5" cols="35"
			" name="controlpanel_rss_listingdesc_lastmodified">{controlpanel_rss_listingdesc_lastmodified}</textarea></td>
		<td>{lang_rss_listingdesc_lastmodified_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td width="100"><strong>{lang_rss_limit_lastmodified}</strong></td>
		<td><input type="text"
			value="{controlpanel_rss_limit_lastmodified}"
			name="controlpanel_rss_limit_lastmodified" /></td>
		<td>{lang_rss_limit_lastmodified_desc}</td>
	</tr>
	
	<tr class=tdshade1>
		<td><strong>{lang_rss_title_latestlisting}</strong></td>
		<td><input type="text"
			value="{controlpanel_rss_title_latestlisting}"
			name="controlpanel_rss_title_latestlisting" /></td>
		<td>{lang_rss_title_latestlisting_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_rss_desc_latestlisting}</strong></td>
		<td><textarea rows="5" cols="35"
			name="controlpanel_rss_desc_lastmodified">{controlpanel_rss_desc_latestlisting}</textarea></td>
		<td>{lang_rss_desc_latestlisting_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_rss_listingdesc_latestlisting}</strong></td>
		<td><textarea rows="5" cols="35"
			" name="controlpanel_rss_listingdesc_latestlisting">{controlpanel_rss_listingdesc_latestlisting}</textarea></td>
		<td>{lang_rss_listingdesc_latestlisting_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td width="100"><strong>{lang_rss_limit_latestlisting}</strong></td>
		<td><input type="text"
			value="{controlpanel_rss_limit_latestlisting}"
			name="controlpanel_rss_limit_latestlisting" /></td>
		<td>{lang_rss_limit_latestlisting_desc}</td>
	</tr>
	
	
	<tr class=tdshade1>
		<td><strong>{lang_rss_title_blogpost}</strong></td>
		<td><input type="text" value="{controlpanel_rss_title_blogposts}"
			name="controlpanel_rss_title_blogposts" /></td>
		<td>{lang_rss_title_blogpost_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_rss_desc_blogpost}</strong></td>
		<td><textarea rows="5" cols="35"
			name="controlpanel_rss_desc_blogposts">{controlpanel_rss_desc_blogposts}</textarea></td>
		<td>{lang_rss_desc_blogpost_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_rss_title_blogcomments}</strong></td>
		<td><input type="text" value="{controlpanel_rss_title_blogcomments}"
			name="controlpanel_rss_title_blogcomments" /></td>
		<td>{lang_rss_title_blogcomments_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_rss_desc_blogcomments}</strong></td>
		<td><textarea rows="5" cols="35"
			name="controlpanel_rss_desc_blogcomments">{controlpanel_rss_desc_blogcomments}</textarea></td>
		<td>{lang_rss_desc_blogcomments_desc}</td>
	</tr>
</table>
</fieldset>

<fieldset><legend><strong>{lang_social_config}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade1>
		<td><strong>{lang_twitter_consumer_key}</strong></td>
		<td><input type="text" value="{controlpanel_twitter_consumer_key}" name="controlpanel_twitter_consumer_key" /></td>
		<td>{lang_twitter_consumer_key_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_twitter_consumer_secret}</strong></td>
		<td><input type="text" value="{controlpanel_twitter_consumer_secret}" name="controlpanel_twitter_consumer_secret" /></td>
		<td>{lang_twitter_consumer_secret_desc}</td>
	</tr>
	
	<tr class=tdshade2>
		<td><strong>{lang_twitter_callback_url}</strong></td>
		<td colspan="2">{baseurl}/admin/index.php?action=twitterback </td>
	</tr>
	
	<tr><td></td></tr>
	
	<tr class=tdshade1>
		<td></td>
		<td colspan="2" id="twitter_link_container">{twitter_auth}</td>
	</tr>
	
	<tr><td></td></tr>

	<tr class=tdshade2>
		<td><strong>{lang_social_twitter_new_listing}</strong></td>
		<td><select name="controlpanel_twitter_new_listings">
			{twitter_new_listings_block}
			<option value="{value}"{selected}>{text}</option>
			{/twitter_new_listings_block}
		</select></td>
		<td>{lang_social_twitter_new_listing_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_social_twitter_update_listing}</strong></td>
		<td><select name="controlpanel_twitter_update_listings">
			{twitter_update_listings_block}
			<option value="{value}"{selected}>{text}</option>
			{/twitter_update_listings_block}
		</select></td>
		<td>{lang_social_twitter_update_listing_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td  width="150"><strong>{lang_social_twitter_new_blog}</strong></td>
		<td width="150"><select name="controlpanel_twitter_new_blog">
			{twitter_new_blog_block}
			<option value="{value}"{selected}>{text}</option>
			{/twitter_new_blog_block}
		</select></td>
		<td>{lang_social_twitter_new_blog_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td  width="150"><strong>{lang_twitter_include_listing_photo}</strong></td>
		<td width="150"><select name="controlpanel_twitter_listing_photo">
			{twitter_new_listing_photo_block}
			<option value="{value}"{selected}>{text}</option>
			{/twitter_new_listing_photo_block}
		</select></td>
		<td>{lang_twitter_include_listing_desc}</td>
	</tr>
	
</table>
</fieldset>

<input type="submit" class="or_std_button" value="{lang_save_changes}" />

</form>

</div>

<script type="text/javascript">
$("#site_config_social").validate({
	meta: "validate",
	errorLabelContainer: "#response_text",
	submitHandler: function(form) {
		$.post("ajax.php?action=update_site_config", $("#site_config_social").serialize(), function(data){
			if(data.error == "1"){
				status_error(data.error_msg);
			}else{
				status_msg(data.status);
			}
		},"json");
		return false;
	}
});
$("#disconnect_twitter").click(function(){
	$.post("ajax.php?action=twitter_disconnect", {}, function(data){
		if(data.error == "1"){
			status_error(data.error_msg);
		}else{
			status_msg(data.status);
			$("#twitter_link_container").html(data.url);
		}
	},"json");
	
	return false;
});
</script>