<div class ="application_main">

   <div class="application_section">
   		<img src="{template_url}/images/icon_large_site_statistics.png" alt="{lang_admin_view_statistics}" />
		<div class="application_section_title">{lang_admin_view_statistics}</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
		<div class="inner_div_wrapper">
			
			<!-- the tabs --> 
			<div id="tabs">
				
				<ul> 
		   			<li><a href="#Stats">Main</a></li> 
		   			{check_edit_site_config}
		   			<li><a href="#Configure">Configure</a></li>
		   			<li><a href="#Clear">{lang_clear_log}</a></li>
		   			{/check_edit_site_config}
				</ul> 
		 
				<!-- begin panes -->  
				<div id="Stats">
					<p>Coming Soon</p>
				</div>
				
				<div id="Configure">
					<form id="site_config_tracking" method="post" action="">
						<fieldset>
							<legend><strong>{lang_site_config_heading_notification_settings}</strong></legend>
							<table cellspacing="0" cellpadding="3" width="99%" border="0">
								<tr class=tdshade2>
									<td width="130"><strong>{lang_enable_tracking}</strong></td>
									<td><select name="controlpanel_enable_tracking">
										{enable_tracking_block}
										<option value="{value}"{selected}>{text}</option>
										{/enable_tracking_block}
									</select></td>
									<td>{lang_enable_tracking_desc}</td>
								</tr>
								<tr class=tdshade1>
									<td><strong>{lang_enable_tracking_crawlers}</strong></td>
									<td><select
										name="controlpanel_enable_tracking_crawlers">
										{enable_tracking_crawlers_block}
										<option value="{value}"{selected}>{text}</option>
										{/enable_tracking_crawlers_block}
									</select></td>
									<td>{lang_enable_tracking_crawlers_desc}</td>
								</tr>
							</table>
						</fieldset>
						<input type="submit" class="or_std_button" value="{lang_save_changes}" />
					</form>
				</div>
				
				<div id="Clear">
					<span class="or_std_button red" style="text-align: center;"><a href="index.php?action=clear_statistics_log" onclick="return confirmDelete()"><img src="{template_url}/images/generic_icon_delete.png" alt="{lang_clear_log}"/> {lang_clear_log}</a></span>
				</div>	
				
				
			</div>
			
		</div>
		<div class="clear"></div>
		
	</div>
</div>