/*       BEGIN CUSTOM jQueryUI OVERRIDES        */

/* Media Widget jQueryUI Accordion custom CSS */
#accordion {
	background: #ffffff;
	border-left: 1px solid #ccc;
	border-top: 1px solid #bbb;
	padding:2px;
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}

/* accordion header */
#accordion >  a:hover {
	text-decoration:none;
	color: #000;
	background: #f4f7ff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f7ff 0%, #c6ccd3 40%, #d2d2dd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#c6ccd3), color-stop(100%,#d2d2dd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f7ff 0%,#c6ccd3 40%,#d2d2dd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f7ff 0%,#c6ccd3 40%,#d2d2dd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f7ff 0%,#c6ccd3 40%,#d2d2dd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f7ff 0%,#c6ccd3 40%,#d2d2dd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#d2d2dd',GradientType=0 ); /* IE6-9 */

}
#accordion >  a {
	background: #f4faff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4faff 0%, #f2f2f2 58%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4faff), color-stop(58%,#f2f2f2), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4faff 0%,#f2f2f2 58%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4faff 0%,#f2f2f2 58%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4faff 0%,#f2f2f2 58%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4faff 0%,#f2f2f2 58%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4faff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
	border-radius: 0;
	color: #0415FE;
	margin:0;
	padding:5px 15px;
	font-size:11pt;
	font-weight:bold;
	text-align:center;
	border:1px solid #bbb;
	border-bottom:1px solid #ddd;
	cursor:pointer;
	display:block;
	text-shadow: 1px 1px 1px white;
}

/* currently active header */
#accordion > a.ui-state-active {
	color: #000;
	cursor:default;
	font-weight:bold;
	background: #f4f7ff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f7ff 0%, #c6ccd3 40%, #abb5b0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#c6ccd3), color-stop(100%,#abb5b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f7ff 0%,#c6ccd3 40%,#abb5b0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f7ff 0%,#c6ccd3 40%,#abb5b0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f7ff 0%,#c6ccd3 40%,#abb5b0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f7ff 0%,#c6ccd3 40%,#abb5b0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#abb5b0',GradientType=0 ); /* IE6-9 */
}

/* accordion pane */
#accordion div.pane {
	border-radius: 0;
	display:none;
	height:100%;
	min-height:130px;
	padding:0px;
	color:#000000;
	font-size:12px;
	background: #f4f7ff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f7ff 0%, #e8e8e8 47%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(47%,#e8e8e8), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f7ff 0%,#e8e8e8 47%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f7ff 0%,#e8e8e8 47%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f7ff 0%,#e8e8e8 47%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f7ff 0%,#e8e8e8 47%,#d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
}

/* a title inside pane */
#accordion div.pane h3 {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
}


/*    jQueryUI mini-tabs    */

#mini-tabs .ui-tabs-anchor {
/*	font-size: .9em; */
  	padding: .2em .5em;
}


/*    jQueryUI tabs    */

#tabs .ui-tabs-anchor {
    padding: .3em 1em;
}


/*    Global tabs stuff     */

#tabs, #mini-tabs {
	padding: 0px;
}

#tabs.ui-widget.ui-widget-content, #mini-tabs.ui-widget.ui-widget-content {
    border: 0px;
}

#tabs .ui-widget-header, #mini-tabs .ui-widget-header {
	border: none;
	border-bottom: 1px solid #999;
	background: none;
}

#tabs > div, #mini-tabs > div  {
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	padding:10px 10px;
	background: #F5F5F5;
}

#tabs .ui-state-default, #mini-tabs .ui-state-default {
	color: #777;
	border-color: #666;
	background: url('{template_url}/images/d_gray_gradient.png');
}

#tabs .ui-state-active, #mini-tabs .ui-state-active {
	color: #333;
	background: #F7F7F7;
	text-shadow: 1px 1px 2px #ccc;
}

#tabs .ui-state-hover, #mini-tabs .ui-state-hover  {
	color:#666;
	background: #eee;
}

#tabs .ui-corner-all, #mini-tabs .ui-corner-all {
    border-bottom-right-radius: 0px;
}
#tabs .ui-corner-all, #mini-tabs .ui-corner-all {
    border-bottom-left-radius: 0px;
}

.ui-tabs-anchor {
	outline-color: transparent;
}

#tabs .ui-tabs-nav, #mini-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0px;
}


/* mini tabs for Admin area statistics */

#listingstats #mini-tabs .ui-state-default {
	border-color: #D6D6D6;
}

#listingstats #mini-tabs .ui-state-active {
	background: #eefddc;
}

#listingstats #mini-tabs > div {
	border: 1px solid #D6D6D6;
	border-width: 0px 1px 1px 1px;
	background: #eefddc;
}

#listingstats #mini-tabs .ui-widget-header {
	border-bottom: 1px solid #D6D6D6;
	background: #FAFAFA;
}



/* mini-tabs for Blog publisher categories */

#Configure #mini-tabs .ui-widget-header {
	background: #FAFAFA;
}
.blog_edit_sub_section #mini-tabs .ui-widget-header {
	background: #F2F2F2;
}
