@CHARSET "UTF-8";

.form_div {
	margin: 2px 0px;
}
.form_div input[type="text"], .form_div select, .form_div textarea, .form_div input[type="password"] {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 9pt;
	min-width: 165px;
	margin: 1px;
}

.form_div select {
	min-width: 60px;
}
.form_div input[type='text']:focus, .form_div textarea:focus, .form_div input[type="password"]:focus {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}
.form_div option {
	background: #fff;
}
.form_div select:focus {
	background-color: #fff;
}

.user_field_caption {
	float: left;
	text-align: right;
	padding-right: 2px;
	padding-top: 2px;
	font-size: 8pt;
	font-weight: bold;
	width: 42%;
}
.user_field_element {
	float: right;
	text-align: left;
	width: 57%;
}




.edit_users {
	border:1px solid #AAA;
	width:100%;
	margin-bottom:3px;
	padding:0 0 3px;
}

.quick_edit {
	padding: 5px;
}

.filter_div {
	margin-left: 5px;
	margin-right: 5px;
	padding: 0px;
	font-size: 1.1em;
}

.filter_divs {
	float: left;
	padding: 0px 12px 2px 12px;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	text-align: center;
	border-color:#aaa;
	/*width: 33.2%;*/
	height: 30px;
}

.filter_div select{
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	font-size: 1.1em;
	color: #2f4f4f;
	min-width: 50px;
}
.filter_divs input[name="lookup_value"] {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #2f4f4f;
	width: 150px;
	font-size: 1.1em;
}

.filter_divs input[type='text']:focus  {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}

.or_std_button.filter {
	margin: 3px;
}

#add_user_but {
	margin: 2px;
}

#add_user_link.or_std_button  {
	padding: 4px 20px;
	display: block;
	text-align: center;
	border-color: #67C8FF;
	font-size: 1.2em;
}


#add_user_form {
	padding: 10px;
}
#add_user_form table td {

	margin: 4px;
	padding: 2px;
}

.add_user_field_caption {
	text-align: right;
	padding-right: 2px;
	font-weight: bold;
}
.add_user_field_element {
	text-align: left;
}

/* user_manager.html items */
/****************************/

.edit_users.result_row_0 > .userheader {
background-color:#BBB;
}
.usertitle{
	float:left;
}
.user_full_name{
		font-size: 1em;
	font-weight: 700;
}





table.edit_users {
	border:1px solid #AAA;
	width:100%;
	margin:-1px auto 0;
	padding:0 0 3px;
	font-size: 1.1em;
}

table.edit_users th {
background: #e8f5ff; /* Old browsers */
background: -moz-linear-gradient(top,  #e8f5ff 0%, #eaeaea 38%, #b5c6d0 100%, #f4f8f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8f5ff), color-stop(38%,#eaeaea), color-stop(100%,#b5c6d0), color-stop(100%,#f4f8f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e8f5ff 0%,#eaeaea 38%,#b5c6d0 100%,#f4f8f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e8f5ff 0%,#eaeaea 38%,#b5c6d0 100%,#f4f8f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e8f5ff 0%,#eaeaea 38%,#b5c6d0 100%,#f4f8f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e8f5ff 0%,#eaeaea 38%,#b5c6d0 100%,#f4f8f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f5ff', endColorstr='#f4f8f9',GradientType=0 ); /* IE6-9 */


	color:#000;
	font-weight:500;
	text-align:left;
	padding:2px 4px;
}
table.edit_users .useractions {
	text-align:right;
}

table.edit_users .userinfo {
	text-align:right;
	padding-right:8px;
}

table.edit_users .usersimage img {
	margin:3px;
	border: 1px solid #AAA;
	-webkit-box-shadow: 1px 1px 1px 2px #DDD;
	-moz-box-shadow: 1px 1px 1px 2px #dddddd;
	box-shadow: 1px 1px 1px 2px #DDD;
	max-height:100px;
}

.userheader {
	height: 30px;
}

.useractions a {
	color:#2f4f4f;
	padding: 3px 6px;
	border: 1px solid #888;
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 0%, #fcfcfc 41%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(41%,#fcfcfc), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#fcfcfc 41%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f2f2 0%,#fcfcfc 41%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f2f2 0%,#fcfcfc 41%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2f2f2 0%,#fcfcfc 41%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f2f2f2", endColorstr="#e0e0e0",GradientType=0 ); /* IE6-9 */
}

.useractions a:hover {
	color:#000;
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #fcfcfc 50%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(50%,#fcfcfc), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#fcfcfc 50%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%,#fcfcfc 50%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%,#fcfcfc 50%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f7f7f7 0%,#fcfcfc 50%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f2f2f2", endColorstr="#efefef",GradientType=0 ); /* IE6-9 */
	border-color:#666;
}
.useractions img {
	vertical-align: middle;
	margin-right: 2px;
}


.usersimage {
	width: 170px;
}
.userstatus {
	margin: 2px 0px;
}
.userstatus .label {
	font-size: 1em;
	font-weight: 700;
}

.userdetails{
	float:left;
	margin: 10px 20px;
	font-size: 1.1em;
}


.usercontent .label{
	font-size: 1em;
	font-weight: 700;
}
.usercontent img {
	vertical-align: bottom;
}


#message_text , #message_text td{
	padding:4px;
	line-height: 1.3em;
}


.edit_user_yes {
	color:#090;
	background: url('{template_url}/images/blue_gradient.png');
}
.edit_user_no {
	color:red !important;
}

a.edit_user_yes, a.edit_user_no {
	display: inline-block;
	text-decoration:none;
	text-align: center;
	min-width: 20px;
	font-size: 1em;
	font-weight: 600;
	padding: 2px 4px;
	border: 1px solid #aaa;
	margin-left: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a.edit_user_yes:hover, a.edit_user_no:hover {
	background: url('{template_url}/images/blue_gradient.png');
	opacity: .8;
	border: 1px solid #666;
}