<div class ="application_main">
   <div class="application_section">
   	<img src="{template_url}/images/icon_large_sitelog.png" alt="{lang_admin_view_log}" />
			<div class="application_section_title">{lang_log_viewer}</div>
			<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
		<div class="inner_div_wrapper">
			
			<div class="log_dtcontainer">
				<table class="log_viewer" cellpadding="0" cellspacing="0" summary="{lang_log_viewer_}">
					<thead>
						<tr>
							<th>{lang_id_caption}</th>
							<th>{lang_date}</th>
							<th>{lang_user_ip}</th>
							<th>{lang_user_manager_user_name}</th>
							<th>{lang_action}</th>
						</tr>
					</thead>
					<tbody>
						  <tr>
							  <td colspan="5" class="dataTables_empty">Loading data from server</td>
						  </tr>
					</tbody>
				</table>
			</div>
			<div class="clear"></div>
			
		</div>
		
		<div class="clear"></div>
	</div>
     
</div>
<script type="text/javascript" src="{baseurl}/node_modules/datatables/media/css/jquery.dataTables.min.css"></script>
{load_css_datatable}
<script type="text/javascript" src="{baseurl}/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>

<script>
	var asInitVals = new Array();
	var Table = $('.log_viewer').DataTable({
		"processing": true,
		"serverSide": true,
		"autoWidth":false,
		"ajax": "ajax.php?action=ajax_viewlog_datatable",
		"pagingType": "full_numbers",
		"pageLength": 25,
		"lengthMenu":  [ 25, 50, 100, 200 ],
		"order": [[ 0, "desc" ]],
		"columns": [ 
			{ "width": "70px"  },
			{ "width": "170px" },
			{ "width": "120px" },
			{ "width": "170px" },
			null
		],
		"sDom": '<"top" <i  <"div.savedelete"> l><"clear"><"space_10"> fp <"clear"> > rt <"bottom"ip<"clear">>'
				
	});
	$("div.savedelete").html('<button type="button" class="or_std_button" id="export_logs"><span class="ui-icon ui-icon-arrowthickstop-1-s"></span> {lang_download_file}</button></span> <span class="or_std_button red"><a href="index.php?action=clear_log" onclick="return confirmDelete()"><span class="ui-icon ui-icon-trash"></span> {lang_clear_log}</a></span>');
	
	$("tfoot input").keyup( function () {
	    /* Filter on the column (the index) of this element */
	    oTable.fnFilter( this.value, $("tfoot input").index(this) );
	} );
	/*
	 * Support functions to provide a little bit of 'user friendlyness' to the textboxes in 
	 * the footer
	 */
	$("tfoot input").each( function (i) {
	    asInitVals[i] = this.value;
	} );
	 
	$("tfoot input").focus( function () {
	    if ( this.className == "search_init" ) {
	        this.className = "";
	        this.value = "";
	    }
	} );
	 
	$("tfoot input").blur( function (i) {
	    if ( this.value == "" ) {
	        this.className = "search_init";
	        this.value = asInitVals[$("tfoot input").index(this)];
	    }
	} );
	
	$("#export_logs").click(function(){
		jQuery.download('ajax.php?action=ajax_export_logs');
		return false;
	});
	
	jQuery.download = function(url){
	    // Build a form
	    var form = $('<form></form>').attr('action', url).attr('method', 'post').attr('target', '_blank');
	    // Add the one key/value
	    //form.append($("<input></input>").attr('type', 'hidden').attr('name', key).attr('value', data));
	    //send request
	    form.appendTo('body').submit().remove();
	}
	
</script>