<div class ="application_main">

   <div class="application_section">
   		<img src="{template_url}/images/icon_large_lead_view.png" alt="{lang_admin_view_leads}" />
			<div class="application_section_title">{lang_admin_lead_manager}</div>
			<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
		<div class="inner_div_wrapper">
		         			
		   <div class="navspace">
		
				<div style="height: 10px;"></div>	
					
				<div class="leftnav">
					{leadmanager_pg_First}
				</div>	
				<div class="leftnav">	
					{leadmanager_pg_Previous}
				</div>
				<div class="rightnav">
					{leadmanager_pg_Last}    
				</div>	
				<div class="rightnav">  	
					{leadmanager_pg_Next}			
				</div>
						
				<div style=" float: left;">
					<span style="font-size: 10pt; padding-left: 20px;">
					<a href="{baseurl}/admin/index.php?action=leadmanager_feedback_edit&amp;feedback_id={feedback_id}" class="or_std_button save_note">
						Edit Lead#&nbsp;{feedback_id}
					</a>
					</span>
					<span style="font-weight: bold; font-size: 10pt; padding-left: 60px;">Priority: </span><span style="">{leadmanager_priority} </span>
				</div>
				<div style=" float: right; padding-right: 10px;">
					<div style=" float: left;" > 
						<span id ="assigned_to" style="font-weight: bold; font-size: 10pt;">Assigned To:</span>&nbsp;
					</div>
					<div style=" float: left;"> 
						
						{leadmanager_agent_select}	
						
						<!-- WTF is this for?
						<select name="assigned_to">
							{assigned_to_block}
							<option value="{value}"{selected}>{text}</option>
							{/assigned_to_block}
						</select>
						-->
					</div>
				</div>
				<div>
					{leadmanager_status}
				</div>
			
								
				
			</div>	
			<div class="space_5">&nbsp;</div>
			
			<div class="application_rounded_box">
				
				<div style="width: 100%;">
					<div class="member_container">
					
						
						<div class="member_view_info_container">
							<span class="member_info_caption">First Name:</span> <span class="member_info_data">{member_first_name}</span><br />
							<span class="member_info_caption">Last Name:</span> <span class="member_info_data">{member_last_name}</span><br />
							<span class="member_info_caption">Email:</span> <span class="member_info_data"><a href="mailto:{member_email}">{member_email}</a></span><br />
							{member_display_info}	
						</div>
						
						
						
					</div>
					<div class="display_locations_container">
						<table id="display_locations">	
							<tr>
								<td class="col_100" colspan="2">
									<div id="headline">
										{headline}
									</div>
								</td>
							</tr>		
							<tr>					
								<td class="col_50">
									<div id="top_left">
										{top_left}
									</div>
								</td>
								<td class="col_50">
									<div id="top_right">
										{top_right}
									</div>
								</td>
							</tr>
							<tr>
								<td class="col_100" colspan="2">
								<div id="center">
										{center}
									</div>
								</td>
							</tr>
							<tr>						
								<td class="col_50">
									<div id="top_left">
										{bottom_left}
									</div>
								</td>
								<td class="col_50">
									<div id="top_right">
										{bottom_right}
									</div>
								</td>
							</tr>	
						</table>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="space_5">&nbsp;</div>
				<div style="width: 100%; ">
						
					<div style="float: left; width: 50%;">
						<div class="application_rounded_box lead_listing_details">
							<a href="{edit_listing_link}" title="" target="_blank" class="thumb"><img src="{raw_image_thumb_1}" />
							<span class="lead_listing_title">{listing_title}</span></a>
						</div>
					
						<div class="application_rounded_box lead_notes">
							<div class="application_rounded_box_title" >
								Staff Notes:
							</div>

							<form id="change_notes" class="change_notes" action="index.php?action=leadmanager_viewfeedback" method="post">
								<input type="hidden" id="feedback_id" name="feedback_id" value="{feedback_id}" />
								<textarea id="staff_notes" name="staff_notes" rows="5" cols="10">{notes}</textarea>
							</form>
				
							<div class="note_div"> 
								<a href="#" id="save_note" class="or_std_button save_note">{lang_leadmanager_save_note} <img class="save_note_img" src="{template_url}/images/icon_save_16.png" alt="Save" /></a>
							</div>
							<div class="clear"></div> 	
						</div>
					</div>
					
					<div style="float: right; width: 50%;">
						<div class="application_rounded_box  calendar_div">
							<div id="calendar"></div>
						</div>	
						
					</div>
					<div class="clear"></div> 
				</div>											
					
			</div>	
			
			<div class="space_5">&nbsp;</div>
			<div class="navspace">
				<div style="height: 20px; padding: 4px; text-align: center;">
					<div class="leftnav">
						{leadmanager_pg_First}
					</div>	
					<div class="leftnav">	
						{leadmanager_pg_Previous}
					</div>
					<div class="rightnav">
						{leadmanager_pg_Last}    
					</div>	
					<div class="rightnav">  	
						{leadmanager_pg_Next}			
					</div>
			
					<div style="padding-top: 5px;">
						<div style="font-weight: bold; text-align: right; float: left;margin-right: 10px;  margin-left: 10px">Created: </div> 
						<div style="text-align: left;  float: left;">{creationdate}</div>
						<div style="font-weight: bold;  text-align: right; float: left; margin-right: 10px; margin-left: 10px">Last Modified:</div> 
						<div style="text-align: left; float: left;">{lastmodified}</div>
						<div style="font-weight: bold; text-align: right; float: left; margin-right: 10px; margin-left: 10px;">Last Modified By:</div> 
						<div style="text-align: left;  float: left;  ">{modifiedby}</div>
					</div>
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
	</div>
</div>